<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
   (The Initial Stride To Success)

If you can tolerate success and what it takes to succeed; then, you will surely recognize your true mission in life.

Some people fail, not out of desire but due to their deprivation of the essence of human existence.

Modification by intensive restructuring increases utility. For example, a bar of iron could be valued at $10.00.When that piece of iron is used in a ship manufacture its new value increases.

In addition, should one decide to use a similar valued piece of iron to manufacture needles or galvanized components of microchips, there would be a dramatic rise in worth of the restructured piece of iron.

Let us have a look at a different value addable unit-human being.

Theoretically speaking, the "more learned" a person is the "more useful"

He becomes to the society. Assuming this proposition be true, then, a primary school person is more "valuable" to the society than a complete illiterate. And a high school graduate is "more useful" than an elementary six graduate.

By the same token, a university graduate is "more useful" to a society than all the other "less educated" people. But, from a practical viewpoint, education alone does not determine a success or lack of it in life.

I have always believed, it is not a good thing to be an employee of another person if you do have enough money to be your own boss. You will spare yourself all unneeded insults and humiliations. Commonly, though, bosses do exist who are not versed in the proper ways to rechannel their personal difficulties. Their problems could be home related issues, matrimonial disharmonies, and some inabilities to relate to sick relatives. Such bosses are apt to transfer their burdens to their employees who are only at a loss with regard to the problems facing their employers.

Seek out something more rewarding. Get out from the cloud. Commence a new you. You will be seen on the top of the world.

There is no getting around the need to become a success in a worthy cause.

What then is worthier 6an an investment one makes to improve his own over-all legacy? It is this type of self-improvement one must constantly give his peak of priority.

Here is the idea packed with possibilities. Oh my, it is not everyone who has gotten hold on this idea. They fear to use it either by omission or by negligence.

Between the ages of creative involvement and uninvenfive metapause retractive inventiveness has waged a world-wide war on mankind and on human progress.

Past Plights With Blessed Hopes: Of all people, the Jews and Blacks are the ones who have suffered the most.

The Jews, however, have received such an Amazing Blessings, so great to imagine.

It seems, though, the Blacks who still share the Blessings of Hardship are eternally trapped by the pangs of destiny. In an ideal world, things should not be so. Blacks are not less God worshipping than any other human race.

Blacks are not less intelligent, nor less hardworking than any other human race. Blacks are not uglier, nor less deserving than others. What then is the problem with the Black race? Why then should Black people be the poorest race in the whole world?

Something is got to change; and that very soon. In South Africa alone majority of that gold rich nation live in worst form of penury. In Australia, the Papua, New Guineans is a symbol of Black condition in that continent. In Europe, Western Europe in particular, Blacks are looked upon as something less than descent. The British authorities always treat Black leadership with open contempt.

Japan, The Pride of Asia, views Blacks as something less than holy.

These upheavals not withstanding, lt is only the Black people who can change that perception.

It is always when things seem darkest that the brightest star start to shine. "Tough times never last" wrote Dr. Robert Schuller. "But tough people do." If the Blacks will catch the moment and face the challenges, sooner or later, the world will see Blacks in a completely different light.

Blacks will be praised rather than despised; admired rather than dejected; and embraced rather than the current state of contempt which is the current regard for the Black race.

There is hope for everyone who believes that no condition is eternal.

Such a fellow does not only have an admirable quality, he is better than a hopeless rascal whose material abundance is at his beck and call.

Hard work does not kill. Hard work, self-discipline, hope for the future and saving are the first instruments of success.

Africa cannot stand unless Africans truly love themselves, their continent, and everything which will make that great continent a better place to five until Africans abroad become emotional and very passionate in this call for African revival.

Africa used to be the center of world civilization. The glory was lost when forces of disintegration, impediment, and unpatriotism crept into the fabric of African culture.

The rich civilization was abandoned.

Foreign things such as tastes, preference, and above all, imported culture were embraced at the expense of glorious past. Self-hatred found expression in the ways Africans hotly pursued the foreign values.

Traditional values were labeled "backward" and "paganistic." Ironically, the rich traditions were branded "primitive" at best. Everything African were viewed valueless at subconscious level prior the the fall of African civilization.

Had Africans truly resisted the imported culture, African past would have remained a dominant prestige even till this point in time. "The price of failure" wrote a writer "is always greater than the price of success."

Nonetheless, any failure not withstanding, a failure's legacy is nothing but transient.

There comes a point in the life of every human being; African inclusive, when he sees the need to translate every living obstacle into a stepping board to a higher ground. A few Americans did it; today American society is a power to be reckoned with. Some far-sighted Japanese people did it; today Japan commands a grand position in economic world. If America and Japan were able to do it, if members of those two societies do not have extra physical endowment except all the physical characteristics common to mankind; if those people started right from the scratch with little or nothing; it is equally obvious, "Africans" who "have a reputation of outperforming the originator of an event" can do it even better should Africans see the need to try.

Africa can do it. It is not greater than what Africans can do. Should Africa do it, this is the needed relief in sight.

Self-sacrifice is essential to achieve. And that is one of the prices one must pay for success. This is the time for a new wave of ambition. This is the moment to accept past errors, learn from past mistakes, and to convert the convertible errors into their blessed equivalents.

Hardship teaches its "good students" the steps essential to overcome.

The Jews have learnt this lesson time without number. An in-depth study of Jewish history reveals a legacy in past wounds, rebellions, subjugation, grand returns; and in short, to borrow a Biblical phrase a replete of "the bones" which did "rise again."

Yes, The Jewish Bones were dried in captivities not only in Egypt, Babylon, but also in Adolf Hitler's gas chambers.

"Thing being equal", the Jewish remnants did not give up their struggles.

Today the Jews are richly blessed at home and abroad. The Jews have learned that vital lesson we've been talking about. They've understood the legacy of patriotism. They've translated that legacy into a notable zeal in Jewish cause .

Africans must learn something from the Jews. Many things must change.

Self-despise must be replaced with maximum patriotism.

Creative binge, and total pursuit of excellence must be encouraged. Loyal patriotism must not only be taught, encouraged, it must of need be made the herm in term in every form of African regional and international policy.

Chapter 3
(The Second Stride to Amazing Success)

Motivation is provision of an incentive which generates ardent zeal in pursuit of a desirable goal. Motivation is a function of enthusiasm. 'Mis enthusiasm is a myth; but, it works.

Often times, people talk about such issues as "self-fulfillment", "self-fulfilling prophecy" or an "omen" without much elaboration on how each of them works.

Self-fulfillment can only be gotten from a desirable goal when ever there is an emotional attachment while in pursuit of that objective which one so fervently does desire. A self-fulfilling prophecy has a way with an individual's beliefs and his beliefs' inclinations. For a prophecy to come true, a beliefs inclinations must be carried out; of course, by as a result of tenacity due that same belief.

An omen is a premonition. It can be a warning before evil befalls; or a sign prior to good things coming to the persons way.

'Mere is an amazing way through which an event finds actualization in the life of a person "destined" either to "fail" or to "succeed". For example, King Chaka, the Zulu became a great leader through the chains of events.

Major General Aguiyi Ironsi became a Nigerian Military Statesman by forces of circumstance. It was also the same events that took him through the gates of portals.

Harcourt White was a leper in Uzuakoli leper colony. One would have thought that his own God had done him in. From that type of gross condition, he found the need to use his vocal talent for the benefit of mankind.

In the United States, for example Mr. Roosevelt was a cripple. His condition was "a good reason" enough for him to give up all hopes and become nothing but a professional beggar. Yes, a few charity donors would have given him a few dimes and dollars if he had chosen to sit by the roadside; like a beggar, begging for money.

Doubtless, he thought about such a prospect, dauntless he chose an so alternative route. His handicap did not stop -him. People who knew him regarded him as an enormously proud man Perhaps his pride was the factor that transformed a would-have been professional beggar into a great, and an amazing president of the United States.

Deduce from these success stories, you who think that physical impediment can impede your success. Perhaps your own difficulties have no bearing with the problems which those great men encountered; I do not have any way of telling. However, one must not forget, the hardships those people conquered in the past are the same issues similar to mankind.

Now, one could narrow this further. There is a man who is a sensational center of Massachusetts gubernatorial race. He is the man who wrote the book, "Straight Shooting". He is not only a head of a first-rate academia, but also the "inexperienced" political "outsiders" who the political "insiders"

Are afraid of.

A closer look at the man will reveal a man, either by accident or something, I cannot tell, is deprived of a right hand. His physical deprivation is inconsequential when compared with the amazing accomplishments of his brain power. This man is no other than Dr. John Silber.

Factors To Motivation: There are many things which do motivate people to aspire for success. One is desire to improve a personal lot. Another factor is the desire to be like peers. And, of course fear of failure can generate intense motivation to an amazing success.

Desire to achieve through competition is the most important factor to motivation For example, the cold war did set United States of America and Soviet Union in a cutthroat arms' race, The rat race produced so many dangerously sophisticated weapons neither Americans nor the Soviets would have dreamed of.

Motivation is an incentive to success. Invention is the birth of industrialization.

As I mentioned somewhere, the might of a great nation is greatly dependent on the strength of its steel complex. The faster such an industry receives all the necessary incentives, the more rapid its inventions, faster the improvements, updating, and the greater the propensity to raise its level of researches and manufacturings. Consequently, the higher the gross income per capita.

Mind programming is essential to motivation. Some people call this technique auto-suggestion. A few pep talks can help one to either succeed or, lead one to the opposite end of success. Self-suggestion has something in common with that phase of belief notion which people call "a self-fulfilling prophecy". Teachers, parents, peer groups, often do irreparable damages by the ways they pressure others to accept some negative opinions of theirs.

With no ill-feeling, this thing we are talking about is rampant in the Western world. One would hear a "friend" call his own friend "jerk", "dummy", "fool". Some parents in this part of the world would not hesitate to tell their own children "you are worthless", "you will end up in jail." Teachers, having watched the kids' parents make those evil statements, add their own ill-prophecies for the kids to lead through. Later, the whole society start wondering why there are so many of their youths in jails, institutions for the drug addicts, the hopeless alcoholics, prostitution rings, homeless shelters, murder clubs, suicide clans, and other forms of capital crime-rings. They forget, "as a man makes his bed" that "so should he lie."

Men are easily swayed by the mystic powers of feminine attraction. It is a power which defies rational explanation. Someone defined that special attraction as a special D.E.A.T.H.: He called the "D" in that fearful word "Deliverance." "E" = Eternity, "A" he called "And", last, not the least, "H" he named "Holiness." In essence, his definition of D.E.A.T.H.

Or, love, if you choose, is Deliverance by Eternity and into Holiness. I think they are the highest forms of success.

Men can do wonders when their actions are motivated by the influence of the women they truly love. Should there be any doubting mind of this fact, it is equally undaunting, the evident testimonies of the roles of such women as Mrs. Gandhi, Mrs.Mandela, Mrs.Martin L. King, Jr. and other great women; though unnamed here, played in shaping not only the strides of their husbands, but also the amazing destinies of many a great nation.

One would wonder whether motivation is not the sole key to every form of success. Of course, the gene to motivation is deeply grounded in powers of influence which, otherwise is an outgrowth of subconscious implants which someone would refer to as either pep-talks, psycho-cybenatics, or subconscious implantation.

The subconscious mind; though always unconscious, is a very powerful pool of invisible gadgets. It is comparable to a super-sonic computer system.

In fact, it can store, as well as recall every volume of input stored in its memory "disk".

Motivation is the vision of the future. It works in everyone irrespective of age or class. Come now, give a dose of motivation to a discouraged fellow, sooner than you would expect, the withered soul regenerates, and sprouts out new, greeny leaves.

Think about a child who has been told that he is "worthless" all his life, Consider this discouraged child, all of a sudden, having someone to care about him. Go ahead and see this child being told that he is 11 special, good, and likely to be a great man". 'Me child will obviously respond accordingly. It is just like switching a traffic signal from red to green.

Motivation can be the way to success or failure depending on the direction it takes. Some people are motivated to do good. There are those whose motivation is purely to destroy, plunder, and to commit the worst forms of crimes. You are not at liberty nor encouraged to channel your energy to that type of motivation.

For good or for ill, motivation enables one not only to protect and defend his success, but also to think of limiting harmful potentials of potential rivalries. Motivation prompted by greed, hate and jealousy are bad.

"Righteousness exalts a nation" in the sight of God, not in the sight of man.

However, the strength of a nation depends not just on her economic strength, military might, but largely on the power of her steel industry.

United States and U.S.S.R. saw this truth during the World War the Second; right after it, they stole the show. Right now the world is at a nuclear age. The Cold War between the Imperialist West and Socialist East is fading away.

Japan has usurped the lead in economic wars. Middle-East oil is pitching Arabs and United States in a hostile confrontation. It is time for the "third world" to seek its savior in the race which its so behind.

There is no doubt, Western Powers are apt to discourage any "third world"

Nation which desires to become like them. For example Benazir Bhutto was hotly caught in the "cross-fire" in her bid to appease United States (the home of Harvard, her alma mater) at the expense of Pakistani military (the power behind her political position).

She assured the United States that her country would not "embark upon nuclear proliferation." By her statement, she angered the military generals -als wh. ~ placed her in that post.

-oday Lie Harvard graduate is ousted from her prime ministerial post.

Had she considered how those who placed her at that position would feel prior to her assurance to the United States; had she remembered that United States wanted to protect and defend its nuclear interests, (not a political flair of a Pakistani) she would have though twice before she made the big mistake.

Today many "third world" leaders are making the same mistake. Many of them are still in the old habit of pleasing the imperialists at the very expense of those who look up to them.

It is easy to turn the tide of history if one knows how. An Arab did it: the man who is not just a leader but an icon desirable in a living legend.

"If America and its allies will not accept…we will resist…They will leave this country with this country with their tail behind them…n said Saddam Hussein, the leader of the Arabs' Iraq led Jihad.

It is only a question of survival motivation which could make a man make such a profound statement. It is a statement of courageous dare-deviltry, which only a man of that caliber could make.

An American revolutionary, Samuel Adams made a similar statement when it became necessary to kick the British out of American life. Major Chukwuma Nzeogwu declared a similar note when he saw the need to turn on the key to a revolution. Right Reverend Desmond Tutu echoed a like chord after a series of frustrations. At a point he said very angrily "to hell with Reagan" due to the fact that Western powers turned a deaf ear to the plight of millions in South Africa.

Chapter 3
One can count on the need to dare if one truly wants to effect a change. It is equally 'easy' to alter, or turn completely the nuclear tide currently in the vaults of the imperialist block. Japan took the economic lead from the United States. That she did after many years of American jeers, sneers, and mockeries of Japan. Today, it is time for Japan to laugh.

If some "third world" nations could seize this opportunity for motivation if such groups as Ecowas could tap the rich resources God placed at their disposals; then, the sky will be the limit, and the imperialists will bow down in shame. Japan did it. So can any other nation or a group of them.

Many years ago, Great Britain was the "invincible" champion of the world. She controlled almost one third of the world as her own 11 empire."

It was often said "Sun never set, on the British Empire." In view of the imperial extension of such a vast empire, it would have been quite foolhardy to contend that such a statement was an over-statement But despite all the "riches in glory" of British power, in spite of the crowns military preparedness at the expense of the colonized world, Britain failed when confronted with "No Violence" idea of an Indian guru. Britain was quickly and ably defeated by a group of rag-tag "Yankee Doodles" led by ex-British army officer Captain George Washington. If those people; quite unknown prior to their remarkable bravissimoes were able to deliver, it behooves the "third world" people to learn from the course of history.

Those people, Washington and Ghandi thought about the future of humanity before they did what they had to do. 01' course the then 11 power" called them all sorts of bad names. Such bad names, perhaps worse than the "Butcher", "Murderer" which British and American newspapers print Saddam Hussen the leader of Iraq.

It would be quite motivating if people would just sit down and learn from the Crusades Of Ages. Experience is a transformed trial and tribulation without which man knows neither the meaning of struggle, nor the definition of survival; the name of failure nor the title of success.

What An Idea: No matter how novel an idea may sound its high point rests on that romanticism which is nothing but a credible footage.

For some people, power is a game of chance. For others, it is a means to a global problem rectification. The man, the leader of Iraq knew the sole solution to the low price of oil world-wide. He asked his neighbors, Kuwait and Saudi Arabia to abide by the OPEC's (Organization of Petroleum Exporting Countries) rules. But they refused to listen. He acted. The whole world responded, It is often said in Africa "If you tell an ear to obey but ear refuses to listen.


    </p>
</body>
</html>