<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
   

When a head-hunter beheads the head the rebellious ear goes with it."

Within twenty-four hours alone, the price of crude jumped from $18 to almost thirty dollars per barrel.

Desire not to be stepped on by others is the pride and right of everyone. It is closely related to another desire, to be appreciated which is equally rooted in history. These motivating rights have often led people to be defensive or generous to a fault. For example, the man who is now labeled the "Butcher" is nothing but an Oil Price Savior, world wide. An enormously proud man, he would not budge as the gloomy prospects exploding over the Middle East and beyond loom high. History will treasure him, a legend of his origin, and a direct descendant of the venerable King of Former Babylon.

The man, Saddam ,knows as much as does the imperialist bloc, that. before any human organization could succeed in solving its problems, there must be the need for its members to observe its codes of conduct.

What then is the use of OPEC if its members could not abide by its rules and regulations? It was nothing but a righteous anger that trans formed Saddam's accumulated indignation that brought about the over throw of Emir of Kuwait.

A step into a success arena is a cause for motivation. If you doubt this why not recall the trill of victory which you felt when you had your initial conquest in a rough assignment. You felt like a hero who had conquered a mighty mountain.

Quicken your mind now with that fire of purpose which does not quench.

Do it, after all, you are the one who will make your purpose stick to it. Do it right away for now is the time for it. Step by step you will, for sure, reach the riches at the end of that tremendous tunnel.

No One Is Destined To Failure Except That Man Who Gives Up All Hopes Prior To, During Or After Life's Tides: As I study the progress of some of us who came to the United States of America, I am, doubtless, convinced it is not everyone who will eventually succeed. Some people will cast in their cards and give up their ambitions.

Some will endure for a while before joining the band of failures.

Nonetheless, there are some of us who will continue to hang in tough despite all odds. We will encounter racism, rejection, and hate; yet…we shall never give up. Discrimination at places of employment will fight us at places of employment; rapid intellectual insults and academic frustrations will face us in schools; racial slogans and defamation will be the "hand writings" on our walls; marking us as friends in a foreign land; yet, we shall see them as nothing but serial challenges.

Challenges will continue to poker and hanker on us until those frustrations' agents find out that we, the "few good ones" have all it es to succeed.

Challenge is good if you are determined to face it with manly fortitude.

A prophet always return. For there is a purpose for every rainfall.

Persevere in the midst of storm. After all the efforts at cerebral writings; attempting to explain the mysteries of things, may delve you into a new phase of definitions. You will succeed, and your success will write its own records only to keep you amazed at the ultimate turn of events.

Have you ever seen a man who stands steadfastly in the tides of ultimately tests? He will win at last. Copy his ways for his dexterity is more precious than gold.

Suffering by choice due to a person's decision to be poor is not a virtue but an insanity. To be poor is to suffer, 'Mat, out of ignorance. When it really hits home, one may not be able to stand it.

Aspire for success with a sound mind. Do not let anyone deceive you with such foolish ideas as "he will not take his wealth to the grave," the poor…have their rewards in heaven." Let me tell you right away, -specially with regard to the latter foolish notion about "the poor…having their rewards in heaven." If a poor person is a chronic sinner while he lives on this earth, his poverty will never assure him a better station in the life to come. He will be a loser both now and then.

Allow no one to deceive you. Some poor preachers often mislead their "followers" when it comes to sermoning on success. They mix the ideas of success with failures. In the process, they confuse most of the people, thereby cutting their desires for success so low. Never you allow that to happen to you. Remember, every teacher of any ideology is nothing but a human. He is prone to error though he may confess to be saying the truth. You should therefore, be cautious not to assimilate any idea into your inner mind except the ideas which will contribute to your ultimate success.

Likely, the success you seek in distant places is not far from you. I may hasten to add, the words a person hears constantly with regard to his set plan of action, can either enhance or reduce the level of his psychometric motivation; consequently, his overall performance.

Positively packaged messages are a set of success building technology.

Indeed words of negativities invariably impact negatively on the person who constantly receives them.

Humanity is complete with psycho feedback. Words of encouragement are, spiritually, morale boosters. This can really reflect on the individual's overall outlooks, and actions, if that individual in question is increasingly on the receiving end of this form of motivation… There is an amazing trend in mind technology. Reportedly, though, a greater portion of the sick people in numerous hospitals world wide are there due to either mental aberration or psycho-somatic sickness. Research has shown that hormones of such patients as the terminally ills do gravitate to or away from recovery depending on the type of messages the patient receives.

Evidently, it is a herm of term reporting here, cancer patients respond rapidly to most of the suggestivities of the physicians who do attend to them.

Certain uninformed medical doctors do "kill their patients before their bells ring" by the way they, the doctors voice out such magic words as "I'm sorry, I think your case is hopeless." Doctors who are meant to heal turn out to be the prophets of deaths to their patients: I think something needs to be done about it.

The time has come for the medical profession to get enlightened on the technology of the mind. That a word is a powerful tool on which life and death do depend. They should learn to say less, especially their negative comments, and more on the doses of encouragement Study The Action Before You Deduce From The Reaction: Success is everything. An ideal success is no success at all.

It is disheartening what certain fellows could do when it involves not only a public money, but also the lives of other peoples' sons. "What about you guys who always write?" You may ask.

Permit me to observe, the restless writer writes with zeal when he writes about other people, but cautious and prudent when he writes about himself.

The Britons were policing almost the entire world around when Samuel Adams helped to tell them "Enough is Enough."

There was a high level of corruption in African politics when Major Nzeogwu stood up and helped to say "Enough is Enough."

For sometime now, both Kuwait and Saudi Arabia have cheated on the OPEC members. Their reckless disregard has brought them not only resentment and hatred, but a fury of Iraqi leadership. The whole world knows it.

United States has pushed forward to restore the status quo. But Iraq resists.

United States are sent to the Saudi Arabia to check Iraq movement, but Iraq said, "anger directed to only Kuwait." Chains of accusations, verbal insults have turned their tides .

"Bush is sticking his nose in some place he is not supposed to be" remarked a man of Dorchester, Lanice Mikell. Many Americans have also expressed similar sentiment When one look at the whole issue in queston, a Christ's admonition props up into the person's mind: Take away the speck you have in your eye so that you can see clearly to remove the log from another fellows eye. "We shouldn't fight a war for the oil companies. I would rather pay $2 or $3 a gallon for gas than have one young man lose his life" said a moralist, Mr. Bill Wright, a native of Ocean City, New Jersey.

Despite such pleas, President Bush, who rides in his state of the art S410 million jet, while American boys are scorched in sands of Saudi Arabian desert: overlooks the Savings and Loans Scandal in which his own son, Neil is involved while homelessness increases in America; desires only power and prestige at the very expense of thousands of blood bath which is quite imminent in the Middle East.

A Great Leader Who Refuses To Learn: It is an open truth that every American leader will be seen as Arab's archenemy due to American relationship with the State of Israel. President Bush knows this; but, he has chosen not to know due to his desire to use Arab oil.

His predecessor made the same mistake. It is a mistake firmly rooted in abi j act dependency on identical something which someone has but sees it fit not to use. "The stakes are high", President Bush said when the oil price started to go up. Here is a man whose home state, Texas, is blessed with some of the sweetest crude oil in this universe. Here is the same leader who overlooks this abundant reserves, only to send young men and women, other peoples' sons and daughters for that matter, to go to Fight to Die for something which America has in abundance.

Here is a man who forgot his personal experience during World War 11, as a young pilot, when he had one of the narrowest escape from the wrath of war. The same man who vowed to do everything, if in position, to prevent such happening to another human being. This vow he himself made years after his war-plane was surgically blasted in the air in a distant land.

One would not help but see the same great leader is now making a big mistake.

If President Bush would just take to OPEC officials' advice "that America start using American oil reserves." If President Bush will just see the need to let Arabs solve their own problems. Then, there will be no need to think of fighting for other peoples' oil which America has.

America, especially Texans, should even consider it a big opportunity for America to draw from the abundant oil deposits and use it. Hence, leave Arabs and their oil alone.

Emotion And Motivation: Is the object of emotional attachment the reason for a person's survival? In a way, human survival instinct is closely related to the very notion of a thing; or a group of them, which the individual in question holds as of paramount value. It is this notion, coupled with its internalized position in the person's subconscious mind, that does influence the individual's gravitations to that very notion, or its object in question. For example, a child gravitates toward its parents knowing that its survival does rest on them.

Why so? Because the child is nothing but a creature of its origin. At least for the period of childhood.

The Third Stride To Amazing Success)

I tend to dispute the idea that there is; relatively, limited natural resources available to create abundant riches for everyone. What we do have, however is limited view of the abundant wealth available for human creative exploitation.

Wherever there is a political suppression; be it by force or psychological insinuation, the people will be prone to resent it. Why? Because suppression of the human will to succeed is morally reprehensible . The people will continue to cry for freedom like a desperate mot-her searching for her son who is just kidnapped. They will continue to cry for it till that heavy burden is lifted from their shoulders. Mass demonstration for or against abortion in the United states is a case in point. Rallies against racism, apartheid and exportation of murderous weapons to the war torn distant places do demonstrate that something is amiss with the powers that be.

Everyone in this world can become a millionaire, if and only if everyone would not only see the need to become one, but also apply the necessary will power to become just that.

Create your own success, and do it with the help of those who will aid you along the way.

Some people are greedier than others. Doubtless, they exploit to their own interest more of nature's abundance than they need. The same people often forget, The more the earthly resources are exploited or taken' away, the faster the ease with which nature deploys in replenishing its depleted abundance.

A dreamer dreams on his own message. His message could be in the realm of riches based on whatever he himself defines as the ingredients of His own wealth.

Hopefully, you will join the same choral group whose call to sing is to sing the hymn of success.

You can be your own dove of success for you are able to lay your own golden eggs. "You can get it if you really want" sang a good raggae musician, Mr. Jimmy Cliff. In none dis-similar token, one cannot get it; that should one dream not to really want.

I shall always advise people; not only to Dream Big Dreams, but also to Develop the Will Power to make the dreams come true. Do not let others' opinion determine your fate or your action: You have a mind which its creator believes is good enough for you. Use it. If you have learnt not to allow "what others might think" determine your action, you have learnt something very necessary in making a tough decision. With that quality alone, your chance to succeed is very high.

History has a way of making people learn from the past. Had Hippocrates relied on "what others might think" in "5th-4th century B.C., he would not have made the bold medical experiments on life human being when "such a thing which he did" was regarded as a taboo.

Through the ages, pioneers are always driven by some unseen carriages, directed by some unseen lights while their hands were guided by some unseen hands as they did what they had to do. Their visions are always something superior, some thing extra-ordinary; often those somethings are more often than not, misunderstood by those whose thoughts are vibrating below their levels in frequencies. If Hippocrates had relied on public opinions, "what others might think" of him, he would have shied away from the noble cause of standing in defense of the urgent call for freedom of thought and expression.

In 1660, in Massachusetts, a religious Quaker paid the highest penalty in defense of "the truth". She preferred to be hanged before the public rather than renounce the basic values of religious freedom. "Mary Dyer Quaker, witness for religious freedom, Hanged on Boston Common 1660." Before she paid the supreme price, she sounded a similar note quite remarkable. It is the kind of chord echoing the highest order of sentiment as expressible to the age of someone whose vision for the future could not be clouded nor bought out, by current transient pleasures of the time. Jesus made a similar statement "father forgive them…" Socrates stroke a similar note. Martin Luther King, "I have a dream…I see the promised land", Nelson Mandela, "We have a date with destiny". All these great people, including an initial leader against institution of slavery in America, Mr. Brown have a like quality in common.

In like manner, as you would notably read from a statute erected in her honor, right in front of Boston State House, "My life not availeth me in comparison to the liberty of the truth" What an amazing sentiment, a visionary statement made by a A woman who was just about to be hanged "in disgrace." People of her time viewed her as a lunatic, something out of her mind, someone out of touch with reality. Therefore, they decided to get rid of her. In so doing, they unwittingly set her cause on the stars for all to embrace.

Mary Dyer set the greatest example which only paralleled the martyrdoms of early Christians during the time of Christians' persecutions. The most amazing example of free will was that made or expressed by our Lord and Savior, Jesus Christ. He saw the need to suffer; despite his disciples urgings to the contrary, for the salvation of mankind. He despised public opinion of him; especially, of the established religious leaders of his time. He went ahead and did his own job in his own way. To them Jesus was- just an unrepentant rebel; Indeed Jesus was a real "rebel". Better still, he was a rebel with a cause.

He was constantly at odds with them. They found his terse teachings, remarks, and verbal insults very offensive. He was unbending to their own version of the tenets to salvation, as much as they the purple robed religious leadership of his time were not willing to accept him as the Christ.

They plotted several times against him. However, he surprised them by telling them not only by telling them of their "wicked deeds" but also in foretelling the time for his own death. They denied that he would die at their hands, but events proved Christ correct.

So, learn your lesson from these case histories. Do not permit others to determine or even deviate you from your course of ambition. Rest assured, your vision is greater than its obstacles. We are still discussing past issues, our common histories, and some questions of our time. We are left with a sense of urgency, purpose, and history and a special will-power to tackle new challenges of our time with view to amazing lights.

The idea of amazing determination displayed by the foregoing case studies, there also, a tremendous sense of frustration in that each of the foregoing champions did not live to see or enjoy the fruits of his or her labors.

One must not forget, however, that the morals of the people, their attitudes towards their calling profoundly found expression in diverse ways by that they were really determined to pay even the supreme price. Should such a price be the last challenge or test of their faiths.

They looked ahead before they decided to receive the temporary pain as "punishment" for their unrepentant stand for what they held as of supreme faith.

The average novice, someone who was not versed in the wave of thoughts for the future, then, even now, are not at liberty to comprehend the enormous impacts, rewards and potential results and imminent treasures such "rash stands" held in store.

The 'Willer' Behind The Will Power: When you read certain books and letters they only remind you your past pit-falls, and causes of regrets. There are also books which turn your total self charged fully on. They trigger you with a new zeal, a special sense of purpose, and an unbending drive to achieve all those goals you have not, but had desired to accomplish.

Our former Head of State, General Olusegun Obasanjo has written, "Success has a godfather" and failure "as an orphan." I do agree to that.

Such a success' godfather" is deeply grounded in that very special ingredient that creates a successful atmosphere. May I recommend to, for your benefit, the book "Foundation for Financial Freedom." You may wonder what this has to do with success. However, go ahead and read the chapter "Avoid Discouragement." It is in there you will grab the sum and substance, encouragement being the very "godfather" of an amazing success.


    </p>
</body>
</html>