<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
"Junior!" bellowed Pater.

"Junior!" squeaked Mater, a quavering echo.

"Strayed off again—the young idiot! If he's playing in the shallows, with this tide going out...." Pater let the sentence hang blackly. He leaned upslope as far as he could stretch, angrily scanning the shoreward reaches where light filtered more brightly down through the murky water, where the sea-surface glinted like bits of broken mirror.

No sign of Junior.

Mater was peering fearfully in the other direction, toward where, as daylight faded, the slope of the coastal shelf was fast losing itself in green profundity. Out there, out of sight at this hour, the reef that loomed sheltering above them fell away in an abrupt cliffhead, and the abyss began.

"Oh, oh," sobbed Mater. "He's lost. He's swum into the abyss and been eaten by a sea monster." Her slender stem rippled and swayed on its base and her delicate crown of pinkish tentacles trailed disheveled in the pull of the ebbtide.

"Pish, my dear!" said Pater. "There are no sea monsters. At worst," he consoled her stoutly, "Junior may have been trapped in a tidepool."

"Oh, oh," gulped Mater. "He'll be eaten by a land monster."

"There ARE no land monsters!" snorted Pater. He straightened his stalk so abruptly that the stone to which he and Mater were conjugally attached creaked under them. "How often must I assure you, my dear, that WE are the highest form of life?" (And, as for his world and geologic epoch, he was quite right.)

"Oh, oh," gasped Mater.

Her spouse gave her up. "JUNIOR!" he roared in a voice that loosened the coral along the reef.

Round about, the couple's bereavement had begun attracting attention. In the thickening dusk, tentacles paused from winnowing the sea for their owners' suppers, stalked heads turned curiously here and there in the colony. Not far away, a threesome of maiden aunts, rooted en brosse to a single substantial boulder, twittered condolences and watched Mater avidly.

"Discipline!" growled Pater. "That's what he needs! Just wait till I—"

"Now, dear—" began Mater shakily.

"Hi, folks!" piped Junior from overhead.


His parents swiveled as if on a single stalk. Their offspring was floating a few fathoms above them, paddling lazily against the ebb; plainly he had just swum from some crevice in the reef nearby. In one pair of dangling tentacles he absently hugged a roundish stone, worn sensuously smooth by pounding surf.

"WHERE HAVE YOU BEEN?"

"Nowhere," said Junior innocently. "Just playing hide-and-go-sink with the squids."

"With the other polyps," Mater corrected him primly. She detested slang.

Pater was eyeing Junior with ominous calm. "And where," he asked, "did you get that stone?"

Junior contracted guiltily. The surfstone slipped from his tentacles and plumped to the sea-floor in a flurry of sand. He edged away, stammering, "Well, I guess maybe ... I might have gone a little ways toward the beach...."

"You guess! When I was a polyp," said Pater, "the small fry obeyed their elders, and no guess about it!"

"Now, dear—" said Mater.

"And no spawn of mine," Pater warmed to his lecture, "is going to flout my words! Junior—COME HERE!"

Junior paddled cautiously around the homesite, just out of tentacle-reach. He said in a small voice, "I won't."

"DID YOU HEAR ME?"

"Yes," admitted Junior.

The neighbors stared. The three maiden aunts clutched one another with muted shrieks, savoring beforehand the language Pater would now use.

But Pater said "Ulp!"—no more.

"Now, dear," put in Mater quickly. "We must be patient. You know all children go through larval stages."

"When I was a polyp ..." Pater began rustily. He coughed out an accidentally inhaled crustacean, and started over: "No spawn of mine...." Trailing off, he only glared, then roared abruptly, "SPRAT!"

"I won't!" said Junior reflexively and backpaddled into the coral shadows of the reef.

"That wallop," seethed Pater, "wants a good polyping. I mean...." He glowered suspiciously at Mater and the neighbors.

"Dear," soothed Mater, "didn't you notice?"

"Of course, I.... Notice what?"

"What Junior was doing ... carrying a stone. I don't suppose he understands why, just yet, but...."

"A stone? Ah, uh, to be sure, a stone. Why, my dear, do you realize what this means?"

Pater was once more occupied with improving Mater's mind. It was a long job, without foreseeable end—especially since he and his helpmeet were both firmly rooted for life to the same tastefully decorated homesite (garnished by Pater himself with colored pebbles, shells, urchins and bits of coral in the rather rococo style which had prevailed during Pater's courting days as a free-swimming polyp).

"Intelligence, my dear," pronounced Pater, "is quite incompatible with motility. Just think—how could ideas congeal in a brain shuttled hither and yon, bombarded with ever-changing sense-impressions? Look at the lower species, which swim about all their lives, incapable of taking root or thought! True Intelligence, my dear—as distinguished from Instinct, of course—pre-supposes the fixed viewpoint!" He paused.

Mater murmured, "Yes, dear," as she always did obediently at this point.

Junior undulated past, swimming toward the abyss. He moved a bit heavily now; it was growing hard for him to keep his maturely thickening afterbody in a horizontal posture.

"Just look at the young of our own kind," said Pater. "Scatter-brained larvae, wandering greedily about in search of new stimuli. But, praise be, they mature at last into sensible sessile adults. While yet the unformed intellect rebels against the ending of care-free polyphood, Instinct, the wisdom of Nature, instructs them to prepare for the great change!"

He nodded wisely as Junior came gliding back out of the gloom of deep water. Junior's tentacles clutched an irregular basalt fragment which he must have picked up down the rubble-strewn slope. As he paddled slowly along the rim of the reef, the adult anthozoans located directly below looked up and hissed irritable warnings.

He was swimming a bit more easily now and, if Pater had not been a firm believer in Instinct, he might have been reminded of the grossly materialistic theory, propounded by some iconoclast, according to which a maturing polyp's tendency to grapple objects was merely a matter of taking on ballast.

"See!" declared Pater triumphantly. "I don't suppose he understands why, just yet ... but Instinct urges him infallibly to assemble the materials for his future homesite."

Junior let the rock fragment fall, and began plucking restlessly at a coral outcropping.

"Dear," said Mater, "don't you think you ought to tell him...?"

"Ahem!" said Pater. "The wisdom of Instinct—"

"As you've always said, a polyp needs a parent's guidance," remarked Mater.

"Ahem!" repeated Pater. He straightened his stalk, and bellowed authoritatively, "JUNIOR! Come here!"

The prodigal polyp swam warily close. "Yes, Pater?"

"Junior," said his parent solemnly, "now that you are about to grow down, it behooves you to know certain facts."

Mater blushed a delicate lavender and turned away on her side of the rock.

"Very soon now," said Pater, "you will begin feeling an irresistible urge ... to sink to the bottom, to take root there in some sheltered location which will be your lifetime site. Perhaps you even have an understanding already with some ... ah ... charming young polyp of the opposite gender, whom you would invite to share your homesite. Or, if not, you should take all the more pains to make that site as attractive as possible, in order that such a one may decide to grace it with—"

"Uh-huh," said Junior understandingly. "That's what the fellows mean when they say any of 'em'll fall for a few high-class rocks."

Pater marshaled his thoughts again. "Well, quite apart from such material considerations as selecting the right rocks, there are certain ... ah ... matters we do not ordinarily discuss."

Mater blushed a more pronounced lavender. The three maiden aunts, rooted to their boulder within easy earshot of Pater's carrying voice, put up a respectable pretense of searching one another for nonexistent water-fleas.

"No doubt," said Pater, "in the course of your harum-scarum adventurings as a normal polyp among polyps, you've noticed the ways in which the lower orders reproduce themselves; the activities of the fishes, the crustacea, the marine worms will not have escaped your attention."

"Uh-huh," said Junior, treading water.

"You will have observed that among these there takes place a good deal of ... ah ... maneuvering for position. But among intelligent, firmly rooted beings like ourselves, matters are, of course, on a less crude and direct plane. What among lesser creatures is a question of tactics belongs, for us, to the realm of strategy." Pater's tone grew confiding. "Now, Junior, once you're settled you'll realize the importance of being easy in your mind about your offspring's parentage. Remember, a niche in brine saves trying. Nothing like choosing your location well in the first place. Study the currents around your prospective site—particularly their direction and force at such crucial times as flood-tide. Try to make sure you and your future mate won't be too close down-current from anybody else's site, since in a case like that accidents can happen. You understand, Junior?"

"Uh-huh," acknowledged Junior. "That's what the fellows mean when they say don't let anybody get the drop on you."

"Well!" said Pater in flat disapproval.

"But it all seems sort of silly," said Junior stubbornly. "I'd rather just keep moving around, and not have to do all that figuring. And the ocean's full of things I haven't seen yet. I don't want to grow down!"

Mater paled with shock. Pater gave his spawn a scalding, scandalized look. "You'll learn! You can't beat Biology," he said thickly, creditably keeping his voice down. "Junior, you may go!"

Junior bobbled off, and Pater admonished Mater sternly, "We must have patience, my dear! All children pass through these larval stages...."

"Yes, dear," sighed Mater.

At long last, Junior seemed to have resigned himself to making the best of it.

With considerable exertions, hampered by his increasing bottom-heaviness, he was fetching loads of stones, seaweed and other debris to a spot downslope, and there laboring over what promised to be a fairly ambitious cairn. Judging by what they could see of it, his homesite might even prove a credit to the colony (so went Pater's thoughts) and attract a mate who would be a good catch (thus Mater mused).

Junior was still to be seen at times along the reef in company with his free-swimming friends among the other polyps, at some of whom his parents had always looked askance, fearing they were by no means well-bred. In fact, there was strong suspicion that some of them—waifs from the disreputable Shallows district in the hazardous reaches just below the tide-mark—had never been bred at all, but were products of budding, a practice frowned on in polite society.

However, Junior's appearance and rate of locomotion made it clear he would soon be done with juvenile follies. As Pater repeated with satisfaction—you can't beat Biology; as one becomes more and more bottle-shaped, the romantic illusions of youth must inevitably perish.

"I always knew there was sound stuff in the youngster," declared Pater expansively.

"At least he won't be able to go around with those ragamuffins much longer," breathed Mater thankfully.

"What does the young fool think he's doing, fiddling round with soapstone?" grumbled Pater, peering critically through the green to try to make out the details of Junior's building. "Doesn't he know it's apt to slip its place in a year or two?"

"Look, dear," hissed Mater acidly, "isn't that the little polyp who was so rude once?... I wish she wouldn't keep watching Junior like that. Our northwest neighbor heard positively that she's the child of an only parent!"

"Never mind." Pater turned to reassure her. "Once Junior is properly rooted, his self-respect will cause him to keep riffraff at a distance. It's a matter of Psychology, my dear; the vertical position makes all the difference in one's thinking."

The great day arrived. Laboriously Junior put a few finishing touches to his construction—which, so far as could be seen from a distance, had turned out decent-looking enough, though it was rather questionably original in design: lower and flatter than was customary.

With one more look at his handiwork, Junior turned bottom-end-down and sank wearily onto the finished site. After a minute, he paddled experimentally, but flailing tentacles failed to lift him. He was already rooted, and growing more solidly so by the moment.

"Congratulations!" cried the neighbors. Pater and Mater bowed this way and that in acknowledgment. Mater waved a condescending tentacle to the three maiden aunts.

"I told you so!" said Pater triumphantly.

"Yes, dear...." said Mater meekly.

Suddenly there were outcries of alarm from the dwellers down-reef. A wave of dismay swept audibly through all the nearer part of the colony. Pater and Mater looked around, and froze.

Junior had begun paddling again, but this time in a most peculiar manner—with a rotary twist and sidewise scoop which looked awkward, but which he performed so deftly that he must have practiced it. Fixed upright as he was now on the platform he had built, he looked for all the world as if he were trying to swim sidewise.

"He's gone mad!" squeaked Mater.

"I ..." gulped Pater, "I'm afraid not."

At least, they saw, there was method in Junior's actions. He went on paddling in the same fashion and now he, and his platform with him, were farther away than they had been, and growing more remote as they stared.

Parts of the homesite that was not a homesite revolved in some way incomprehensible to eyes that had never seen the like. And the whole affair trundled along, rocking at bumps in the sandy bottom, and squeaking painfully; nevertheless, it moved.

The polyps watching from the reef swam out and frolicked after Junior, watching his contrivance go and chattering eager questions, while their parents bawled at them to keep away from that.

The three maiden aunts shrieked faintly and swooned in one another's tentacles. The colony was shaken as it had not been since the tidal wave.

"COME BACK!" thundered Pater. "You CAN'T do that!"

"Come back!" shrilled Mater. "You can't do that!"

"Come back!" gabbled the neighbors. "You can't do that!"

But Junior was past listening to reason. Junior was on wheels.There are those who have criticized the wisdom of the members of the First Earth Expedition in returning to Mars so precipitately, without completing the observations and explorations which it had been intended they should make. For some time now, we who were with the Expedition and knew the real reason for that return have chosen to ignore these few but noisy individuals; but latterly some of the hot-headed younger generation, but lately out of the egg and unwilling to trust to the wisdom of their elders, have begun to talk of launching a second expedition to the Blue Planet.

Therefore, I, Shapplo with the Long Proboscis, interpreter to the First Expedition, have been commissioned by the crew of the Earth Rocket to tell the full and unexpurgated story of our adventures on Earth, and the reasons for our contention that the planet must forever remain closed to Martian colonization.

I will pass over the details of the interplanetary voyage, which consists chiefly of scientific data and figures not calculated to interest the average reader. Suffice it to say that the Earth Rocket, with the twenty-three members of its crew alive and intact, came safely to rest on the crest of a gently-swelling hill in the midst of an island in the northern hemisphere of Earth. This island is located by our astronomers as 1-2-2-(1) North, but is called by its inhabitants, Engelond or Britannia.

We landed in the southern portion of this island, on a hilltop as before stated; and, after conditioning our lungs and wearing gravity belts against Earth's dense atmosphere and correspondingly strong gravity, we threw open the exit ports and trooped out, led by our captain, Tutwa with the Crooked Ears, our second in command, Ikleek from Gnoxwid, and myself; also, immediately behind us, came our zoologist, Zesmo Who Fell in the Canal when an Infant.

The first thing noticed by all of us, but particularly by Zesmo Who Fell in the Canal, was the riparian-appearing profusion of Earthly life which at once displayed itself. Plants of every size and shape, invariably green in color but bearing blossoms of all shades, covered the hillside, and all of the rolling landscape that was visible from our point of vantage. Among the leaves and flowers fluttered bright-colored objects which we soon perceived, with great surprise, to be living creatures.

"What a planet!" exclaimed the captain philosophically. "Even the lower animals can fly; what then may we expect of the higher creatures, the intelligent races?"

"You'll notice, however," said Zesmo, who had in the meantime succeeded in capturing one of these aerial dancers, "that they fly entirely without artificial aids. It is made possible by the dense atmosphere of Earth."

As we moved forward among the thick and moderately lofty vegetation, small, furred, four-legged creatures leaped out of the underbrush and scampered rapidly away. Using ray-guns at low power, we paralyzed several of these; but, after close examination, we were forced to conclude that we must look further for the intelligent inhabitants of the planet.

"It's quite possible that there isn't any intelligent race," said Zesmo gloomily. "If they were very bright, I should think they'd have crossed space to Mars before now."

"Don't expect too much of the poor Earthman, Zesmo," retorted Ikleek. "Remember that our own race discovered space travel only three generations ago, and that ours is the first rocket powerful enough to dare Earth's gravitational field. Due to the high velocity of escape, the development of space travel by Earthman would be very much retarded. They might have a high civilization and never get off the ground."

"Aerial flight should be easy," argued Zesmo. "Look at even those ignorant little—"

He was interrupted by a shrill shout from one of the crew. One and all, we turned toward the sound, and saw him hastening toward us through the trees as fast as Earth's tremendous gravity would let him, waving his tentacles and glowing with terror.

"A monster!" he sputtered. "A metal monster!"

We hastily adjusted our ray-guns to full power, and awaited anxiously the onslaught of whatever formidable being might come against us. We had not long to wait, for in a moment we saw approaching among the trees a fantastic creature.

For some moments we gaped foolishly at the thing before we realized that it was actually a compound monster—two animals in one, so to speak. Except that one was not an animal, but evidently a machine!

The Earth-monster had not yet seen us; and at this juncture I took the opportunity to hastily scribble some notes which I very shortly regretted. However, to illustrate the fact that anyone may make mistakes and that even the most apparent truths may be misinterpreted, I will here reproduce what I wrote:

"The intelligent inhabitants of Earth somewhat resemble us in the possession of four limbs, two eyes, and two elongated protuberances which are very likely ears. The sensory organs are mostly located on, or about, the front of the head. The feet are sheathed in horny coverings which may be either natural or artificial. The caudal appendage is of considerable length and bears long dense hairs, thus differing from the rest of the body, over which the hairy covering is short and flat-lying. No real proboscis is present, but the head is much elongated in front, with the snout directed downward...."

Enough of this. At least, tremendous as my error was, it was at the time shared by all the others present.

The animal above described formed the lower portion of the compound being which confronted us. Mounted astride of it was a gleaming metal creature, constructed on the same lines, but with jointed arms and legs of metal, without a tail, and seated erect instead of going slavishly on all fours. In one hand it grasped a long pole with a sharp metal point, and other accouterments which might be weapons were girded about it.

"A robot!" ejaculated the Captain. He had jumped to the same natural conclusion as the rest of us.

"What do you say to an intelligent race now, Zesmo?" hissed Ikleek. "Obviously the Earthmen were too intelligent. They built a high civilization and were enslaved by their own machines!"

"Perhaps we Martians are destined to free this oppressed race from ignoble servitude!" exclaimed Zesmo. "If we can just paralyze and capture the machine—" He began adjusting his ray-gun to low power.

The creature may have heard our voices, muffled as they were by the heavy air. At any rate, it suddenly turned toward us, displaying an expressionless metal face with a curious grille arrangement in front; and, recovering in a trice from its evident astonishment, it drove feet armed with dagger-sharp points into the flanks of its mount, and came galloping toward us. As it came it lowered its long spear, with the obvious intention of impaling upon it one or more of our number.

Zesmo's right tentacle whipped up with his ray-gun; there was a sharp crackle of invisible energy in the air, blue sparks leaped about the thing's metal joints, and both it and its mount toppled heavily to the earth and lay in an inert heap.


Zesmo's right tentacle whipped up; there was the sharp crackle of energy in the air; sparks leaped about the thing's metal joints.

We approached them with caution—none too cautiously, as it developed, because abruptly the robot stirred and scrambled dizzily to its feet. Its metal sheathing had absorbed most of the ray-gun's merely paralyzing energy. With a swift, practiced motion, it drew from its side a long, straight, sharp blade, which I subconsciously identified as a primitive weapon operating on the wedge principle, even as I was raising and aiming my ray-gun.

Taking cognizance of the fact that we would much prefer to capture the machine in an undamaged state, but also of the fact that unless steps were taken it would very shortly hack me into small pieces, I aimed at the upraised weapon and pressed the firing button. The ray, at full power, struck the blade, which glowed red-hot and partially fused. The robot dropped it with a sharp exclamation of uncertain meaning, probably expressing considerable annoyance.

In the meantime Zesmo had stepped to close range, and now he gave the metal man a considerably augmented dosage of the ray. With a hiss and crackle, the robot collapsed and gave us no more trouble.

Zesmo had begun to examine the prostrate animal upon which it had ridden, with a view to resuscitation, then Ikleek, who had turned his attention to the robot, abruptly straightened up and began to rock to and fro in amusement.

"Would you mind telling me what you're so happy about?" inquired Zesmo with pardonable acerbity.

"Merely that we've all made a very silly mistake," gurgled Ikleek, recovering a portion of his composure. He flipped a contemptuous tentacle toward the animal which Zesmo had been examining. "Intelligent creature, bah!" He began to rock back and forth uncontrollably once more.

"Explain yourself," ordered Captain Tutwa sternly.

For answer, the second in command bent over the "robot," and, wrenching off its metal head-covering, revealed the face of an unconscious living being.

I need not describe the Earthman, since the form and appearance of this race have become familiar to all Martians from the photographs and descriptions which we brought back from Earth. I will only mention that this specimen was a male, and consequently was rather hairy about the lower portion of the face as well as on the top and back of the head.

Zesmo made no comment, but popped his eyes in and out of his head at an expressive rate.

"Here's your Earthman!" chortled Ikleek gleefully, tapping on the creature's metal chest-protector. "He's only wearing armor, a great deal like a spacesuit."

"Maybe he'll die if you leave his helmet off," exclaimed Zesmo in alarm.

I picked up the helmet and examined it. "His armor isn't airtight," I informed the company. "It must be worn for some other reason."

We were all considerably puzzled by this, and determined to revive the Earthman as soon as possible, in order to question him on this subject and others. With some difficulty we carried him back to the ship.

Unable to use drugs, due to the possibility of essential differences between Earthly and Martian chemical constitutions, we were forced to resort to purely physical means for his resuscitation; but we were very shortly successful to the extent that the Earthman stirred, opened his lidded eyes, and sat up groggily—then, seeing us crowding about him curiously with waving tentacles and proboscides, uttered an insane yell and attempted to leave the ship at once.

It was with much difficulty that we succeeded in overpowering the frantic Earthman without his breaking the glass oxygen helmet which we had placed over his head to allow him to breathe air at the normal Earthly pressure of between fourteen and fifteen pounds to the square inch. With the aid of a dozen members of the crew, however, we eventually subdued him, not without ourselves sustaining some damage. The tip of one left tentacle was somehow broken off in the scuffle, and by the time I had located the fragment and fastened it back on with medicated adhesive to facilitate healing, the Earthman had been strapped to a table and the telepathor set up.

Since I was interpreter for the expedition, due to my training in the arts and sciences of telepathy, psychology, and linguistics, I, at once, took charge, checked over the apparatus, and began to experiment with a view to discovering the vibration frequency of the Earthman's mind. At last I found it, surprisingly far down in the scale. The Earthmen have exceedingly slow minds, which do not allow them to think quickly in an emergency; this, however, does not prevent them from acting quickly.

Having finally attuned the transformer of the telepathor to step down my mental frequency to the Earthman's level, I succeeded in entering into telepathic communication with him. I will not attempt to reproduce this conversation in words, but will merely give the gist of it, which was about all that I grasped at the time, having no familiarity with Earthly idioms of thought.

This Earthman's name, I gathered, was Sir Henry de Long, the initial "Sir" being some sort of title of more or less vague meaning. He was also a "knight"; this, too, was an honor of some sort, and was intimately connected with the wearing of a considerable quantity of heavy iron and the possession of a horse—the animal upon which the Earthman had been mounted when we first made his acquaintance. In addition to his knighthood, he was an "Englishman," which he also appeared to consider a distinction. On further questioning, it developed that being an Englishman meant having been born in this island of Engelond; I was unable to perceive why this accident should be a cause for personal pride, but concluded that there must be some reason buried deep in Earthly psychology.

When I inquired about his armor, I discovered that it had something to do with his being a knight; furthermore, he seemed to be proud of the armor. In fact, this remarkable individual was proud of almost everything connected with himself. This is one of the characteristics of a certain class of Earthmen, to which this specimen belonged; we discovered later that the vast majority of the race is educated to a becoming humility, while a limited group is allowed to consider itself out of the ordinary and infinitely better than the rest. This is quite proper, of course; those who are superior should be accorded fitting distinction. During our brief stay on Earth, however, we were unable to ascertain the basis on which the superiority of this class is determined.

I succeeded in assuring de Long of our kindly intentions toward him, and obtained his promise not to make trouble if released. Considering the high respect in which this queer fellow held himself, I was reasonably certain that he would refrain from breaking his "word of honor."

I learned also that de Long's home was not far from our present location. On due consideration, we decided to move the ship to this place and gain an opportunity to observe these people in their natural habitat.

The Earth Rocket, accordingly, lifted and flew several miles to the east, landing near the castle, or great fortress-like building of stone, which was our guest's usual habitation. The Earthman was overwhelmed by the actuality of flight; we learned, when he finally came out of his daze, that artificial flying was here believed impossible.

We were somewhat startled by the sensation produced by our appearance on the scene; of course, these people had never seen a flying machine, but their excitement seemed to us wholly disproportionate. However, it is a characteristic of Earthman psychology to believe anything you have never seen or heard of impossible, and accordingly to be very much alarmed when it actually appears. After we had entered the castle with de Long in our midst, we were disagreeably surprised to learn that on observing our approach the people in the fortress had prepared quantities of boiling oil and heavy stones with the idea of dropping them on us when we passed under the walls, and had only been deterred by the presence of their chieftain.

It was not a pleasant thought.

Nevertheless, after their terror had been dissipated by our pacificatory policy, these people became childishly curious, and wherever any one of us went, he could be sure of a crowd of gaping Earthmen following on his heels to observe his every action.

Zesmo was a bit disappointed by the low state of advancement in which we found the Earthmen. They have no electricity and no self-powered machines; they depend entirely upon muscle, either their own—which is far from inconsiderable in proportion to their intellect—or that of their various slave animals. In some things they display striking ingenuity, in other remarkable obtusity.

During our several days' stay near the castle of de Long, Zesmo and our sociologist, Plagu Long Legs, gathered an immense body of data on the life and characteristics of the Earthmen, which may be found in almost any public library in more or less condensed form. Therefore I will avoid going into it here.

So far, we had found no great danger on Earth, and no hint of the horrors which must forever prohibit exploration of the planet. One day, however, when I was pursuing an investigation of their socialistic society in a telepathor conversation with de Long, he happened to mention that one of the occupations of a good knight was killing dragons.

"Dragons?" I inquired, recording the word in my notebook.

"Wot ye not what dragons be?" exclaimed de Long, with raised eyebrows—an expression of mild surprise with the Earthmen. "A dragon is a huge beast, the greatest on the Earth. From its mouth and nostrils, it breathes flame and smoke, so that but to approach it is deadly peril."

"Uh—where do these brutes live?" I wanted to know, somewhat apprehensively.

"There are not many in Engelond in these latter days, St. George and many another valiant champion having harried them full sore, slaying many and putting the fear of God into the rest. But in Ireland and other lands many remain and are the terror of all men living."

This was a bit of a shock, to say the least. We had expected dangers on Earth, naturally; but no such fearsome beasts as de Long described. Our ray guns might prove quite ineffective against these terrible animals.

"Are these the most dangerous creatures on Earth?" I inquired, with some hesitancy.

De Long leaned back and emitted a series of explosive sounds indicative of amusement.

"Far from it," he declared. "For though dragons be vasty and terrible, yet are there other creatures no whit less perilous to mortal men, and some far more so. We have many fiends of divers sorts even here in Engelond, some of which are friends to man and hold no malice, but the most of which are ill-natured and lose no opportunity to do a mischief. They say that when the rovers came from Noroway in the days of the good King Aelfred, they brought with them in their long black galleys, together with many a thirsty spear, the devils and hobgoblins that were their pagan gods; and that these have stayed after them and are yet the foes of all true Englishmen."

"We have seen no such creatures," said I doubtfully.

"Nay, for men rarely see them. For the most part, they do their evil deeds by night; and many are able to become invisible at their will. And some take divers forms: such are the werewolves, which are by day men, by night ravenous man-eating beasts."

This was decidedly discouraging. I was still not sure, though, that de Long was not merely jesting.

"Are these things likely to be dangerous to Martians?" I demanded.

"I know not—but here in Engelond, as I have said before, there are much fewer of these fiends than elsewhere," he reassured me.

I glanced nervously about the room. "Is it—is it possible that an invisible fiend might be present even here?" I knew that our scientists had produced invisibility in the laboratory, but it was hard to believe—

De Long nodded gravely. "Quite possible," he affirmed, adding sententiously, "Even walls have ears; speak of the Devil and his imps will appear."

"Excuse me," I said falteringly. "I just remembered an important engagement—"

I switched off the telepathor, gathered it up and made a hasty exit. I wanted to consult with Captain Tutwa.

The captain listened with skepticism to my retelling of de Long's account of the dangers of the Blue Planet.

"Bah!" he said, when I had finished. "The Earthman was probably lying, for some reason or other. These fellows have strange motives."

"But why should he tell me such tales?" I persisted. "He seemed perfectly serious. And if such dangers do exist on Earth—"

"The motive becomes perfectly plain to me!" exclaimed the captain, snapping a tentacle in the air. "By telling us of imaginary dangers, the Earthman intends to frighten us away and preserve his sovereignty over the planet."

"That sounds like a plausible reason," I admitted. "But—if he is telling the truth, we are risking Martian lives every moment we remain here! We should at least check the facts."

"Well...." The captain turned blue with concentration. "The Council, in chartering the Earth Expedition, expressed a fear that the planet might prove unavailable for colonization, due to possible inimical life forms. It's so much nearer the Sun, and so moist, that we had anticipated just such a canalbank jungle as does exist; and it's possible that the pressure of evolutionary competition might develop strange and fearful creatures.... But, remember that we haven't seen even one of these 'fiends.'"

"De Long said that a great many of them are invisible."

"Hmm!" said the captain. "Of course, that's within the bounds of possibility, though not of probability; but before we came here I'd have said flying animals were improbable. We had best investigate."

"Eh?"

"It's simple. We'll merely put de Long under the lie detector."

I was struck by the beautiful simplicity of this idea, which should have been right in my province.

"I leave it to you to maneuver de Long into a position where we can use the detector without his knowledge," said the captain.

"Very well," I said joyfully.

It was not difficult to get de Long aboard the ship; he had never had a chance to satisfy his curiosity concerning it. I showed him through several of the cabins without doing anything to arouse his suspicions, and finally got him seated within the effective radius of the lie detector.

"Er—I've been wondering about—about those werewolves you were telling me of, Sir Henry," I improvised. "Just what are their habits?"

"They are a dangerous sort of demon," replied the Earthman readily. "By day they appear to be ordinary men, save that they may be distinguished by the first finger of the right hand being longer than the second; but in the dead of night the craving for human flesh comes upon them, they grow hairy, their nails become claws and their jaws lengthen, and they are wolves. They may not be slain by any weapon while in the beast form, but must be taken in human shape."

I quivered in spite of myself. The lie detector indicator had not moved from center—what he was saying must be the dreadful truth!

"Are—are they the worst sort of fiend common around here?" I ventured to ask.

De Long constricted the skin above his eyes judiciously. "The vampire is likewise a direful demon, though little known in these parts," he declared. "It is the soul of an unsanctified corpse, which rises in the night from its grave and goes forth to suck blood and life from living men."

I sprang to my feet, unable to remain still any longer. De Long stared. "Is aught amiss?" he exclaimed anxiously.

"No—nothing," I muttered, and the lie detector needle leaped clear against its stop pins. "That is—I rather think we'll be leaving Earth before very long." With lame excuses, we managed to get the Earthman outside.

Captain Tutwa thoroughly agreed with me that we must leave this noxious planet at once, never to return, and that Earth must be declared unfit for Martian colonization. I can solemnly say that the Blue Planet is a veritable inferno; we of Mars will do well to keep clear of it in future interplanetary explorations.

I am sure that you can well see that Earth can never be colonized from Mars, that it must be forever shunned as a plague spot. If any of our hot-headed youth is now so foolhardy as to brave the horrors of that planet of fear, their blood is on their own heads.

In the 75th day of the 242nd year of the invention of the steam engine,

(Signed)

Shapplo with the Long Proboscis,
Interpreter, First Earth Expedition.






</p>
</body>
</html>


