<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
The acquaintance renewed.
lang shall-that live in the gloryaa…. in the gloria … in the gloriaaaaaaaa … Hip … hip … hooray …

The floors rumbled, the windows rattled, the clinking of glasses, the clink of spoons and forks, knives and plates, and the trampling of noisy feet accompanied the song.

It was a party in the new home of Vader Bell, the well-known shoemaker from the Breestraat in Rotterdam. Years of diligence and thrift had enabled him to acquire a property entirely according to the requirements[ 6 ]The shop of Women's, Men's and Children's shoes, which was furnished in the time, and its festive opening was celebrated in the spacious rooms above the shop by family, friends and acquaintances.

There were, to begin with, Father and Mother Bell, both about fifty years old, radiant with health and zest for life, both proud of the ideal attained. Father likes the shop the most, Mother likes the brand-new furniture, the intensely artistic paintings, the beautiful wallpaper, the carpet of flowers.

There was Pietje … oh no … not PIET … PietJE please.

Ever heard of Pietje Bell?

Here he is, sixteen years old… fashion suit… patent leather shoes… silk tie, frightened net-combed quiff, high collar, manicure fingers… Ho-ho… wrong man… all wrong, but more on that later. There was Geelman, the druggist from Breestraat, you know, the grumbler, who looked as yellow as the herbs he sold. And then his son Joseph, a terribly good man, member of the board of the association for the protection of animals. Beside father and mother sat Martha and her husband. Martha was Piet's sister and she now lived in The Hague.

And there was also a whole group of young people, all of Pietje's friends, fellow members of the korfball club.

The merry guests sat at the banquet, talking loudly, laughing, clapping and drinking to the health of father, mother and the new business.

Flip Buitenhuis, Pietje's bosom friend, fast poet, master of ceremonies, pacesetter of the club, promising successor in his father's cigar shop, tapped his glass and requested silence and attention for a poem he had forged on the occasion of this feast.

Flip, cute guy with a cute face, waited a minute,[ 7 ]until it was perfectly still and began in a solemn tone:

In the dead of night——while everyone slept soundly..

Except the sentry———

On post at the canal….

I say… in the middle of the night….

Did I come up with this fresh.

And in the darkness of night….

I chord the whisper

Of a voice that said to me:

Sssst… Flip, take your writing utensils,

And dedicate a tribute song

To Pete's parents.

And so——dear Mr and Mrs Bell,

I did open my poetic one.

And with stars twinkle and cat meow

I shook the following lines from my poetic sleeve:

Years of prosperity and industry,

Of sweat of brow and thrift,

Have expanded Mr Bell's business.

And whether you talk about it much or little,

He has the most beautiful shop in the Heerenstraat

And there he sells you no tubers for lemons,

But first class boots, slippers and shoes.

In the fair city of Rotterdam,

From the time when Claudius Civilis came to buy shoes,

I say, since Xanthippe came to buy slippers,

And the migration made whole nations run to Rotterdam,

Yes …. since Kaninefates and Tubanten lived in caves

They left their shoes soles at the Bell family.

You have certainly heard,

How Hannibal and his armies came across the Alps,

It was a cold journey—the Alps were full of snow,

You found no tree, no bush, not even a dead starling,

And that they did not get wet feet on that journey,

It was because they bought overshoes from Mr. Bell.

So, my friends, could I go on,

But my brilliant speech would take too much time,

I think that's why it's enough

To say, to say, to wish and to hope,

May the Bell firm sell many shoes,[ 8 ]

To prince and queen, to peasant and peasant woman, to heathen and heathen,

And if he delivers them to everyone's liking,

Then he becomes purveyor to HM the Queen.

I also pay tribute to Madame,

Which her husband full of love and faithfulness

On his career trodden by many feet

If a valiant comrade in arms has stood by,

Just like Julius Caesar did with Piet Hein.

Now a short word to the children

Piet and his sister—if you will not prevent it—

And I say it without batting an eyelid,

They have chosen the best parents in the world.

And now, ladies and gentlemen, high the glass,

Just pretend you were at home with your mother,

Sing and sound and drink till you can't count two anymore,

In honor of all Bells present here,

And sing with me that you can hear it in Africa:

Long will they all live in the Gloria!!

Bravooo!!… fine… ha-ha-ha-ha-… well, that's a good one…

Father Bell burst into tears at all that heartfelt humor, and stood up to say thank you.

"Friends," he said, "I can't use so many foreign words as Flip, but I must say that I will remember his most charming poem all my life, and thank him very much for it. Yes, always be cheerful, that's my idea too. I've always been happy with it, and I like people who think the same way. Flip, thanks again for your verse, I'm glad you're Piet's friend ... and even though you told us a lot of lies, about those Rabbit barrels and those Guards, or whatever those Indians were called, the intention was good and beautiful and you can tell Mr. Sanniplak or Bannihal on my behalf that I have received a new supply of galoshes, in case he has another such pleasure trip.[ 9 ]going to do business. Friends … to the health of Flip Buitenhuis!”

There was sounding and drinking, and the banquet continued with merry conversation.

The readers of Pietje Bell may well remember that the shoemaker used to be nicknamed 'Jan Pleasure', because he was always cheerful and sang songs from early in the morning until late at night, while he wore the boots and shoes of the whole family. neighborhood repaired.


That innate gaiety had stayed with him and had brought him more and more customers. When Pietje was eight years old, his father had opened a small shoe shop on Heerenstraat, but now the old shop had become too small again and Vader had bought the large, empty shop next door and furnished it according to the requirements of the time.[ 10 ]

After completing primary school, Piet had attended a special school, where, in addition to the ordinary subjects, he had also learned Commercial Accounting, Foreign Correspondence and Accounting.

He had been out of school for a few days now, and the next day he was to be hired as the junior clerk at a grain office.

What kind of boy had Pietje become?

Well, in the first place he had grown older—that's logical—and with age a person always changes a little and that's a good thing.

Little Pietje Bell had been more or less the humorous nuisance of the whole Breestraat and more than once the newspaper had mentioned his name as the biggest rascal in Rotterdam.

Now—at sixteen, with a head full of study already, such follies, of course, were no more, though he had an insatiable appetite for amusement. Piet had never been short of an answer, and the gift of words was so developed in him that he had a separate dictionary in his head of all kinds of self-made words and expressions, which he used all the time.

Pietje was strong, healthy, of good stature, dabbled in boxing and jiu-jitsu, which he had been taught by a former comrade, and counted his friends by the dozen.

The next morning at half past eight, Pietje walked for the first time to his first position: the office of the grain merchants Graanzak & Zonen.

A lanky young servant was the only one present; it seemed to be a little early.

The young man did not seem to suffer from excess of politeness, for he added to Piet:

"What are you doing here?"

Now timidity was something that Piet had been doing ever since[ 11 ]did not know his birth. He surveyed the boy calmly from head to foot and asked, mockingly politely:

"You said?"

The boy felt the sting and tried to hide his clumsiness with an even greater clumsiness.

“Bee-you deaf? I ask what you want here; there isn't a person in the office yet, and you can pull out another quarter of an hour."

"Imbécile, je crois," said Piet, laughing.

"What does that mean?"

"Whether you like ham from a polar bear," translated Piet.

"Well, in any case, you've got nothing to do here, braggart!"

But now Piet opened his dictionary:

"Show off? Well, you triplicate quarter-phonograph, if you think you can open your unpatented mouthpiece so wide against me, I'll sell you a bang on your dining-room that you'll need the rest of your life to pay off the dentist. ”

The boy took a step backward, stunned by this unexpected verbiage.


The medium had helped and because Pietje was more interested in his new job than in the ragged flail, he turned his back on him and awaited the arrival of his patron.

He had remained perfectly calm, as this bum didn't interest him enough to think about him.

Because Piet had his own ideas about things: he didn't let anyone fool him, he was friendly to the friendly, polite to[ 12 ]the polite, good to the good, but when someone spoke harshly to him or treated him with contempt, Pietje showed that he was a free Dutch boy and that he possessed a quickness of tongue which was enviable for a trained orator.

Gradually the office staff came in, soon followed by Mr. Graanzak.

When this Piet noticed, he beckoned to follow him into the private office.

The word may sound a little lavish, but the private office was little more than a cluttered cubicle with an old lectern and an even cluttered closet full of books and papers.

Grainsack fitted in perfectly with this environment, he was shabbily dressed and his oldish face was not very friendly.

"Stand there!" he snapped at Piet, as he took more than three steps into the room.

Piet obeyed and eagerly awaited the things to come.

Grain Sack hung up his hat, planted a lorgnette on his nasal bone, and fumbled through the papers on his lectern.

He used the lorgnette to look over it.

"Come here," Grainsack commanded sharply.

Piet approached the lectern.

"Halt-halt ... no further ... that's enough ... well, your name?"

"Peter Bell, sir."

"Born?"

"Yes sir."

“I mean where … when…”

“Rotterdam… August 2…”

“Great… get a broom.”

"A bee …????" asked Pete in surprise.

“Yes-yes… a broom…”

Piet obeyed again; he was not clear yet[ 13 ]understanding of his new work environment. He thought he would be an office clerk and get a desk. What did Grainsack want with the broom?

"Now come here and wipe me out that pigsty."

Pete looked around.

"Is that here?" he asked.

"Look at the floor and look under the table," snapped Grainsack. "Is that dirty enough? If you're not as lazy as your predecessor, you can scratch right away. It's a swine mess in here and you're cleaning it, you understand?"

"Stand there!"  he snapped at Piet, as he took more than three steps into the room.
"Can I make a phone call?" asked Pete.

"With whom ... for what?"

“Oh, I just wanted to call the Municipal Cleanse, they know more about this than I do. No, Monsieur Graanzak, I think I made a mistake in coming here."

"Who-what-how-where ... mistaken ... mistaken??"

"I had thought I'd get some writing and calculating in an office , but I haven't gone through the merchant class.[ 14 ]to sweep pigsties...I'm not a stableboy..."

With these words Piet put the broom against the wall.

Graanzak was of the sort who think they can add insults and insulting expressions to others in their service. Pietje was willing and obedient enough, but from his earliest childhood insults and unfair treatment had aroused his indignation.

Grainsack laid down his papers in astonishment and snapped:

"Pick up that broom, you monkey ... you are here to do what I choose ... come on, no screeching."

Pietbowed smiling and said:

"I'm very sorry, sir, but I think I'll go home again. Goodbye, Mr. Grainsack… Don't sink too far into the grain.”

The door slammed shut behind him, but Piet didn't see whether the draft was doing it or someone else.

In the hallway he passed the office boy, who looked at him with a mocking smile.

Piet stopped, made a quick grip on the young man's tie, and said with his nose and eyebrows drawn up:

"Say, I'm really excited to tell you what I think about you and about your dear boss, but if I ever meet you again I'll drum a drum on your facie, that your patron thinks your face is a pancake pan. ! Salute.”Putting his money where his mouth is, he walked out, disappointed… but with no regrets.

Piet did not allow himself to be used by the best for a floor mat, he had had to study too much for that, he felt too independent, too free, too much Watergeus … yes … too many boys with Piet Hein blood.[ 15 ]

He wanted to work, to do his best to get ahead in society, but he wouldn't let anyone buff, snarl and snarl and "sit upside down."

Thanks, he was Pietje Bell, and whoever didn't understand that would experience it.

He came home, went into the shop, where Father dusted the boxes.


"Well, now what?" asked this one.

"Me, voilà, dear Papa," said Pietje, "I have a holiday, ha-ha."

„Vacation? You weren't fired, were you?"

"Oh, pas du tout ... you can just think, father. I haven't even started, how could I have been fired?”

"But what happened then?"

"Well, when I came into the office this morning, all there was was one wiry-haired chappy. He[ 16 ]I must have imagined myself to be president of the burnt grain warehouse and asked what I was up to. Well, I just told him that my way and then he was quiet. And then came Mr. Grainsack ... tried to buffe me from the first moment ... and make me clean the pigsty."

"The pigpen?" exclaimed father in astonishment. "Were there any pigs?"

"I think Mr. Graanzak included himself, at least he called his private office a pigpen."

"And then," laughed Vader, who always liked Piet.

"Well, I put the broom against the wall and wished Mr. Grainsack long life and magpie eyes."

Father Bell laughed and fell to his knees in delight.

That Pete, that Pete, ha-ha-ha...of course the boy hadn't...but he was right...it hadn't been a way of doing things.

Piet put on an old jacket and went to help his father. He had nothing else to do and hated sitting still.

Ornament.
[ 17 ]

[ Contents ]
Second Chapter.
Second Chapter.
The Korfball Club "De Vroolijke Gang."
dthat evening Pietje went to the Meeting of the Rotterdam Korfball Club: De Vroolijke Bende, in the upstairs room of café De Kroon.

All members sat around a long table, the chairman, Jacob Mantel, at the top, flanked by Marie van Zanten, secretary and Mother of the club, and Harry de Graaf, treasurer, and promising bookkeeper.

'Ladies and gentlemen,' said the chairman, 'I declare the second meeting of the korfball club 'De Vroolijke Bende' open, after having given you all a warm welcome. The floor is given to our secretary, who will read the minutes of the previous meeting.”

"I have handed over the writing thereof to the Second Secretary," claimed Marie, laughing.

"Thus our friend Pietje Bell, second secretary, has the floor."[ 18 ]

Pietje got up, took up the notebook and read:

First Meeting.

At the persistent insistence of the Minister of War and even more nice people, De Vroolijke Bende has been founded today, with the aim of making the most fun and ...

Here the chairman tapped the hammer.

"Wouldn't it be better to replace this phrase with: aiming to practice the noble game of korfball in the most pleasant way?" he asked.

"That's exactly the same," said Pietje and continued:

… having the most fun possible and aiming a ball in a basket without a bottom.

Since the establishment of such a Gang was considered very necessary by all those present, the celebration of the birthday of one of those present was then proceeded with, which cost him a round.

Miss Alida Specht could not see the use of throwing a ball into a bottomless basket, since it fell out again, but the President explained to her that this was the joke of the game.

Having thus declared the usefulness of the game, the chairman announced that twice a year the club would give a presentation for the benefit of the cashier and with it to pay the bills of the previous soirée.

The Club's Rules of Procedure were then adopted and all present resolved not to disturb them.

The costs of the meetings, room hire and dining will be paid from the proceeds of the next soirée, and the owner of café De Kroon took this with great joy.[ 19 ]proposal. Efforts will be made in the same way to cover the other expenses of the club.

Finally the association was given the name of De Vroolijke Bende, which was accompanied by general acclaim, and in which three glasses and two cups were killed.

“Is there anything to criticize or disapprove of in these minutes?” asked the chairman. "Nobody? Then we will hereby approve and sign them. †

With graceful curls, Harry put his name underneath and then continued:

“Is there anything to criticize or disapprove of in these minutes?”
"Number two on the agenda: Report on the past quarter."

Pietje got up again, took another book and read:

It is by no means an easy task to tell exactly what happened in the first season of De Vroolijke Bende, because rarely in the world has such a noisy, versatile, unruly and exuberant group been gathered together. The first exercise was held on the Exercise Ground, where it had rained continuously for fourteen days. The playing field was in an antediluvian[ 20 ]pool recreated and therefore eminently suitable for korfball. When the club returned home, the members looked like polder boys. It was generally agreed, however, that it was not a "dry affair." The treasury was in an exemplary condition, and there was a regular deficit, as the expenditure was greater than the income.

Jacob Mantel, chairman, was also elected leader, with a long ice, and he taught the club what not to do.

Some rehearsals were held for the as soirée, which ended very successfully, as most of the participants were notable for their absence. All things considered, the club is in excellent prosperity and is looking forward to a great future.

Pietje sat down to the applause of the members.

"Approved," said the chairman. The next item on the agenda is number three: Proposal by Ms. Marie van Zanten. The word is hers.”

Marie, a fifteen-year-old brunette who could pass for seventeen, stood up."My papa," she said, "will give the club as a present a movable clubhouse with all the necessities..."

Flip flew to the piano and started hammering with all his might: "Long may she live", which was immediately taken over by the whole Gang. Boots stamped the floor, chairs were knocked over… hooray… hooray… and if the president hadn't prevented it, the whole club would have embraced Marie.

The owner of the coffee house came up to inform the honorable meeting that this was a conference room and not a skittle alley.

Marie's proposal was, to get the present from her[ 21 ]father with thanksgiving, which was again met with such stormy acclaim that the said owner returned halfway up the stairs and now firmly and firmly concluded that it was a scandal.

"Shame on you," he said, "the lime is falling from the ceiling below."

"Let's agree," Flip answered the man, "that it must be some cheap ceiling."

"Certainly fake lime," thought Pietje Bell.

"Good ceilings," said Jacob wisely, "don't let go of lime. Try Portland cement.”

"You're raving," exclaimed the man, "and this is the last time I'll warn you. You think I'm an idiot?"

"We won't contradict you at all," said Flip amiably.

The owner took this as a courtesy, as the meaning did not sink in, and departed with the announcement that it must have been the last time.

"Imagine," claimed Mien Kuijer, a fourteen-year-old tomboy, "the man gets his rent paid after the first soirée, and then you won't even be allowed to stamp the plaster off the ceiling."

It got hot in the room.

Harry de Graaf, with the ladies' permission, took off his jacket and displayed a new silk shirt.

It had a strange combination of colors.

"Don't you think it's a nice shirt?" he asked Pete.

"Well," was the reply, "I don't mean to say it isn't pretty, but if I had a shirt like that on, I'd keep my coat on."

"And I think ..." started Flip.

"I don't give a cent for what you think," interrupted Harry.[ 22 ]

"You're right, I was thinking of you," Flip said quickly.

"Order, ladies and gentlemen," demanded the chairman, "order please. Where's my hammer? Oh Pete, give me a minute.”

Pietje stretched out his arm to the hammer, which had become entangled in the noise on the other side of the table.

"Gut, you can reach terribly far," remarked Alida Specht, a tall, slender girl, who was called "Spider" because of her pointed tongue.

The chairman knocked on the table.

"Come in," said Pete.

"Order," corrected Jacob. "Number four of the agenda is up for discussion: No persons under the age of fourteen can be admitted as members of the club."

"That doesn't apply to me," said Flip, "I was sixteen on the second April."

"A day late, as usual," remarked Spider.

“Is there anything to criticize about this arrangement?”

"Well," said Harry, "Jannette de Boog here isn't fourteen yet, so she can't be a club member either."

"What?" cried the young lady in question, who had very distinguished views, often used French words, and regretted that her father was a farmer. "What? Do you think I'm not fourteen yet? Do you think so? Quel idea! Vous-etes foul!”

"Hotel de France," said Pete. "Si vous L'Abattoir!"

"Pourquoi le quadrille," added Flip.

"Coupe des cheveux et la barbe," claimed another.

"Silence, order," the chairman admonished, hammering the table again.

Mien Kuijer enjoyed Jannetje's anger, but her joy rose to the top when Flip got up and said:

"I propose that we translate Jannette de Boog's name by Joan of Arc."A deafening applause followed these words[ 23 ]and lime was falling from the ceiling again below, for the proprietor came in again, but this time announcing that the club must leave at once.

With very audible soldiers' strides, the merry Gang thundered down the stairs.
That ended the meeting.

Piet lined up the members in marching order and commanded: onward… Marsch!

With very audible soldiers' strides, the merry Gang thundered down the stairs.

"And I hope never to see you again," was the man's farewell.

"Thank you, of the same," said Pietje. "Don't fall over the mat."

That evening he wrote in the club's minutes book that the second meeting had been very animated and successful.[ 24 ]

[ Contents ]
Third Chapter.
Third Chapter.
Of a cocky house servant and the bet in the Lunchroom.
IIn a book you don't get to know the hero of the story so much on the first pages in all his special qualities, especially not a versatile boy like Pietje.

Our friend, of course, had not changed so much, or had retained much of his former character, and he occasionally gave evidence of it.

It was remarkable how many friends he had, because everyone loved him for his sincerity, his inexhaustible humor and zest for life.

He always knew how to point out the merry side of things, and in doing so helped many a person to get out of a downpour.

Piet had a firm character, a will of his own and a great deal of self-respect. The latter sometimes brought him into conflict with others who tried to corner or belittle him.

Piet did not let himself be bossed around, the schoolmasters had not told him for nothing that his ancestors had fought for eighty years for their freedom.[ 25 ]descendants, and he would like to see someone who dared deprive him of that freedom.

He knew--when necessary--to bring this very clearly to someone's mind, and then he set his dictionary in motion again, let out such an abundance of out-of-the-ordinary adjectives and nouns that Servaas de Bruijn was watered by it. would have come out of the mouth.

One day Pietje found a golden brooch with a glittering diamond in it.

He carefully preserved the precious jewel and checked the advertisements in the newspaper that evening.

He soon found what he was looking for. One of the advertisements read:

LOST

going from Beursstation along Noordblaak to Schiedamsche Singel 875 a gold brooch with diamond. To be returned to Westersingel 936 for a fee.

It was already a little late to go there that very day, but the next afternoon he made his way to the address mentioned.

It was a rich mansion, where he rang the bell and where a ridiculously conceited lackey opened the door. The man seemed to have a stiff neck, or at least he walked with his nose in the air and looked contemptuously down on humanity from that height. He could frighten children with his voice.

"Well ... what is it?"

Piet looked surprised for a moment, but then smiled. He had already realized what kind of meat he had in the tub.

"I'd like to have a word with Madame, here's my card," he said politely.

The servant, without taking the ticket,[ 26 ]threw back his head, if possible, and said:

"And what have you to discuss with Madame?"

"Something of great importance," said Piet patiently.

“Ma'am has other things to do than listen to such boys. Guests are expected and the family doesn't have time to listen to you anyway."

"I think," said Piet, "that Madame will find the matter of which I have come to speak at least as important as the principal guest, and if you will give me my card, you will save Madame a great deal of trouble and trouble."

The house servant seemed to find Piet's insistence impertinent and could not see what important matters the boy might have to discuss with Madame. It made him impatient, and he wished to be rid of the visitor.

"Chat," he said furiously, "we don't buy anything at the door."

“Talks? If you knew what I came for, you wouldn't tell me."

"Then say what you will."

"I wanted to speak to Mrs. ..."

"About what?"










</p>
</body>
</html>


