<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
On an August afternoon, the sun quickly shot a number of stinging arrows into the Admont valley basin, which is traversed by the lively Enns, then the light of the world disappeared behind a dark cloud bank, which announced threatening storms and rough weather. Dull mugginess brooded in the lowlands; A strong north-west wind blew around the gray towering ridges of the massive mountain colossi, the so-called “Hall Walls” in the north of Admont, which soon put a hood of fog on the broad rocky head of the Great Pyrgas and also clouds on the Scheiblingstein, the gigantic second-largest elevation of this rigid sea of ​​stones and swathes, so that the pinnacles and ridges, the snow hollows and wildly torn ribs and gullies were veiled in a white-grey chaos.

The air was heavy as lead and red-hot even in the spruce forest of the low mountain range, it drove the sweat out of every pore of the foresters walking up a hunting trail. The head forester Ambros Hartlieb, a slender, supple man of about thirty-five in a weather-beaten Styrian costume, climbed elastically, steadily, and silently; dark eyes, energetic and stern look, black hair and short full beard. A sympathetic appearance, yes[p. 6] surrounded by a severity that seemed to want to prevent a confidential approach. The opposite of such harsh facial expression was revealed by the figure of the companion, the ranger with the droll name of Benjamin Gnugesser; the man of the same age was of medium height with a tummy unprofessional, blue-eyed, good-natured, reddish-blond, curly hair and a very fox-colored, overly long, flowing patriarchal beard. The forest warden Gnugesser looked like a gnome, a miner from the world of legends, the goodness of heart, love of peace and simplicity incarnate.

In this sweltering thunderstorm on the ascent, Gnugesser sweated for three because of his corpulence, and many a sigh escaped the enclosure of his somewhat damaged teeth. Hartlieb didn't heed this sigh, he was too engrossed in thoughts dealing with the new circumstances created by the change of ownership.

Gnugesser was also thinking about the future in service, in hunting and in the districts, and he didn't think he could hope for much good. He would have liked to talk about it with the superior, Hartlieb's opinion recovered. Since the head forester had remained silent until now, the forest warden did not dare to broach the subject that was so preoccupying him.

Hartlieb stopped on a small plateau near a steep-sided ditch, looked at the fallen cattle, the old dilapidated hay hut, the giant trees that were decaying, and the tracks of deer that led to a nearby wallow. But then the head forester directed an inquiring look at the gray-covered firmament and warned his companion to hurry.

"Well, well! Will be launching soon! but it doesn't matter[p. 7]I'm already wet!” Gnugesser replied, smiling as always and gasping for breath.

As the two walked on, thunder rolled out of the cloud bank that had settled on the massive Pyrgas colossi. Hartlieb strove at an accelerated pace between the edge cliffs of the Gstattmaier High Alps, on whose plateau the Pyrgas hunting lodge was located in the middle of the best chamois hunting grounds. Gnugesser panted behind, dripping with sweat.

There was dust in the tangle of rocks, the mountain wind played its game and tried to tear the hats off the foresters' heads. The hunting lodge came into view, a weather-beaten frame house, with a new addition flashing yellow and white, windswept. A hunter's hand in shirtsleeves stood in front of the door and looked out. And when he saw the two foresters, he disappeared, only to reappear quickly in Joppa and with a hat and go to meet the superiors. A gorgeous blond fellow, slim, a guy to fall in love with, delicate and fine facial features, somewhat melancholy eyes, a nice little moustache, fine cherry-red lips. A dapper fellow who was very well dressed in the Styrian costume. The summer sun had done little to tan cheeks, hands, and knees. Polite,

Hartlieb nodded in greeting and waved his hand at the efforts of the handsome hunting assistant Eichkitz. The forest warden gasped for air and ran a gallop when the first rain shower rattled across the Hochalpboden. In great leaps the three reached the sheltering hut. And now it started: sleet rattled on the shingle[p. 8th]roof, then pea-sized castles made a deafening noise, which a downpour with pieces of hail the size of eggs increased beyond measure.

The storm couldn't do much damage to the hunting lodge, because Eichkitz had carefully closed the wooden shutters on the weather side before the storm broke out. The hailstones bounced powerlessly off the wooden shutters.

In the spectacle of the hurricane speaking was impossible; one would have had to shout in order to make oneself understood at all.

Head forester Hartlieb found the warm temperature in the cooking room of the service hut pleasant while he put down his rucksack and rifle; the hunter Eichkitz as an intern had kindled a good fire in the iron hearth and constantly entertained it to welcome the sweating gentlemen. The warmth felt good after a difficult ascent. Satisfied, Hartlieb nodded as Eichkitz busily pushed more wood into the stove.

Benjamin Gnugesser made himself comfortable, took a seat on the bench on one side of the hut, but he wasn't smiling now and didn't feel like smoking his pipe. The severe storm seemed, if not to frighten him, to fill him with some uneasiness. Often enough he had reminded the Admont specialist to finally install the lightning conductor on the Pyrgas hunting lodge, but the man had found the way up to the lonely height too far. As tough as Gnugesser was, he had a tremendous respect for lightning strikes.

Unconcerned about the heavy storm, which tried in vain to knock down the hut, Hartlieb lit a cigar and to thank him for the woh[p. 9]He donated a smoldering smoke to the huntsman's assistant, which Eichkitz accepted with a curmudgeon, gratefully, and immediately set it on fire.

For a while, nightly darkness reigned around the storm-tossed hut. Only the red dots of the smoldering cigars and occasional flickering flames in the oven could be seen in the hearth.

Then the hail and rain subsided and it became lighter. Instead, heavy wafts of fog surrounded the hut.

Eichkitz now opened the shutters on the weather side. Icy cold air rushed in, so the hunter hurriedly closed the windows again.

A sea of ​​fog billowed across the Alpboden, white as it was at Christmas, covered by hail. The wind whistled cold. But the storm had raged; it was followed by a fine rain.

Hartlieb now inspected the new extension, followed by the forest warden and hunter. And at first glance the head forester noticed that there was no stove in the living room of the little house. Hartlieb asked Gnugesser if the stove had been ordered in time. With a smile of clear conscience, the forest warden replied: "Well, well, Mr. Head Forester! Ordered in good time, of course as soon as I received the order! But the craftsmen are just so slow! And the stove won't come up to the Pyrgas hut by itself!"

"The devil take those guys! So the ovens are probably not yet set up in the other annexes either? Such a damn sloppiness! And the princess can arrive any day! If a stay at one of the hunting lodges is ordered, we have[p. 10] the infernal G'frett right at the beginning of the new reign! The house marshal will clamor that our ears will ring!”

The smile died on Gnugesser's beard-covered lips as he stuttered, "Well, well! Its doing an oil end with the craftsmen! And the new era starts crookedly!”

"Arrange for everything necessary to do with the delivery of the oven in Admont tomorrow morning! Kick the guys until they squeak! Everything must work together so that the order is carried out before the new mistress comes up for the first time! You are responsible to me, Mr. Forest Warden! Roger that?"

"Well, well!" Gnugesser stammered in obvious discomfort.

Hartlieb turned to the hunting assistant and sharply reprimanded the insufficient area control because of the small animals that had gone off the rampage. "This nonsense must not be tolerated! As a hunter, you must know that chamois absolutely cannot tolerate the scent of goats and sheep! Small livestock that have escaped and gone up must either be impounded or shot so that the owners can ensure better supervision! For the first time pawn against redemption in the hunting office in Hall! If that doesn't help, make use of the weapon and shoot the small animals that have exploded! The hunting assistants are responsible for keeping the areas clean!”

"Your command!" replied Eichkitz.

"You have now been warned once and for all! I don't tolerate any sloppiness on duty and in the station!"

"At your command! I won't miss it! The sharper[p. 11]but if we proceed, the more rabid and rebellious the alpine farmers will become! Where we jaagers aren't given any more milk and butter by the people anyway! I beg you obediently: May we not try it on good terms first, with warnings?”

Hartlieb's answer was sharp: "I don't care how you do it! Order must prevail! Kindly think more about your service! If I see any more small things that have been blown up in the infirmary, you can expect to be fired!”

Startled by this threat, the handsome hunter begged his pardon, and eagerly vowed bold action.

"Will be good in your own interest! – How did the carpenters behave during the construction of the little house?”

"To serve, Herr Oberforster! I've been busy on the road, no one got any further than the snow trough on the Great Pyrgas! I don't think the chamois were particularly worried! I turned tourists away whenever possible!”

"Until further notice, every passage in the high areas will remain closed! If the princess wants to allow the yoke-lovers to scatter chamois, that is up to the mistress! The hunters will be informed about this! In the meantime, every tourist without exception is to be expelled from the areas! When setting up the stove in the Pyrgas hut, you are responsible for supervising it to prevent any disturbances in the area if possible! – So, now accompany us to the Steinschütt!“

The gentlemen returned to the old hut, while Eichkitz carefully locked the little one.

[p. 12]

With a sour smile, Gnugesser said: "With all due respect, Mr. Head Forester! I thought we'd stay the night at the Pyrgas hut...! When it's raining!'

"That would be a pointless waste of time! In the evening we go via Schottenboden and Assangeralp to the Million Hut, where we will meet the house marshal. The rain can't stop us! And you can only benefit from diligent exercise; the sooner you get thin as a tree, the better for you! I am very much afraid that the new mistress will draw conclusions from your little tummy - comfort and luxuriance!'

"Oh my god! With the meager salary and rigorous service, a luxuriant life! And what's more, my wife isn't – a culinary artist!”

A sarcastic smile crossed Hartlieb's face and a wry look grazed Gnugesser's stomach.

Backpacks and rifles were slung. Eichkitz had also gotten ready to march; he put out the hearth fire and locked the hut after the gentlemen had gone outside.

The wind howled coldly, the rain trickled down desolately in threads. The hailstones crunched on the Alp floor under the heavy hiking boots.

The hunter Eichkitz, who was trudging ahead, took the direction to the fog-filled rocky wilderness of the Steinschütt, striding elastically, but very sullenly.

Hartlieb immediately recognized that the bad weather meant that there was no "good sight" to be counted on, and that the march to the Schütt was completely useless. So he sent the hunter back and hiked with the forest warden on stony paths, some covered with castles, some muddy or washed out, through rain, wind and[p. 13]Fog the way back to the Plechauer-Alp and then over to the Schottenboden. The goal was the so-called million hut in the Stadlgraben area, where the best deer are.

Late in the evening the sodden forest rangers reached the lonely hut, which also had a new extension for women. Contrary to expectations, the million hut was locked, the house marshal of Princess Sophie von Schwarzenstein, Count Thurn-Valsassina von Villalta and Spessa, and the huntsman Xandl had not yet arrived.

Willingly, Gnugesser looked for the hut key in the layer of wood on the side wall of the old hut and unlocked it. Cold air blew against them. "It'll be warm soon!" cried the forest warden, who quickly put down his gun and rucksack and lit a fire in the stove. Then he fetched water from the nearby little fountain and put it in a pot on top. Hartlieb took two small cans of goulash, a bottle of beer and bread from his backpack.

As the water hissed and bubbled, the tins were placed in the pot. A few minutes later the cooking was over. Hartlieb opened the cans with a pair of tin snips, and a spicy scent escaped.

Gnugesser sniffed the air like a squirming hound, but politely declined the invitation to eat and contented himself with the piece of bacon and black bread that he had brought with him.

"As they want! Don't you like goulash?” asked Hartlieb.

"Yes, but only near an inn!"

[p. 14]

"Oh I see! Because of the thirst that the pepper creates? Well, canned peppers contain only very weak paprika, and there is enough water to quench your thirst! I'll save the second portion for the Count in case he doesn't have provisions with him!"

Chewing on his bacon, Gnugesser prepared a bed for the night in the hayloft above the hearth. Then he returned to the living room and kitchen and asked if he might go home since the Count was unlikely to come.

Hartlieb asked ironically: "Is longing love driving you home?"

"I beg you, Mr. Head Forester! After all, I've been married for two years! I just meant you don't need me for evening and night!"

"Not me though! If the Count comes after all, it could be that he wants to ask you for the tour tomorrow! If he doesn't come today, your presence would be of no use!"

"Does the Count want to stalk deer? In this weather he won't be able to eye a frond! What else does he want up there?”

"I do not know! Maybe just an inspection tour, checking whether all hunting lodges have received the Damen extension in accordance with the regulations!”

"It's funny that our hunting business is now - to be feminized! A woman as – lord of the hunt! I can't think how to do that! The Jaager also put their heads together and whisper about it!”

Hartlieb stepped outside the hut, listened, returned and gave Gnugesser the freedom to go home.

The opportunity to learn about the new relationships with the[p. 15]The forest warden wanted to speak to his superiors after all. He lit the little kerosene lamp, closed the shutters, and asked to be company.

"But the dear wife?"

"Won't die if I stay out the night! That kind of thing often happens in our job! With all due respect, do you think, Herr Oberförster, that we will be taken on with the same salary? Didn't the House Marshal say anything about that?"

"Not a syllable yet! I think the buyer of the hunting estate will be happy to be able to take on competent and trained staff!”

"Well, well! But what if the salary was reduced a bit? That would be really bitter for us! Namely for the married officials! As a single man, you, Herr Oberförster, don't have to worry as much..."

"I can't vouch for anything! Just calm down! I have to be asked about wages and salaries, and I will of course ensure that everything stays the same in this regard!”

Gnugesser smiled and smoothed down his foxsy patriarch beard as the greatest worry fell from his chest. And he said trustingly: "It would be even nicer if you, Mr. Oberförster, could push through a salary increase! For me only two hundred crowns, that would be a blessing for my circumstances!

"You mustn't come to the princess with an improvement when taking over the property! Especially since she bought it dearly, too dearly!”

"So? If only she had kept her hands off it! When you think: To the hunting master, Count Lichtenberg, who[p. 16]was only a tenant, of course, a woman as mistress in hunting matters - - the stomach could turn! Hunting ladies business! Impossible not to imagine!”

Hartlieb stripped the ash from his cigar and was just about to advise the forest warden to be careful when he heard footsteps approaching the hut.

Gnugesser got up and hurried out.

The head forester also got up and opened the door so that those who had arrived should have some light for orientation.

"Good evening!" greeted a tall, slender figure in a dark loden robe. Count Thurn-Valsassina, the white-haired house marshal and head of the court, shook hands with the officials and excused the late arrival by pointing out the storm that had forced them to stay in the Griesweber Hochalm.

Hartlieb asked the Count to come into the warm room and make do with the little that could be offered.

The house marshal entered the dimly lit room and exclaimed: "Oh, how comfortably warm! It's really very comfortable! I beg you not to make any trouble on my behalf! I have provisions in my backpack, which my brave companion, the good Xandl, is carrying! We want to share brotherly in the mountain solitude! Hey, Xandl, line up and unpack!”With his prettiest smile on his bushy lips, Gnugesser, the foxish gnome, intervened by taking the rucksack from the tall hunting assistant Xandl and whispering: “Quickly serve the gentleman! take off your boots!”

[p. 17]

Hartlieb meanwhile put more wood in the hearth, so that it soon crackled.

Xandl, a colossus of a sunburned man, quickly knelt down in front of the house marshal and pleaded: "Have mercy, Herr Graf, and let them take off your heavy shoes! One knuckle after the other, if it's convenient!” And he quickly undid the shoelaces.

"Oh, how well trained Xandl is in chamber service!" said Count Thurn with a smile.

Gnugesser fished the slippers out of the contents of the rucksack and handed them to the court boss.

The three of the gentlemen sat down at the small table, while Xandl modestly sat down on the bench against the wall and chewed on a piece of brown bread.

"It's not meant that way, Xandl! The good guide and huntsman also belongs at the table! But first, bring us the wine and the cold meats!”

Everything was shared fraternally. As a courtesy, the officials gratefully accepted the bite of ham with the slice of bread, as well as a sip of Hungarian wine. Hartlieb gave the portion of goulash to Xandl, whose face lit up with joy. "I'll make Kuchelmadel and boil it up right away! May God bless you, Mr. Forester!”

Count Thurn said that after inspecting a few huts he climbed up to the Gamsquöhn, was surprised by the thunderstorm, waited a long time in the Hochalm, then climbed into the Falkennotgraben and then, after time-consuming scrambling, reached the Stadlgraben. "It's a wonderful area, but sharp and taxing! The service and probably also the hunt[p. 18]exercise will not be easy in the districts of the 'Hall Walls'! – Hey, Xandl, the cigars!”

Gnugesser winked at the head forester when Count Thurn made the remark about service and hunting in the districts. But Hartlieb's face remained unchanged. He also abstained from any statement. He accepted Thurn's donation of cigars with a slight bow, while Gnugesser and Xandl thanked him loudly.

Count Thurn asked whether there were iron stoves in all the annexes intended for the Princess, as in the kitchens.

"They have been ordered for a long time and will be set up in the next few days!" Hartlieb replied.

"Nice! Hurry up because Your Serene Highness will be arriving very soon! And once in Hall, one is not sure for an hour that a visit to the hut will be ordered! If bad weather sets in, it would be very fatal if Your Highness had to freeze in a hut!”

Gnugesser's mouth was wide open, so interested was every word. And suddenly he asked whether the Princess knew anything about hunting.

"Mr. Forest Warden, I ask you to refrain from any indirect questions!" Hartlieb remarked reproachfully, and a sharp look flew over to Gnugesser.

Count Thurn said approvingly: "Not at all! The interest of the forest officials in the new mistress is understandable! And here among us men there is no point in asking questions! During her husband's lifetime, the princess often accompanied the most gracious gentleman on game drives and, as far as I know, killed many a deer with a good target shot!

[p. 19]

Now the hugely built hunting assistant Xandl also dared to remark that an occasional stalk and a hunting operation that was fair to the grazing were two different things. "With favors, Herr Graf, if it's allowed: will the Duhrlauch lead the hunt herself, conduct it independently, or will our Herr Oberförster remain in charge?"

"I do not know that! For my part, as court boss and house marshal, I will certainly not interfere in the hunting affairs! And if I should be asked, I will advocate that Herr Oberforster Hartlieb remain the hunt leader! Of course, the Princess's resolutions cannot be anticipated! Your Highness is the mistress, we have to carry out her orders!”

"Oh, Jessas!" Gnugesser exclaimed, his tummy shaking.

"Don't worry! Highness is goodness itself! - That's enough, gentlemen! I am tired!"

The three of them climbed the ladder to the attic, where they slept in the hay. Wool blankets protected against the cold and sharp drafts that came in through the cracks in the beams, despite the moss clogging.

Xandl tidied up downstairs, put out the little lamp and lay down, fully clothed, on the wooden bench to sleep.

After midnight a thunderstorm broke out over the Stadlgraben, the storm raged violently with heavy downpours, shook the hut, and repeatedly ripped open the door, which the hunter Xandl, who had been awakened from his sleep, shut again. But towards daybreak the howling of the storm died away, the wind died away, the rain stopped.

[p. 20]

Xandl woke up, rubbed the sleep from his eyes, and gently opened the window bars. Bright morning light and aromatic alpine air streamed in. The firmament was swept clean, arching light-blue over the snow-covered walls of Hall. A glorious stalking morning after a gloomy, stormy night. The hunter's first thought was the count entrusted to his leadership and the favorable chance for a stalk. But remembering that Count Thurn didn't have a rifle with him, Xandl hesitated. To let the glorious morning of stalking go to waste seemed to him a grave sin of omission. As head of court and house marshal, the count would have to have permission to shoot... And the head forester or the forest warden can lend him the rifle. So Xandl woke the gentlemen with the message that a glorious morning of stalking had dawned. And the hunter quickly made a fire in the hearth to prepare a meager breakfast, a stew.

Frozen and stiff in his old bones, Count Thurn came down the ladder, followed by the foresters. In front of the hut, the splendor of the alpine summer morning, the sparkle and glitter of the millions of water pearls on the foliage and conifer needles in the glow of the first rays of sun blinking in the ditch, was admired.





</p>
</body>
</html>


