<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
Lightning streaked the skies over the Windward Islands. The Caribbean Sea was a tumbled mass of foaming, angry waters.

The chabasco had struck with the quickness and lashing fury that is the nature of this most feared of tropical storms. A chabasco strikes without warning, with tornado-like violence, whirling and smiting and soaking. The storm ends as abruptly as it begins. The air regains its calm. Only the churned-up waters continue to smash upon the shore.

A final, brilliant flash of lightning revealed the gaunt figure of a man stumbling through the raging surf, fighting to reach the safety of the beach. He staggered out of the roiling waters and fell face down on the sand. His only motion was the agonized heaving of his shoulders as he gasped for breath.

His boat, his diving gear were gone, smashed to bits by the wildness of the storm which had washed him ashore on this tiny speck of an island. The island, he knew, was in the Baie du Trésor, Treasure Bay, off the east coast of the big island of Martinique.

2
As strength flowed back into the man’s body, he sat up. Frantically he shot his hand into a pocket of his wet, worn, sun-bleached dungarees. An expression of relief crossed his face. In the faint light of a rising moon, he inspected the two objects in the upturned palm of his hand.

He held two perfectly matched black pearls.

This was the end of his search, the end of weeks under the blazing sun of the Caribbean; the result of hundreds of dives to the bottom of the sea. He knew, and he had the evidence in his hand, that he had made a discovery which would startle the entire area of the Caribbean Sea from the Florida keys to the coast of South America.

He had discovered a pearl fishery so fabulous, so unbelievably rich, that his find would make headline news throughout the world.

He knew also that unless he could keep his find secret until his claim on the pearl fishery was established, treasure seekers and money-mad cutthroats would descend on him like hungry sharks.

He felt sure that his actions and explorations had been secretly watched. He knew who the watchers were—unscrupulous men waiting hungrily to move in and jump the claim he had struggled so hard to find.

His first problem was to get off this tiny speck in the bay and back to Martinique. He was no more than five miles off the shore of the main body of the big island. If he had reckoned his position correctly, there was a long spit of land jutting out from Martinique that he could reach by a two-mile swim. He would need to rest. Calm now, he settled into the sand to sleep.

3
When the man awakened, the light of a brilliant tropical morning proved that he had been correct in determining his position. The sandspit jutted out, welcoming him. Farther beyond he could see the lush, green-covered pitons rising in the center of Martinique. Some of these peaks reached a height of nearly four thousand feet.

The man began his long, slow swim. He had no fear of the sea—though he knew sharks abounded in these waters, and he was unarmed.

But by midmorning he had reached the mainland of Martinique safely. He was pleasantly tired from his long swim, and stretched out on the warm sands to rest and allow his clothing to dry.

In the early afternoon he reached the town of La Trinité, sprawling at the approach of Presqu’île de la Caravelle, the peninsula that formed the Baie du Trésor.

He found a room in a small pension, a rooming house, and spent most of the night writing two letters. One of them was addressed to his son in The Netherlands. The other was to Charles Keene on the island of Curaçao in the Netherlands Antilles.

Along with the letters, he carefully prepared two small boxes.

In the morning, he was standing at the post office door the moment it opened. It was with great relief that he saw his letters and packages go into the mailbag that would be trucked over the pitons to Fort-de-France at noon, then flown on to Curaçao on the night flight.

4
In his relief and great elation over his discovery, the man shed the characteristic watchfulness that usually marked his movements. He momentarily had dropped his guard, and did not notice that his every action had been closely followed from the moment he had arrived in La Trinité.

5
CHAPTER II
Seeing Double
The cablegram was short and to the point.

MAY I BORROW MY FAVORITE NEPHEW FOR A COUPLE OF WEEKS STOP URGENT.

It was signed, “Charles Keene,” and had been sent from Willemstad, Curaçao, in the Netherlands Antilles.

Biff Brewster, the favorite nephew referred to in the cablegram, looked at his parents hopefully.

“Well, Martha, what do you think?” Thomas Brewster asked Biff’s mother, as the three of them stood in Mr. Brewster’s study.

“Oh dear! I really don’t know what to say.” A frown spread over Mrs. Brewster’s pleasant, friendly face, drawing her arched eyebrows closer together. “It seems to me that Biff is away from home so much of the time.”

“I know, dear. But you must admit that we have encouraged these trips. I still feel that travel is as important to a boy’s education as his formal schooling,” Tom Brewster replied to his wife’s mild protest.

6
“And Uncle Charlie says it will only be for a couple of weeks,” Biff put in. “My spring vacation starts next week. I wouldn’t be missing much school—only a day or two at the most.”

Biff looked from his mother’s face to his father’s. He wanted so much to go. In his mind’s eye, he was already seeing the sparkling waters of the Caribbean Sea, dotted with palm-studded islands, long white beaches, and coral reefs.

The Windward Islands, the Leeward Islands, Martinique, Aruba, Barbados, Guadeloupe, St. Kitts—all these colorful, romantic, exciting names raced through the boy’s head.

“How’s your Spanish these days, son?” Tom Brewster asked.

“It’s okay, Dad. I’m scoring well in it at school, and of course I picked up a lot more Spanish when we were in Mexico.”

Biff was beginning to feel easier. His father’s question was an indication that one-half of his parents was considering favorably Uncle Charlie’s cabled request.

“How ’bout it, Mom?” Biff pressed the opening his father had given him. “You know Uncle Charlie and I always get along swell. We’re a good team.”

Charles Keene was Mrs. Brewster’s brother.

“Charlie’s so reckless, though,” Mrs. Brewster continued in a voice registering protest. “If I remember correctly, you and he barely made it out of China before getting into serious trouble.”

7
Biff had no answer to this statement. It was all too true. He and Uncle Charlie had been flown out of China—they had slipped across the border illegally—to Rangoon in Burma and then on to the British Crown Colony of Hong Kong, with Chinese Red agents breathing down their necks.

“Any idea what your brother is doing in the Caribbean?” Mr. Brewster asked his wife.

Biff’s mother shook her head. “Not any more than you have, Tom. Have you heard from your uncle, Biff?”

“Only one letter since we got chased out of China,” the boy replied. “That came about a month after I got back home. All he said was that things were too hot for him to operate in the Orient for a while.”

“He is still with the firm of Explorations Unlimited, isn’t he?” Mr. Brewster asked.

“Oh, yes. Uncle Charlie said the company was negotiating a contract that would have him operating in this hemisphere. He didn’t say what kind of operation it was, though.”

“It must be tied in with his wanting you to come to Curaçao, son.”

“Looks that way, Dad. What about it, Mom?” Biff looked hopefully at his mother. She didn’t reply for a few moments. Then she said, “Well, I suppose—”

Mrs. Brewster never finished her sentence. The youngest members of the Brewster family burst into the study.

“Mom! Dad! It’s a cablegram!” eleven-year-old Ted Brewster shouted, waving an envelope over his head.

“Yes! Another one,” Monica, Ted’s twin sister, chimed in.

8
The twins were five years younger than Biff. Their ambition was sometime, someday to travel “a-lone,” as they emphatically put it. They listened goggle-eyed to tales of the adventures Biff and his father or Biff and Uncle Charlie had shared. On several occasions the twins had gone with their parents and brother to the romantic places where these adventures had taken place. Mrs. Brewster, always present when the twins were voyaging, had taken great care to see that her two youngest were not exposed to the dangers that had accompanied Biff’s far-away adventures. Ted and Monica could hardly wait until they were old enough to take part in them themselves.

“It’s for you this time, Biff,” Ted said. Excitement shone on his young face. His eyes sparkled.

“I’ll wager I can tell you who it’s from,” Mr. Brewster said, smiling.

“Uncle Charlie! Uncle Charlie!” Monica pealed, like a gay bell.

Biff ripped open the envelope. The room became silent.

“It’s from Uncle Charlie all right,” Biff said. Then he read: “YOUR PASSAGE BOOKED SOUTHERN AIRLINES FLIGHT ONE TWO NINE TO MIAMI SUNDAY MARCH TWELVE. RE-PLANE MIAMI FOR CURAÇAO CARIB AIRWAYS FLIGHT TWO NINE SIX. BE SEEING YOU. LOVE TO ALL.”

Biff handed the cablegram to his father and looked at his mother.

“I must say my brother takes things pretty much for granted,” Mrs. Brewster said, laughing.

“That’s Charlie for you,” Tom Brewster said. “When he goes into action, he moves fast.”

“He surely does, Dad, whether it’s against Chinese bandits or sending cablegrams,” Biff agreed.

9
“One cable this morning. A second this afternoon. Well, I guess we’d better be making up our minds, Martha. What do you say?”

“Can we all go?” Ted wanted to know.

“Oh, yes, I’d love to go to the West Indies,” Monica pleaded.

“I’m afraid it will be just Biff this time,” their father said. “Providing, of course,” he added hurriedly, “your mother approves. Well, Martha?”

Martha Brewster shrugged her shoulders and smiled. She was still torn. But she had great confidence in her son’s ability to take care of himself. He had proved this time and time again. And Charles was her favorite brother, reckless though he was.

“All right, Biff darling. I might as well give in now as later. I know you and your father won’t give me a moment’s peace until I do.”

Mrs. Brewster’s statement was met with cheers led by Ted and Monica. Biff crossed the room and put an arm around his mother’s shoulders. She pressed her head against her strong son’s chest.

The conference in the Brewster home in Indianapolis, Indiana, came to an end.

Sunday morning at ten o’clock found the Brewster family at the Indianapolis airport. Flight 129, southbound for Miami, had already been called. The last hasty farewells were said, and ten minutes later the plane speeding Biff southward became a mere speck in the sky to his mother and father and the twins.

10
The plane zooming Biff to another adventure landed at the Miami airport in the late afternoon. Coming in over the city of fabulous hotels, America’s playground, Biff could see the lingering rays of the setting sun slanting out over the bouncing waters of the Atlantic Ocean.

From Carib Airways, Biff learned that the flight which was to take him on to Curaçao was not scheduled to depart until midnight. After a dinner of delicious stone crabs, Biff wandered up and down Lincoln Road, the famed shopping center in Miami Beach, gazing into the windows of the shops which lined the streets.

He left Lincoln Road and swung on to Collins Avenue. One hotel after another, each in turn seeming more luxurious than its predecessor, lined the east side of the avenue, between the street and the white, sandy beach.

The night air was warm and gentle in contrast to the cold, blustery March winds Biff had left behind him in Indianapolis.

Biff returned to the airport shortly after eleven, reclaimed his baggage, which he had checked, and waited for his flight to Curaçao to be called.

The call came just ten minutes before midnight:

“Carib Airways announces the departure of Flight two nine six, for Port-au-Prince, Haiti, Willemstad, Curaçao, and Fort-de-France, Martinique. Now loading at Gate Nine. All aboard, please.”

Biff joined the line which was moving slowly through Gate 9. He looked carefully about him, as he always did, spotting faces that he might run into again. He had learned in the past that it was wise to remember as much about one’s fellow passengers as possible. No telling when such knowledge might come in handy. Besides, he found the faces of traveling people interesting. On many long rides, he had amused himself by trying to guess where they had come from, where they were going, and why.

11
The line shuffled slowly forward. Flight 296 was filled. There would be no seats for the hopeful standbys.

Biff had checked his heavier bag through earlier, when he had presented his ticket. Now he carried only a small, light dispatch case. Accidentally, as the person directly in front of him stopped suddenly, Biff’s dispatch case swung forward, striking the person on the calf of one leg.

“Pardon me,” Biff said.

The person turned around. Startled, Biff stopped quickly. He even backed up a step in his amazement.

“Am I seeing things?” Biff asked himself, giving his head a shake and blinking. “Am I asleep? It can’t be. It just can’t be.”

The person Biff stared at returned his stare. The same astonishment spread over the face of the boy he had bumped.

Biff’s own mirror at home couldn’t have reflected his image better. He might have been looking at himself!

12
CHAPTER III
Backfire
Neither boy spoke, so startled were they by their striking resemblance to one another.

“This can’t be,” Biff said, half aloud. “That boy is—is—ME!”

The other lad must have been thinking the same.

“Step forward, please,” the gate attendant called out sharply. “Keep the line moving.”

In their astonishment, Biff and his double had stopped in their tracks.

Dazedly, Biff and the other boy reached the gate. They presented their tickets. The attendant looked from one to the other.

“Twins?” he asked, a smile on his face.

Still apparently unable to speak, the boys shook their heads.

They walked across the apron leading to the waiting aircraft. As they walked along, side by side, each cast quick, questioning glances at one another.

It was unbelievable!

13
The boys were the same height. Both were broad of shoulder. Both carried their well-muscled bodies with the grace and posture of the trained athlete.

The only immediately noticeable difference distinguishing the boys was their clothing. Biff was hatless, as always. The other boy wore a hat. Biff wore light gray slacks, a soft sleeveless sweater, and a loose sports coat. His double wore a tight-fitting, dark-blue suit and a white, high-collared shirt. His clothes were as formal as Biff’s were informal.

They mounted the loading ramp and entered the plane. The stewardess gave them the same interested, friendly look the gate attendant had given them.

“I’m sure you two will want to sit together,” she said. “You’re twins, aren’t you?”

“No, ma’am,” Biff gulped.

The stewardess seated the boys, disbelief showing in her eyes as they shifted from the face of one boy to the other. She started moving toward the door, but kept turning her head to cast a look at the boys.

Biff was seated next to the window. His seat companion arose, removed his hat, and placed it on the rack above. His hair was cropped short, as Biff’s was. It was a shade darker, perhaps, but just a shade. Biff’s habit of going hatless could have made the difference.

On close examination of the boys’ faces, there was one noticeable difference. Biff’s eyes were bluish-gray. The other boy’s were a deep blue.

Biff turned in his seat to confront his companion.

“Since we look so much alike,” Biff said, “maybe we’d better find out who we are. I’m Biff Brewster. So you can’t be. I mean, if I am Biff Brewster—and I know I was until I saw you just now—then you must be someone else.”

14
Biff was having a hard time trying to say what he meant. He wasn’t exactly sure just what he meant.

The other boy smiled.

“I am glad to make your acquaintance, Biff Brewster,” he said quite formally. “My name is Derek Zook. I am from The Netherlands.”

Derek’s English was good with hardly any trace of accent. His phrasing, somewhat stiff and formal, marked it as Continental, not American, English. It was obvious that he had acquired his knowledge of the language at school. His sentences didn’t have the free and easy swing of a native language.

“Where are you going?” Biff asked.

“I go to Willemstad in Curaçao. That’s in the Netherlands Antilles.”

“Yes, I know,” Biff replied. His astonishment continued to grow as the coincidences grew. “I’m going there too. Here we are. We look alike, and we’re going to the same place. Now how about that!” Biff laughed. Derek joined in the laughter.

For the next few minutes the boys were quiet as the aircraft taxied to its take-off runway. The four engines revved up. The plane started rolling slowly down the strip. It rolled and rolled, gaining momentum. Then it was airborne, heading out over the Atlantic toward Port-au-Prince, Haiti, nearly eight hundred miles away.

During the flight, Biff and Derek became more and more friendly. They had much in common, but Biff noticed during the conversation that while Derek was most willing to talk about his home in The Netherlands, his schooling, and other, incidental topics, he said nothing about why he was going to Curaçao.

15
Biff was cagey, too. If Derek wouldn’t talk about the reason for his flying across the Atlantic to visit a speck of an island in the Caribbean, then Biff felt it wise to say as little about his own visit as possible.

There wasn’t much Biff could tell, anyway. He wouldn’t know why his Uncle Charlie wanted him until he saw him. Biff did tell Derek that he was going to be met by his uncle, but he didn’t tell his new friend the kind of work Uncle Charlie did.

The plane flew high over the easternmost tip of Cuba. Near three o’clock in the morning, Haiti was spotted, a dark, shadowy mass in the grayness of the dawn. High up over the Haitian mountains, the sky could be seen lightening on the eastern horizon. Neither boy saw it. They had talked themselves out and were sleeping.

The plane went into a sharp descent for its landing at Port-au-Prince. There was an hour’s delay before the plane took off on its next leg, the two-and-a-half hour flight to Curaçao.

Derek was the first to stir. Biff opened one eye, closed it again, and settled down into the seat.

“Do you know our time of arrival, Biff?” Derek asked, his voice clear and wide awake.

“’Bout seven,” Biff mumbled sleepily. “Let’s get some more shut-eye.”

“Shut-eye? I do not understand,” Derek said, puzzled.

“Sleep,” answered Biff. “Good old sleep. But I can see this is the end of it for now.”

Wide awake, the two boys chatted in low voices until the island of Curaçao, fifty miles off the coast of Venezuela, came into view.

16
The island is less than forty miles long and not more than seven miles wide at its broadest point. From the air, it looked like a long splinter. To the south, the boys could see the mountainous coastline of oil-rich Venezuela.The plane began a long, gradual descent for its landing at Willemstad. It came in low, seemingly only a few feet above the spanking waves of the Caribbean Sea. It shot over land and, minutes later, the crunch of the aircraft’s rubber-tired landing wheels was felt throughout the plane.

As the plane rolled to a stop, an idea hit Biff. “Hey, Derek. I’ve got a plan,” he exclaimed. “A good one. I’d like to play a joke on my uncle.”

“Good, I like jokes, Biff. What is it?”

Biff didn’t answer right away. Some of the excitement and eagerness faded from his face. “I just thought—somebody must be waiting to meet you, so I guess my idea wouldn’t work.”

“I’m not sure anyone is going to meet me, Biff. In fact, I’m almost certain no one will.”

Biff was so busy thinking about his idea that the significance of Derek’s reply didn’t register. Only later did he remember the remark, and realize how strange it was that Derek, who had come thousands of miles, had no one to meet him.

“In that case then,” Biff went on, “here’s what I have in mind. We look so much alike, I’d like to try and see if we can fool my uncle. So, if you’re game, here’s my plan. You get off the plane first. Go right into the terminal. If you look as much like me as I think you do, and as others do too, then Uncle Charlie will think you’re me.”

17
A grin came over the Dutch boy’s face.

“That does sound like fun. I’d be Biff Brewster to your uncle, wouldn’t I?”

“That’s right. I’ll stay in the plane until you’re in the terminal. I’ll follow you in about five minutes.”

The passengers were piling out of their seats now, reaching up to the racks above for their hats and coats. Derek retrieved his hat, turned to wink at Biff, and started toward the front of the plane.

“Hey, Derek!” Biff called. “Wait a minute.”

Biff got up and overtook his new friend.

“’Fraid Uncle Charlie would spot you in a second if you wore that hat. He knows I never wear one.”

Derek took off his hat and handed it to Biff.

“Another thing,” Biff continued. “Your coat. Looks too European for me to be wearing it. Let’s change.”

Derek doffed his suit coat and put on Biff’s sports jacket. Then he left the plane.

Biff, grinning in anticipation, waited until almost everyone was off the plane. Then, wearing Derek’s coat and hat, he deplaned and walked toward the terminal.

As he stood at the entrance to the terminal, it took several moments for Biff’s eyes to adjust from the bright glare of the outside sun to the soft light of the terminal’s interior. He looked about, trying to spot his uncle. He finally saw him, to the right, standing in front of a cigar counter, smiling as he talked to Derek.

Biff was starting toward his uncle and Derek when two men entered the terminal from the street side. They looked around quickly, saw Biff, and came hurriedly over to him.

18
“Derek Zook?” one of the men asked.

Before Biff could protest or explain, the other man grasped him firmly by the arm.

“We must hurry. Your father is waiting.”

Biff found himself being hustled toward the terminal exit.

19
CHAPTER IV
Who’s Fooling Whom?
Biff was wedged tightly between the two men. They pressured him toward the exit. He could have resisted, probably could have escaped in the crowded terminal, but since they were moving in a direction that would take them right past Uncle Charlie and Derek, Biff decided against a struggle.

He saw that his uncle was watching the action closely. Derek, fortunately, had his back turned. Biff’s “friendly” captors would not be able to see Derek’s face and remark the striking resemblance.

Within a few feet of Uncle Charlie and Derek, Biff decided to make his move. He opened his mouth to shout. Uncle Charlie fixed his eyes firmly on Biff and shook his head. A big wink from Uncle Charlie warned Biff further to take no immediate action. Uncle Charlie tossed his head, gesturing toward the exit door.

20
Biff read these signals as quickly as if his uncle had given them to him verbally. Uncle Charlie wanted him to go with these men. Why, Biff didn’t know, of course, but he realized that his uncle must have a real purpose behind his strange action.

Outside the terminal, Biff was hustled into a black limousine. It was a long, sleek-looking foreign car, all windows tightly closed. Was this to prevent any outcry from being heard, Biff wondered? Or was it simply because the car was air-conditioned against the tropical heat?

As the car pulled away, Biff quickly glanced out of the rear window. He hoped to see his uncle pulling out in another car to follow. The streets, filled with tourists, honking cars, and cyclists blocked his vision. “Well, he must be following me,” Biff said to himself. “I hope,” he added.


</p>
</body>
</html>


