<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
Biff Brewster was suddenly awake—wide awake. The gray light of dawn outlined the window of his first-floor bedroom. Something—or someone—was outside. He felt sure of it. Something had prodded him out of his deep sleep with startling suddenness.

For a moment he lay still, eyes on the window, his ears sharply tuned for the slightest sound. He knew, of course, that he might have been awakened by a stray dog, or a night-prowling cat. But he didn’t think so.

2
Very carefully, Biff slipped out of his bed. Bare-footed, he padded noiselessly toward the window, taking care to remain outside the dim shaft of early light coming through. He moved to one side of the window and peered out cautiously. He detected a slight movement beneath a gnarled apple tree about thirty feet away. Then suddenly, swiftly, a figure emerged from behind the protection of the tree’s drooping limbs. The figure came at a run toward the window. It was a man, small and slight of build. He was wearing blue jeans and a sweat shirt. On the shirt’s front there was an athletic letter—Biff couldn’t make it out—cut from luminous cloth, making it glow faintly in the dawn’s light.

Biff drew back, pressing his body against the wall. A moment later a white object, the size of a baseball, came hurtling into the room, tearing a hole in the screen. It fell with a dull plop on Biff’s pillow. Biff held his breath, waiting. The man was leaving the yard on the run. At the sidewalk, he slowed to a casual saunter. Apparently he did not want to risk attracting the attention of some early riser.

Biff waited. He counted slowly to a hundred, to make sure his strange visitor was gone. Once more he looked out the window. Nothing moved in the eerie light of the dawn. Biff turned away. Had he waited a few seconds longer, he would have seen two men leave the shadows of a corner tree and stealthily follow the hurler of the object.

Biff snapped on the reading light by his bed and picked up the object that had been tossed through his window. It was a round white rock, one of those used to outline his mother’s herb garden. More interesting was the heavy piece of twine tied tightly around it. At the other end of the twine was a ring. It was a man’s heavy ring, set with a square-cut green stone. Biff examined it carefully. The stone was dull, not glittering. He wasn’t sure, but he thought it was jade. He looked at the ring more closely. On its face there was an intricately etched marking. “A design?” he wondered. “No, it looks more like Chinese writing.”

3

Nothing moved in the eerie light of dawn

4
Twisted into a knot around the ring was a small piece of paper. Biff unfolded it carefully and smoothed it out.

“Fortune shines upon, and the gods protect, the wearer of this ring,” he read.

“‘Protect!’” Biff thought angrily. “Why, that rock could have conked me but good if I hadn’t left my bed.”

Biff reread the printed message. “Now what, just what,” he thought, “has this got to do with me?” He stretched out on his bed, cupping his hands behind his head, and stared at the ceiling. Unable to read any sense into the message, or the mysterious manner in which the ring had come to him, Biff jumped out of bed and made for the shower.

Under the pelting needlelike spray, he threw back his broad shoulders and let the water sting his face and soak his light-brown hair. Afterward he toweled himself vigorously, dressed quickly, and placed the ring on his key chain. He knew his father would be up, even though it was only six-thirty. Maybe his father would have some ideas about this or, at least, a couple of good guesses.

5
Biff bounded into the kitchen.

“Morning, Dad. Say, what do you think happened—” He stopped short as he saw his mother come out of the pantry. He didn’t want to mention the ring incident in front of her. Not yet, anyway. Not until he had discussed it with his father. He knew his mother already was worried enough about his impending trip to far-off Rangoon. Tomorrow was the day he was leaving.

“Good morning, Biff,” his father greeted him. “What were you saying?”

“Er—I was just saying it so happens I’m hungry enough to eat a crocodile. Good morning, Mother. What’s for breakfast?”

“Certainly not crocodile,” Mrs. Brewster replied. “Even if you and your father do say crocodile steaks are delicious. Ugh!” She gave a quick shudder.

Father and son looked at one another and smiled. They had had to eat crocodile on their Brazilian adventure when their food supplies had run short.

“What’s on the program this nice bright Saturday morning?” Biff’s mother asked, putting large portions of scrambled eggs and bacon before Biff and his father.

Before a reply could be made, Biff’s brother and sister, Ted and Monica, eleven-year-old twins, burst into the room.

“Hi, Mom! Hi, Dad!” they shouted together.

6
“Gee, Biff, just think, tomorrow you’ll be on your way to Rangoon in Burma, to visit Uncle Charlie,” Ted said enviously.

“Wish I could go, too,” Monica chimed in.

“You! Why, you’re a girl,” Ted said derisively.

“Now, no arguments, you two,” Mrs. Brewster said. “Drink your orange juice. I’ll start your eggs.”

“How far from Indianapolis is it to Rangoon?” Monica asked.

“Quite a way. Six or seven thousand miles at least,” Mr. Brewster replied.

“You ever been there, Dad?” Ted asked.

“No. I envy Biff. Rangoon is one of the places in this world I’ve missed so far.”

“And about the only one, Dad, isn’t it?” Biff asked.

“There are a few others,” his father replied. “Maybe if I had started out as young as you are, I’d have made them, too. For a sixteen-year-old, you’ve been about this world of ours quite a bit, me boy-o. Well, I’m all for it.”

“I am too, Dad,” Biff agreed. “Remember the time in Brazil, when we—”

“Hold it!” Mrs. Brewster interrupted, laughing. “Don’t you two get started talking about your adventures. There’s just this one more day before Biff leaves, and my goodness, what a lot has to be done!”

Biff smiled. He knew there was hardly anything left to be done. His mother had finished packing for him the day before.

7
Just as Mrs. Brewster brought the twins their eggs, the telephone rang. Monica started to get up. She answered every phone call.

“You sit still and eat those eggs while they’re hot, young lady. I’ll take the call,” Mrs. Brewster said.

Biff and his father saw a puzzled look come over her face as she answered the telephone.

“Yes? I understand. This morning? All right, I’ll tell them.”

When she returned to the breakfast table she said, “That was Charlie’s friend, that Chinese merchant, Mr. Ling. Ling Tang, isn’t it?”

“Why, yes. What did he want?” Tom Brewster asked.

“He said it is most urgent that you and Biff see him before Biff leaves for Rangoon.”

8
CHAPTER II
Beware, Biff!
“I think we’d better get down to Ling Tang’s shop this morning,” Mr. Brewster said. “It must be something important for him to have called so early. Especially if he knows Biff is leaving for Burma tomorrow.”

Biff waited until his father had finished his second cup of coffee, and then rose from the table.

“All set, Dad?” he asked. “I’ll get the car.”

Not until they were in the car did Biff bring up the subject of the ring.

“What do you think of this, Dad?” He took his key chain from his pocket, removed the ring, and placed it in his father’s hand.

Thomas Brewster looked at the ring carefully. “It’s a beautiful ring. Jade. Where did you get it?”

“Someone threw it at me this morning,” Biff said, a grin on his tanned face.

“Threw it at you? What do you mean?”

9
Biff explained quickly, then handed the note to his father.

“Read this.”

Mr. Brewster read the words: “Fortune shines upon, and the gods protect, the wearer of this ring.” He looked back at his son, shaking his head in puzzlement.

“This is all? You haven’t any idea who the man was?”

“Not the faintest, Dad.”

“H-m-m.” Mr. Brewster studied the ring again. “Jade, and it looks Chinese. That call from Ling Tang may be connected with this in some way.”

“Hey! Maybe you’ve hit on something!” Biff exclaimed.

It was nine o’clock when Biff and his father entered the small Chinese curio shop of Ling Tang. Ling Tang, a small, neat man in his middle thirties, greeted them with a deep bow.

“You honor my humble establishment by your presence,” he said.

“Rather it is you who honor us by inviting us here,” Mr. Brewster replied, falling easily into the polite form of greeting used by the Chinese.

Ling Tang’s shop was filled with graceful Chinese urns and vases, beautifully decorated with green and red dragons, flowers, and tree-filled valleys. Chinese fans hung from wires stretched from wall to wall. In glass-covered cases were carved idols of jade and delicate pieces of ivory. A heavy aroma of incense filled the small store.

10
Ling Tang had attended Butler University in Indianapolis with Charles Keene, the uncle Biff was going to visit. They had become close friends, and this had led to a friendship with the entire Brewster family. On graduating, Ling Tang had returned to China. After several years, when the political atmosphere of Red China had put a stern, cruel check on freedom of movement and freedom of speech, Ling Tang had fled his beloved country and returned to America. He had opened his shop and thrived.

“We received your message, Tang,” Mr. Brewster said.

Ling Tang placed the tips of his long, well-cared-for fingers together.

“It is true that your son goes to Burma soon?”

“Yes. Tomorrow.”

Tang’s face remained expressionless. “Perhaps what I have to tell you is of no importance. I do not wish to alarm you.” He paused. “This trip was arranged several months ago?”

Biff and his father nodded their heads.

“And there has been no attempt to keep it secret?”

“There was no need to,” Thomas Brewster stated.

“I wonder. Was the boy’s trip not arranged when my good friend Charles Keene visited here last?”

“Yes. But I don’t see—” Biff began.

“Your Uncle Charles had just returned from Cape Canaveral, had he not?”

11
Biff nodded his head. Uncle Charlie had been in the Navy for several years. He was a pilot in the squadron of planes assigned to tracking missiles fired from the Cape into the South Atlantic. It was the squadron’s task to recover the instrument-loaded nose cones dropped from the powerful rockets.

Uncle Charlie had bounced around the world quite a bit. He had flown a fighter plane during the Korean conflict and had traveled as much as he could about the Orient on his furlough time. He remained in the Navy following Korea, and was delighted when he was assigned to Canaveral. But after two years there, his traveling feet told him, “I want out.” So he had resigned his commission to join an old pilot friend establishing a fleet of planes for Explorations Unlimited, in Burma. Charles Keene wanted badly to get back to the Orient. He was fascinated by the eastern countries so different from his own.

“I’m interested in the money, too,” he told the Brewster family on his visit. “There’re plenty of American businesses building up in the Orient. Flying for this outfit in Burma is real opportunity and big money. I want some of both before I’m too old.”

Explorations Unlimited had its headquarters at Unhao, on the Irrawaddy River, northeast of Rangoon near the Chinese border.

“Why don’t you ship Biff out to me for a few weeks?” Uncle Charlie had suggested. “He could get a glimpse of the other side of the world—learn a lot, too.”

12
Those words had been music to Biff’s young ears. A family council had been held, and it had been agreed that the trip would be a good way for Biff to spend the remainder of his summer vacation.

“About a month after your uncle’s visit,” Tang continued, “two men, countrymen of mine, traveling on Burmese passports, arrived here. They asked many questions about your uncle.”

“I still don’t see what that has to do with Biff’s going to Rangoon,” Mr. Brewster said.

“I try your patience,” Tang said. “Now to my point. Only last night these same two men came again to our city. This time, they were most curious about your son, Biff.”

13
CHAPTER III
Under Chinese Eyes
“You said two men,” Biff repeated. “I’ll just bet you that one of them was the joker who paid me a visit this morning!”

“You had a visitor? Early this morning?” Ling Tang asked.

“I’ll say I did. Not a visitor, though. A spy, maybe—sneaking around the yard and—”

“Hold it, Biff,” his father interrupted. “Why don’t you show Mr. Ling what the intruder brought you?”

“Brought me,” Biff muttered to himself as he opened the safety catch of his key chain. “Some way to bring anything to someone!” He removed the ring from a tangle of keys—to his foot-locker, his suitcase, a “secret” box, and to several things he had long since forgotten about. Taking the ring by the thick circle of gold, he held it out to the Chinese gentleman.

Ling took the ring in his thin hands. He looked at it carefully.

14
“A beautiful piece of jade,” he murmured. Bringing the ring closer to his eyes, he took a loupe—a jeweler’s magnifying glass—from his pocket to inspect the ring more minutely. While he did this, Biff filled him in on how the ring had been “delivered.”

“Exquisitely carved,” Tang said, removing the loupe from his eye.

“What’s carved on it?” Biff asked.

“It’s the Chinese character which, roughly, would stand for the capital letter ‘K.’”

“Does that have any significance for you, Tang?” Mr. Brewster asked.

“Indeed it does. This is the ring of the great House of Kwang. Before the Communists took over, it was one of the richest and strongest houses in all China. This ring was worn by the Great Lord of the house, and by his sons, the young lords.”

“It’s funny I should get one of them,” Biff said, laughing. “I’m no young lord.”

Ling Tang smiled. “Most mysterious, true,” he agreed.

“And if they wanted to give me a ring, why didn’t they just send it to me, instead of throwing it through my window and ruining the screen?”

“You did receive it in a most dramatic fashion.”

“You can bet all the tea in China I did,” Biff said.

“Perhaps, young man,” Ling said, “you received it as you did, so that he who presented it to you could keep his identity a secret. Even more important”—Ling paused to drive home his point—“he did it to keep you from seeing what he looked like.”

15
Biff and his father exchanged concerned glances.

“Were you acquainted with the House of Kwang? Did you know its master?” Mr. Brewster asked.

“It is an old, old family, once strong, once rich.” An expression of sadness passed fleetingly across Tang’s face. “Until the Reds moved in and made ruthless changes, the House of Kwang lived in the same age-old feudal manner as had the founder of the family generations ago. They had rich farm lands and houses of many courts. In the Old Lord’s house, he who was called the Ancient One, there were more than a hundred courts. In America you would call them apartments or suites. Each court had its sleeping room. A room for eating. And a room, beautifully decorated with a small fish pond in its center, where the lords of the house would go to think and meditate and honor the memories of their fathers and their fathers’ fathers.”

“And this no longer exists?” Mr. Brewster asked his friend.

“Gone. All gone. The farm lands divided up into small communes; the mines, the grain-storage house snatched away. But the family still clings together. They still resist. Many of them are in hiding from local Red officials. The earthly possessions of the House of Kwang have been torn from them. But the family is still a proud one. They aid one another, even to helping the older members escape into the free world.”

16
Thomas Brewster had been doing some heavy thinking. “Tang,” he said. “Tell me this. In what part of China was the House of Kwang located?”

“In the province of Yunnan, south and somewhat west of Kunming, the capital of the province.”

Mr. Brewster was creating the map of China in his mind’s eye. “That would be near the border of Burma.”

Ling Tang nodded his head gravely.

“Not far from Unhao, on the Irrawaddy River?” Biff’s father inquired.

“Your memory of China is excellent, my friend. Once the Old Lord, Tao Kwang, made annual pilgrimages to Rangoon to visit the shrine of the Gautama Buddha, the magnificent pagoda of Shwe Dagon.”

Biff was beginning to put the pieces together. “I still don’t get it loud and clear, but Uncle Charlie’s located at Unhao. That’s where I’m going. And Uncle Charlie’s in Rangoon a lot, isn’t he?”

“Yes, Biff. He is.”

“But the ring—why would someone want me to have it? Do you suppose they want me to take it with me?”

“That, my boy, is the question we’d all like to have the answer to,” Mr. Brewster replied.

“Gosh. Maybe I shouldn’t take the ring with me.”

17
Tang spoke up quickly. “Oh, but I think you should. Its manner of delivery hints of peril. But its message speaks of fortune and safety.”

Biff took the ring back. As he did so, a young, smiling Chinese entered the store hurriedly.

“So sorry, revered elder cousin, so sorry to be late. I change quickly and take over my duties.”

Tang smiled as the young Chinese hurried to the rear of the store. Biff had noticed the young man was wearing jeans and a sweat shirt. On the front of the shirt was the letter “K!” Biff turned and looked sharply after him.

“Who was that, sir?” Biff inquired of Ling Tang.

“My young cousin—one of them,” Tang said. “He works afternoons for the Kirby Ice Cream Co. He is much enthused about your game of soft ball. He is of the team called the Kirby Koolers.”

“Well, thanks for your information, Tang. Guess we’d better be going,” Mr. Brewster said.

“I’ll say hello to Uncle Charlie for you, Mr. Ling,” Biff said.

“That will be most kind of you,” the Chinese replied.

Both bowed to Ling Tang, and he returned their gesture with a deep bow of his own.

18
Biff and his father were thoughtful as they walked to their parked car. Something was building. No doubt about that. But what? What was the answer to, or the connection between, the spying stranger, the ring, and Biff’s coming visit to his Uncle Charlie? The answers to those questions were not to be found that day.

At home, Mrs. Brewster’s first question was, “Biff, who ruined the screen in your room?”

Biff looked helplessly at his father, who merely shrugged his shoulders.

“A rock, Mother. This morning, early. Fooling around....”

“I thought, young man, you were old enough to know better than to toss rocks around carelessly.”

Biff heaved a sigh of relief. He was going to get out of this easily. Neither he nor his father wanted to tell Mrs. Brewster the real reason for the hole in the screen. They didn’t want to worry her.

“Now,” Mrs. Brewster said briskly, “we’ve lots to do today. We’ll have no time in the morning. We’ll have to leave for the airport early. Now here’s what I want you to do, Biff....”

On the morning of his departure, Biff again woke early. He could hear noises throughout the house and sniffed at the friendly smells of breakfast being prepared. Everybody was up. They were all going with him to the airport. Biff looked at his watch. It was nearly seven by the time he was dressed. In one hour and fifteen minutes he would be air-borne, on his way to Chicago, the first leg in a journey that would take him halfway around the world.

19
Breakfast was a funny kind of a meal that morning—not the food, but the way the whole family acted. The twins, of course, kept up a steady, excited chatter. Any trip to the airport made them bubble like a bottle of pop. But Biff and his mother and father either all tried to talk at the same time, or suddenly remained silent at the same time.

“Biff gets all the breaks,” Ted complained. “Don’t see why I can’t go, too.”

“Because you’re too young, that’s why,” retorted his twin sister, Monica. “You’re just eleven.”

“You are, too,” the younger boy shot back. “Way you act, anybody’d think you were older’n me.”

“Your time will come, Ted,” Mr. Brewster said, acting as a peacemaker between his youngest children. “When you’re five years older, like Biff, the world will still be here. There’ll be plenty of chances for you to spread your wings and fly.”

“Right,” said Ted emphatically. “And I’ll go by rocket.”

“But what about me? I’m a girl,” Monica wailed.

“Yes, Tom. Answer that one,” Martha Brewster said with a laugh. “Don’t worry, Monica,” she continued, “we women will show these men a thing or two.”

“Like what?” the girl said, pouting.

“Like how fast you can get ready. Right now. We have to leave for the airport.”

20
As they drove into the busy terminal, Biff felt a lump in the pit of his stomach. First signs of homesickness, he thought. It had happened before. Biff always felt homesick at these last moments. But once he was under way, the feeling left him. Except sometimes late at night, just before he fell asleep.

This time, though, it was different. This was the first time Biff was going to be all on his own. Before, his adventures had been shared with his father. True, he’d be with his Uncle Charlie, but as nice a guy as Uncle Charlie was, uncles weren’t the same as fathers.

Biff checked in and had his ticket cleared. At the gate, he ruffled his brother’s hair, gave him a quick hug, and turned to Monica. He lifted her off her feet and planted a big “smack” on her plump cheek. Unashamedly, he embraced his mother in front of the crowded gate, then turned to his father.

The two shook hands, and Mr. Brewster placed a hand on Biff’s shoulder.

“You have the ring in a safe place?” he asked softly.

Biff nodded his head and touched his side trouser pocket. He had fastened the key chain to a longer, stronger chain which was attached to his belt loop.

“I wouldn’t display it, Biff.”Biff nodded. He felt tears coming to his eyes, but he was through the gate and up the plane’s loading platform before anyone could see them. Moments later, the plane was taxiing out to the runway for the take-off. Biff, looking through the window, could see his family waving.

21
After the plane’s four engines had been warmed up and tested, the giant airliner lurched forward, and in seconds was air-borne. First stop Chicago. Change to a jetliner for San Francisco. Next stop Hawaii. Then Tokyo, Hong Kong, and finally Rangoon.

Biff unfastened his seat belt when the lighted sign snapped off, and looked about him. The plane was only half filled. He glanced to the rear, and his heart started pounding. Seated in the last seat on the plane’s starboard side were two Chinese. They returned Biff’s stare without expression. One of them, Biff noticed, seemed to have but one good eye. The other eye was nothing but a thin slit.

22
CHAPTER IV
A Fortune Cooky
Biff’s connections at Chicago with the jetliner for San Francisco went without a hitch. In less than an hour the sleek, silvery plane was in the air, circling over the bustling city of Chicago. It pointed its slender nose westward, and began a race with the sun to the Pacific Ocean.

The liner seemed to hang motionless over the broad plains of the West. Even the towering peaks of the Rocky Mountains passed backward beneath the plane slowly, as if the plane were barely moving, instead of slicing through the air at nearly 700 miles per hour.

Once they were in the air, Biff, as casually as he could, had let his eyes sweep the length of the plane, trying to see if the two Chinese were still with him. There were no Orientals on this flight.

23
By early afternoon the plane had left the mountains behind it and was starting its long glide to lose altitude as it neared San Francisco. Far ahead, Biff could see the blue waters of the Pacific, sparkling under the rays of the sun, now standing high in the sky. Before he realized it, the plane was circling over San Francisco Bay. Biff saw the beautiful Golden Gate Bridge, arching gracefully over the harbor.

After a two-hour layover, during which time Biff’s papers and baggage were cleared by customs, the boy boarded the plane which was to take him to his final destination, Burma.

The sun had a good lead on the plane by the time the huge airliner took off. It would soon disappear over the horizon, and darkness would greet the touch-down in Honolulu.

Once the plane was over the water, Biff turned in his seat for a final glance at his homeland. He could just see the hills of San Francisco, fading rapidly behind him. As he turned more toward the front, his eye was caught by two Chinese passengers.

Biff looked at them closely. They were dressed in long, flowing robes. The robes were brightly colored in greens and reds and were gold-trimmed. Their wearers had tight skull caps worn low on their foreheads, and each wore heavy, dark sun glasses. Could they be the same two who had been on the plane with him from Indianapolis to Chicago? For a closer look, Biff walked to the rear of the plane for a drink of water. He stood just in back of the pair and inspected the men closely. They could be the same men, he decided. But he couldn’t be sure. It was difficult for him to tell one Chinese from another. And the change, if these were the same two, from American clothes to Oriental, made such a difference that it was impossible for Biff to be certain.

24
Biff decided on a bold move. He stopped at the seat where the two Orientals sat impassively, staring straight ahead.

“I’m going to Rangoon,” he said, a friendly smile breaking out on his face. “To a place very near the Chinese border. Are you going to Rangoon, or Hong Kong?”

There was no answer.

“Don’t you speak English?” Biff asked.

“I’m afraid they don’t,” a voice said behind him.

Biff whirled. It was the stewardess. “Can I help you?” she asked.

“No,” Biff said lamely. “I was just—er—just going to get a glass of water.”

The stewardess moved on. Biff downed the glass of water which he didn’t need and started back to his seat. As he came to the side where the Chinese were sitting, he decided to try a little trick.

He bent toward the floor of the plane.

“Is that your glasses case on the floor?” he asked.

The Chinese in the outside seat bent forward. His hand reached down, feeling by his feet. Then, quickly realizing he had given himself away, he sat up straight, and stared ahead.

25
A big smile of satisfaction decorated Biff’s face as he settled himself in his seat. He knew one thing about them at least. They understood English—but good! And they could have taken another airline from Chicago to San Francisco.

Biff’s swift flight was without further incident as the plane sped across the Pacific. Then he was on the last leg—the flight from Hong Kong to Rangoon.

It was the middle of the afternoon, an hour after the take-off from Hong Kong. Rangoon was still nearly three hours away. The stewardesses were serving tea. With it they served almond cookies and, as a favor from the air lines, each passenger received a fortune cooky, a small delicate piece of folded, crisply cooked dough. Inside each fortune cooky was a narrow ribbon of paper on which was printed a short saying—usually humorous. Biff remembered them from the Chinese restaurant he went to with the family every so often back in Indianapolis.

He smiled as he remembered one he had once gotten. It had read: “Man who count chickens before they hatch is egghead.”

Biff finished his tea. He reached for the fortune cooky. Just as he did so, someone lurched against his shoulder, upsetting the tray. Cup, saucer, and fortune cooky fell to the floor. Both Biff and the awkward passenger reached to pick up the scrambled tray. Biff’s eyes met his helper’s—it was one of the two Chinese! There was no reason for him to have stumbled. The plane was flying smoothly. It appeared to Biff that the shoulder bumping had been intentional.

26
“So sorry,” the Chinese said. His dark glasses glinted as he straightened up. “Too bad. Fortune cooky smashed to bits. But slip of paper still okay.”

Smiling briefly, he handed Biff the slender slip of tissue paper, and made his way hurriedly forward.

Biff watched him go, still puzzled by the man’s action. The boy smoothed out the slip. It had only a Chinese character scrawled on it. Through the Chinese printing had been drawn a red “X.” “Now what the dickens is this?” Biff thought. He started to crumple the paper, but something about it held his attention. There was something familiar about it. Then he had it. Carefully, he took out his key chain. He bent low, and compared the character on the cooky slip with that on the surface of the ring’s green stone. They were identical—the letter “K!”—the seal of the lords of the House of Kwang.

Was this a warning of some kind? Did the red “X” cancel out the protection and good fortune the ring was supposed to insure? But why? Why? Biff’s brain kept signaling that one word with its question mark.

The plane climbed over the coastal mountains of Viet Nam, dropped down to skim over the rice fields of Thailand, then swung out over the Bay of Bengal for its approach to Rangoon.


</p>
</body>
</html>


