<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
“Flambeau!”

The sound was illusive. Flambeau listened with every bit of him, his taut, strong body alert with eagerness. The call might have come from the landing outside the small salon of Madame la Comtesse, but it had sounded higher up; the schoolroom, perhaps, or the nurseries beyond. Flambeau gained the top of a high staircase with a few leaping bounds, ran down a corridor, turned a corner, and almost knocked down his own Marie Josephine, who had been calling him. He leaped upon her in welcome.

“I’ve been out on the balcony, Flambeau. I called you from there, for I thought you might be in the garden.”

A voice from a half-open door near them called sharply, “Marie Josephine, come in and close the door.”

Marie Josephine walked slowly toward a flicker of light reflected on the wall opposite the schoolroom door, and went inside, closing the door after her. Flambeau had come in with her and he walked somewhat disdainfully toward a table which was drawn close to a dancing fire in a deep, old-fashioned 2fireplace. The table was covered with bits of brocade, satin, and gold lace. Two girls sat one on each side of it, and a short, fat maid sat cross-legged on a stool at their feet, bending over a piece of sewing in her lap. When Marie Josephine and the dog came into the room, the maid stood up and made a curtsy.

“Will you sit in your favorite big chair by the fire, Little Mademoiselle?” she asked.

Marie Josephine shook her head for reply, watching the swift darting of the maid’s needle as she sat down again and went on with her work. Then she glanced at her cousin Hortense, who held a piece of ermine up before her.

“It will do for the edging of the mantle, will it not, Proté?” Hortense asked the maid. Without waiting for an answer, she went on speaking. “I hoped that Tante would allow us to sew the ruby in the crown, but she would not consent!” As she spoke, Hortense looked at Denise, Marie Josephine’s sister, who sat opposite her.

Denise tossed her red-brown curls out of her eyes and pouted. The pout made her look younger than her fourteen and a half years.

“You’ve made this one crookedly. You must do another one at once, Proté,” she said, handing the maid a small black object.

“Yes, Mademoiselle,” Proté answered.

Drawing of Marie Josephine
Marie Josephine

3“Fasten this cord, please, Proté. It does not seem to be right the way I have done it!” Hortense held out another black object to the little maid, who took it smilingly, with a little bow which made her black hair, gathered into a huge knob at the back of her neck, stand out like a big black bun.

Marie Josephine still stood by the fire, Flambeau beside her. She looked at her brother as he spoke.

“Proté cannot do everything at once,” he said. He sat in the deep shadow of the window seat at the far end of the room, his hands clasped about his knees.

Denise smiled at him over her shoulder as she answered: “You know nothing about these things, Lisle. You have nothing to do about them, but sit and look on. All that concerns you regarding them is that you are to wear the robe and crown at the De Soignés’ ball!”

“Ball! You speak as though you were going to a ball. You are only two years older than Rosanne and I. There is no reason why we should not have been invited. I should think they would be ashamed to leave Rosanne out of it all!” exclaimed Marie Josephine.

“Little Mademoiselle would like, perhaps, to make a bow for her hair? A rosette of this rose brocade and a bit of the gold tinsel would become her,” suggested Proté, tying a neat knot in a corner of the piece of black cardboard which Hortense had handed her.

Marie Josephine shook her head. “No, Proté,” she answered.

4Flambeau came up to Denise and nosed at the bits of ribbon in her lap. Denise gave his head a pat.

“Would you not like Flambeau to have a big rose bow? Greyhounds always look better with bows,” she said.

Marie Josephine shook her head listlessly, but did not speak. A big rose bow would be charming for Flambeau, a puffy one under his right ear. She was not invited to the De Soigné party, therefore she would not appear to be interested in any of the glittering array on the table. She caught her brother’s eyes. His head was thrown back against the dark, carved-oak window settle. He was looking straight at Marie Josephine, and she saw that he was smiling. She frowned at him with her straight black brows, and he frowned back with his straight fair ones. Marie Josephine’s frown was in earnest, but her brother’s was in fun.

“What a thundercloud! What a dragon! What an ogress! What a——”

Marie Josephine stopped her brother’s words with a stamp of her foot. “You are not to say that, Lisle!” she exclaimed passionately.

“Don’t tease her, my cousin. How can you do it?” reproved Hortense, rising as she spoke and going over to the fireplace. She laid both hands on the carved, gilded mantelpiece and stood looking down at the dancing swirl of blue and gold. Suddenly she put her face in her hands.

Marie Josephine went up to her and touched her 5arm, forgetting her own trouble for the moment. “What is it, Hortense? Why are you sad?” she asked.

Hortense raised her face and smiled. “I’m not sad, chérie; not this afternoon. It is only that now everything seems grey and dreadful, and Tante is unhappy because so many of her friends have gone away, and because of everything.”

“You’ll have the party,” Marie Josephine answered bitterly.

Her cousin put her arm about her for a moment and gave her a little hug. “You want to go so badly. I do wish you could; but even if Madame de Soigné had asked you, Tante would never have allowed you to go. Twelve and a half doesn’t sound much younger than fourteen and a half, but it is, you know,” she said.

“I’m always treated like a baby,” Marie Josephine replied. There was a good deal of truth in her words. She was small and quiet and shy. She would not be thirteen until November and that was three months away.

Lisle came up to the fire, stepping over Flambeau, who had settled himself in the heat of the blaze, and pinched Marie Josephine’s ear.

Proté came up to him with a collar of fluted gold tinsel and ermine. “Will you allow me to see if it fits properly, Monsieur Lisle?” she asked, putting her funny, plump face on one side as she examined her handiwork.

6“No, I’ll not be bothered with frills to-day.” Lisle frowned this time in earnest, rubbing his shoulders restlessly against the side of the mantel and looking out of the window where dark trees tossed against a grey, stormy sky.

Hortense and Denise both spoke at once. “Lisle!” they exclaimed. Denise jumped up and came over to him, dragging a piece of blue velvet after her and unmindful of the fact that a piece of black cardboard was sticking to her chin. They all burst out laughing as she clasped her hands together and burst into a torrent of words.

“Lisle, you’re not going to be obstinate. You are going to be the Sun King at the ball, aren’t you?” she pleaded.

Lisle shrugged his shoulders, saying teasingly: “We shall see. I’ll not go with you if you do not clean your face. A nice, grown-up duchess you will make, with paste and black paper on your chin. I for one think it’s all nonsense. It’s stupid of the De Soigné to have a party now.”

Lisle was tall, and he held his blond head high, which made him look even taller and older than he was. He would not be sixteen until the following winter. He had a very fair face with a pointed nose and blue eyes which had a straight unwinking way of looking at one. His cousin Hortense, who had lived in his family since her infancy, was almost as tall as he, but she was dark, like Marie Josephine. Strangers always took them for sisters.

7“I think it’s splendid of the De Soigné to have the party!” Denise danced mockingly in front of her brother as she spoke. He had consented to allow Proté to try on the collar, but he stood frowning over her shoulder as she surveyed the effect.

Some one came in quickly from the nurseries beyond. It was a short, sharp-nosed woman in a black silk dress with wide, flowing sleeves and a fichu of lace at the neck. This was Madame le Pont, the governess.

“There you are, chérie. I have been uneasy because I could not find you. Surely you have not been in the garden unattended!”

“I wasn’t in the garden. I was out on the balcony listening,” Marie Josephine answered.

“Listening! What do you mean?” the governess asked her.

“The noises of Paris, Madame. There are so many noises now. Flambeau was restless last night. He heard them, too!”

There was a low rap on the door. It opened and a servant came in. He walked noiselessly about the room, a taper in his hand, and a moment later lights flickered and then shone bravely from the many candles in bronze sockets on the tapestried walls. The servant made a bright bit of color himself as he moved about in his trousers of crimson velvet.

“Madame la Comtesse wishes the young ladies, Mademoiselle Hortense and Mademoiselle Denise, 8to accompany her in an hour’s time to the house of Madame la Comtesse de Soigné,” he announced.

Denise gave a little laugh of pleasure and danced the whole length of the room and back again. Then she caught Flambeau’s forepaws and tried to make him dance too, but the dog had such a bored expression that Denise only laughed again and dropped his paws.

“It is only Marie Josephine that you love, is it not, Flambeau?” she exclaimed, and then went on eagerly: “We shall enjoy talking about the ball with the dear De Soigné. Proté, I wish to wear my white cloak in spite of the storm.”

“I am tired of the very name of this ball!” Lisle walked over to the door as he spoke, but turned as Denise answered him.

“We are happy about it because we have had no fun in such a long time, now that everything is so different. Maman will not allow us to go out except in our own garden and to the De Soigné. It is only because they live in the next square that we may go there at all,” she said.

“Maman is foolish!” Lisle exclaimed, and the governess admonished him.

“Monsieur Lisle!”

“It is true, Madame le Pont. There is no real danger, not here in Paris. It is 1792, not the dark ages. Help will come from the royalists in Europe. It is only a question of being patient. It is not really a revolution, you know!”

9Marie Josephine watched her brother with admiration as he spoke. How tall and brave and confident he was!

The governess smiled sadly but she was cheerful enough when she spoke.

“Come at once, Mesdemoiselles,” she said briskly. “Proté, tell Felice that the young ladies wish their coiffures done at once, and see to their mantles and hats yourself.” Then she turned to Lisle, who still stood lounging against the door.

“What will you do while they are away, Monsieur Lisle?” she asked.

Lisle smiled in his quiet, teasing way.

“I’m going to ride with my tutor, Madame,” he answered.

Madame le Pont threw up her hands. “Please do not do it when it so worries Madame your mother. It makes her afraid when you are so reckless!” she exclaimed.

“You are never to say that my mother is afraid, if you please, Madame,” Lisle said and, as he spoke, he opened the door and went out.

Madame le Pont went over to the table and stood fingering the bits of gold lace there. Marie Josephine watched her. Why had she not been told that she could go with Hortense and Denise? Rosanne de Soigné was her greatest chum. They could have sat quietly in a corner and talked. Marie Josephine turned toward the nurseries and then 10looked back at the governess, who still stood by the table.

“Le Pont is worrying. She is uneasy like maman. This is a bad time. Grandfather said that it would come. He said to me: 'Little Marie Josephine, I can almost see the black clouds, they are so thick ahead of us. But when they come I shall not be here, and I am the only one that seems to know they are drifting toward us!’”

The governess looked up and when she looked at Marie Josephine it was as though she had for the moment forgotten her.

“Little one, what will you do while I am away this afternoon? Proté will amuse you if you like. Perhaps you will work for a little while on the tapestry for your great-aunt?”

Marie Josephine shook her head vigorously. She stood thinking for a moment and then smiled up at the governess.

“I won’t be lonely, Madame. I don’t mind them at all. They may have as many parties as they like. They may go out for goûter every afternoon. It is nothing to me. I do not care!” She spoke earnestly but she knew she was not speaking the truth and the governess knew it also.

“But what will you do, then, all the rest of the afternoon?” Madame le Pont insisted.

“I’ll be thinking of grandfather,” Marie Josephine answered.

11
Chapter II
 
MARIE JOSEPHINE’S SECRET
Lisle put his head inside the schoolroom door before starting downstairs for his ride. Marie Josephine and Flambeau were standing by the window, and he crossed over to them, his jeweled riding crop and his gloves in his hand. His bright hair was tied at the back of his neck with a crisp, black ribbon. Marie Josephine turned toward him when she heard his footsteps.

“I’ve been watching from the window. Le Pont is walking with maman in front and the girls are behind them, with Neville following. Why does not Georges go with them? Does he not always accompany maman?”

“Georges has gone. He left our household early this morning. He is all for the people and has no longer any use for our kind. He is wise to go, for his neck is safer away from us than with us!” Lisle laughed down at her as he spoke.

Marie Josephine put her arm about Flambeau’s neck and looked at her brother.

“I don’t quite know what you mean, Lisle,” she said.

12“I mean that Georges would rather be where he can talk with people in the streets and make trouble,” Lisle answered, but he looked almost as puzzled as his sister. He was fifteen and the head of his house, but he had never been taught to think things out for himself. He had hardly ever been alone in all his life, for when he rode or walked a tutor had always been with him. He had fenced and danced and shot, had studied about the old kings and the exploits of his own ancestors, but, like Marie Josephine, he only vaguely understood what really was going on in Paris.

“I want to go to Pigeon Valley, Lisle. I don’t like the sounds at night,” Marie Josephine said. She wanted to ask about the blue velvet and ermine and the crown but she could not make up her mind to do it.

Lisle pulled her cherry-colored rosette. He had come back because he had teased her. She knew this and she suddenly put her head down on his arm.

“I wish I could go to the bal masqué, Lisle. It’s going to be so wonderful,” she whispered.

“It is silly nonsense; that’s what it is! Madame de Soigné is giving the party for Cécile and Bertran. The fat Bertran needs a good caning instead of a bal masqué. He knows I know he cheated at fencing last week. It is a foolish time to have a soirée when everything in the city is upside down!” Lisle answered her.

“Maman said to Le Pont, 'There is no longer any 13pleasure for us now that the king and queen are in such danger, but let the children enjoy themselves while they may.’ I did not overhear her. She said it before us all here in the schoolroom.”

“Yes, maman fears always for the queen. Well, I must be off. Monsieur Laurent is waiting.” He lifted Marie Josephine’s chin and looked at her. “You are an odd little mortal. You are like grandfather.” Then he crossed the room and, looking back at her from the doorway, said:

“I’ll tell you all about the silly party after it is over.”

“The same night—as soon as you come home, no matter how late it is?” she called across the room excitedly.

Lisle nodded. It was a long room and she looked such a little figure sitting there on the broad window sill. He was right. She was like their grandfather.

She listened until his footsteps had died away. Proté was in the housekeeper’s room having a good gossip. She and Flambeau were alone.

She settled back in the corner of the window sill, Flambeau at her feet. She liked being there alone, and she felt sleepy and comfortable. She was thinking of her grandfather and of the spring afternoon two years before when they had had the adventure. She had often sat with him while he read or wrote and on that particular day she had found him looking at her in his sad, wistful way. The others had gone for a drive with Madame le Pont. The servants, 14except for the footmen on duty in the lower hall, were in their own part of the house, so they were quite alone. She had been sitting in the chair with the fawn and tiger coat of arms of the Saint Frères emblazoned in gold at the top of it.

“You have l’esprit, little Marie,” he had said. “You are the one who will think and understand and you are the one of this generation who will know how to help. I have a secret to tell you and something to show you. Promise me first that you will keep this afternoon locked up in your heart. Do not breathe of it to any soul unless the time should come when by so doing you feel that you will be of service to those you hold dear. Do you understand?” Grandfather had risen and come over to her as he spoke. “Do you understand, my child, that, after I am gone, except for one other, you are the only one who will know of what I am to show you and tell you?”

“Who is the other one, grandfather?” she had asked, all afire with eager interest.

Grandfather had shaken his head. “Do not concern yourself with that, little one. Be grateful that from them all I have chosen you. I am taking you down into the heart of the earth, Marie. I am going to tell you the legend of your house.”

Flambeau barked suddenly and fiercely, his feet on the window seat, his eager eyes intent on something which had caught his interest in the garden 15below. His bark brought Marie Josephine back to the present with a start. She jumped to her feet.

“Come, Flambeau, we’ll go down to the cellar,” she said. She ran across the room and the dog followed her with graceful bounds. When they reached the staircase, Marie Josephine leaned over the banister and listened, and Flambeau stopped and listened too. At the top of the first flight of stairs they both stopped and listened again. There was not a sound in the great house.

The next staircase was steep and they had to be cautious. Marie Josephine felt along the side of the rough stone wall as they walked, and she placed one foot before the other very carefully on the uneven hollows of the stone steps. It was a long way down to the cellars. They stopped to rest several times and welcomed the flare of a taper set in the wall at the bottom of the stairs. A damp, musty odor greeted them and a gusty wind blew about them.

All along one side of the cellar were shelves on which were jars of the good fig jam made by Mother Barbette at Les Vignes, the Saint Frères’ summer home in Pigeon Valley. Barrels of apples and potatoes stood in dusky corners. Marie Josephine went over to the shelves and sniffed at the jam. Then she spoke to Flambeau.

“I want to see Mother Barbette, Flambeau. I want to see Jean and Dian and Pince Nez, the crow. 16I want our home, Les Vignes. The lilies will be in bloom all along the south terrace.”

She sat down on the lowest step of the cellar stairs and put her chin on her hand, shaking her dark ringlets away from her face. A rat scudded all the way along a rafter above her head, making a queer, squeaking noise as he did so. Marie Josephine had seen him before, or at any rate one of his kind. He was a part of the expedition and the fun. She liked sitting there in the gloom, with Flambeau’s head against her knee, the silence of the house above her, and below her the secret! The cellars had been just as dusky and mysterious two years ago as they were to-day. Flambeau’s feet had scraped the same way against the stone floor. The only difference was that she was now almost thirteen and that grandfather had died!

She stood up and went quickly across to a far corner of the cellar, Flambeau following her. She knelt down near a pile of sacks filled with potatoes, and felt along the cold floor. Still leaning on the floor with one hand, she gave Flambeau’s head a little pat with the other.

“You are not to be afraid, you know, Flambeau. No Saint Frère is ever afraid. Grandfather said so; and you are one of the family you know, Flambeau!”

She felt carefully along the floor. She knew well that it was the seventh stone square from the corner that she wanted, and she found it easily, in spite of the shadowy, uncertain light from the torch by the stairs. Then she spoke again to Flambeau.

Drawing of Flambeau
Flambeau

17“This is the stone. It will open, you know. It always does, even though it never seems as though it really could. No one knows about it but you and me and the other one.”

She put her head sideways so that it rested for a moment on Flambeau’s upturned face, and she felt the eager response of a warm, rough tongue. Then she leaned over again, putting her palm on the center of the seventh stone, and pressing down upon it. At the same time she laid her other hand on the upper left side of the stone and pushed away from herself, and slowly and noiselessly it slid aside, disclosing a long, steep, ladderlike flight of stairs, leading down into what might have been the innermost depths of the earth!

Marie Josephine reached down to the right into the dark, yawning, square hole and lifted out a small iron lanthorn which rested on a ledge just underneath the stone panel. Then she struck the flint against the tinder, opened the lanthorn’s squeaky little lid, and lit the wick. A bright blue flame shot up at once, and, when she had shut the wee door, settled to a steady flame. She turned around and began to descend backward, resting the lanthorn on each step as she went down. When she had gone down several steps, she called softly to the dog, and he followed, facing her, putting one strong, slender 18foot in front of the other, with slow, unerring precision.





</p>
</body>
</html>


