<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
Once there was an Indian who had a Way of putting on all his Feathers and breaking out of the Reservation.

For three Weeks at a Stretch he gave a Correct Imitation of the Shining Light who passes the Basket and superintends the Repairs on the Parsonage. He was entitled to a Mark of 100 for Deportment. With his Meals he drank a little Polly. After Dinner he smoked one Perfecto and then, when he had put in a frolicsome Hour or so with the North American Review, he crawled into the Hay at 9.30 P.M.

At last he accumulated a Sense of Virtue that was hard to carry around. He was proud of himself when he counted up the number of days during which he had stuck to the Straight and Narrow. It seemed to him that he deserved a Reward. So he decided to buy himself a little Present, something costing about 15 cents. He picked out a First-Class Place {14}where they had Electric Fans and Pictures by the Old Masters. He poured out a Working-man's Size—the kind that makes the Barkeep stop wiping up and look unfriendly for a Moment or two.

Then he remembered that a Bird cannot fly with one Wing, so he gently raised the Index Finger and gave the Prescription Clerk a Look, which in the Sign Language means, "Repeat the Dose."

It is an Historical Fact that when a Man falls backward from the Water Wagon he always lands in a Crowd. The full Stage Setting, the Light Effects and the Red Fire were all ready to make it a Spectacular Affair. Just after he had mowed away No. 2 and had stopped worrying about the Winter's Coal, he began to meet Friends who were dying of Thirst. Then the atmosphere began to be curdled with High Balls and Plymouth Sours and Mint Smashes, and he was telling a Shoe Drummer that a lot of People who had been knocking him would probably be working for him before the Year was out.

{15}
For Three Weeks.For Three Weeks.
{16}
Then he found himself in a four-oared Cablet and the Sea became very Rough. There was something out of Whack with the Steering Gear, for instead of bringing up at his Boarding House he found himself at another Rum Parlor. The Man who owned the Place had lost the Key and could not lock up. Here he met several Delegates to a State Convention of a Fraternal Order having for its Purpose the uplifting of Mankind. They wore Blue Badges and were fighting to get their Money into the Cash Register. In a little while he and a red-headed Delegate were up by the Cigar Counter singing, "How can I bear to leave thee?" He put in an Application for Membership and then the next Picture that came out of the Fog was a Chop Suey Restaurant and everybody breaking Dishes.

{17}
Brothers.Brothers.
{18}
Soon after, the Lights went out and when he came back to Earth he was lying the wrong way of his Bed with Blue Badges all over him, trying to swallow a Bath Towel, which he afterward discovered was his Tongue. By getting a Leverage under his Head he managed to pry it up and then he sat on the edge of the Bed and called himself Names. He had nothing left over except the Cards given to him by the Brothers from up State somewhere. He had a dim and sneaking Recollection that he had given his address and Phone Number to the whole Tribe and begged them to look him up.

"Not any more in Mine," said he, as he held a Towel under the Faucet. "Not for all of Morgan's would I look at any more of that Essence of Trouble. I wonder if I'll live through the Morning."

That Day he lived on Bromo and Ice, and the only Satisfaction this Life offered was the Fact that he was a Reformed Man.

On the Second Day he could look at Solid Food without having a Spasm. His Hair stopped pulling and he began to speak to the People he met. When asked to step out for a little while, he lost his Temper and made a little Talk on the Subject, proving conclusively that there was Nothing in it.

{19}
Never Again!Never Again!
{20}
As he walked homeward in the Dusk he passed the Clubs and Cafés where those who Drank were rounding up and he felt sorry for them.

"Why can't they pass it up, the same as I do?" he asked himself. "Ah, if only they knew how much more Fun it is to be Respectable."

It was an actual Mystery to him that any one could dally with a Dry Martini while there was a Hydrant on every Corner.

On the third Day he was cracking his Whip and begging People to get up on the Wagon with him. And he said it was a Queer Thing, but he couldn't bear the Sight of it.

While on the fourth Evening he confessed to some nice People he met at a Church Social that at one time he had allowed himself to be coaxed into taking an occasional Nip but he reasoned it all out and decided it was a Bad Thing and simply Chopped it right off. They told him it was wonderful how much Will Power he had and asked him if he ever felt the Old Craving coming back on him, and {21}he said he could see it splashing all around him and not have the faintest Desire to dip in.

He was so stuck on himself that he went around to call on all his Friends who kept it on the Table so that he could wave it to one side and tell how he despised it. He sat there and pitied those who were inhaling it. Every Morning when he arose he would throw kisses to himself in the Glass and exclaim: "Aha! The Head as clear as a Bell this A.M. I'll bet I'm the cleanest and nicest Young Fellow in this Town. Any Girl that picks out a Sober and Steady Man such as I am will certainly be showing good Judgment."

As Narrated at the Beginning, for three weeks he worked hard at the Job of being an Abstainer. And at last he accumulated a Sense of Virtue that weighed over 200 Pounds. He knew that he was entitled to a Reward, so he decided to buy himself a little Present. Just a wee Reminder of by-gone Days and then back to Sarsaparilla. But he fell into a Crowd. There was another State Convention. {22}It had been arranged for him so that he could get a Fresh Start.

MORAL: Life is a Series of Relapses and Recoveries.

{23}
The Kind of Music That Is Too Good for Household Use
One Evening a little Flock of Our Best People got together at the Home of a Lady who invariably was first over the Fence in the Mad Pursuit of Culture. She loved to fill her Front Rooms with Folks who wore 7¾ Hats and read Norwegian Novels that no one else ever heard anything about.

On the Evening already mentioned she had a Cluster of Geniuses on hand. They were expected to Talk for a couple of Hours, so as to work up an Appetite for Neapolitan Ice-Cream and Lady-Fingers. In the course of time they got around to the Topic of Modern Music. All agreed that the Music which seemed to catch on with the low-browed Public was exceedingly punk. They rather fancied "Parsifal" and were willing to concede that Vogner made good in Spots, but Mascagni they branded as a Crab. As for Victor Herbert and J.P. Sousa—back to the Water-Tanks!

{24}
They Love It.They Love It.
{25}
A little later in the Game the Conversation began to Sag and it was suggested that they have Something on the Piano. They gathered around the Stack of Music and then Vogner went into the Discard and Puccini fell to the Floor unnoticed and the Classics did not get a Hand. But they gave a Yelp of Joy when they spotted a dear little Cantata about a Coon who earned a Razor and had trouble with his Wife. They sang the Chorus 38 times and the Young Lady wore out both Wrists doing Rag-Time.

MORAL: It is proper to enjoy the Cheaper Grades of Art, but they should not be formally Indorsed.

{26}
The One or Two Points of Difference Between Learning and Learning How
In a Red School-House back in the Web-Foot District, it was the Custom to have a Debate every Friday Afternoon. The much-mooted Question as to which does the greater Damage, Fire or Water, had been carefully gone over by the Squabs. Also who was the heftier Proposition, Napoleon or Washington? But the original Stand-by was as follows: "Resolved, that Education is better than Wealth."

The Corporate Interests got many a Whack here in the Knowledge Works. Most of the Children wanted to grow up and be like Galileo. They claimed that mere Wealth could not purchase Happiness. The only genuine Peace of Mind came from being able to call off the Geological Periods with the Eyes closed.

{27}
Otis and Bradford.Otis and Bradford.
{28}
Here in this little Brain Hatchery were two Kids who were not Mates. One was named Otis and the other was Bradford, or Brad for Short. Otis was the Boy who took the Affirmative side on Friday Afternoon. Ote firmly believed that Learning was the most valuable Asset that a Man could tuck away. Brad was for the Money End of the Game, but when he got up to make his Talk his Vocabulary would become jammed up and caught crossways in the Flue and teacher would motion him back to his Seat. Otis, however, could tell in well-chosen Phrases why the Scholar was a better and happier Man than the Millionaire and so he always received the Vote of the Judges.

Now, Brad was done up but unconvinced. He could not stand up before the District School and tell why it was good policy to corral the Coin, but he had a secret Hunch that it would be no Disgrace for him to go out and do the best he could. Brad had a bull-dog Jaw and large blood-shot Hands and a Neck-Band somewhat larger than his Hat-Band. He jumped the Stockade when they started to teach him Botany. He weighed 180 and he {29}thought he was too large to sit around and count the Petals of the Ox-Eye Daisy when he might be out selling Lightning Rods to the Yaps and making jug-handled Contracts. Accordingly he Dug.

"Bradford is making a great Mistake," said Otis, as he saw his Friend tear from the Institution of Learning. "In order to get a few worldly Chattels right at the jump, he sacrifices his Diploma. I shall be more Foxy. I shall go right on through the High School and then I shall attend College and get a Degree. When I have taken my Degree then I will be the human It. My scholarly Attainments and polished Manner will get me past the Door and into the Inner Circle of the Hot Potatoes. As for Bradford, although it is possible that he shall have combed up a little Currency he will be a mere ordinary, sordid Business Man—not one-two-seven when he tries to stack up against one who has just been delivered of a Thesis on the Correlated Phenomena of Unconscious Cerebration."

While Brad was out in the back Townships {30}short-changing the Farmers and buying 8 per cent. Mortgages, Otis was working his way through College and living on Oatmeal except on Holidays and then Prunes. He was getting round-shouldered and wore Specs and was all gaunted up, but he never weakened. He was pulling for the Laurel Wreath of Scholarship, or in other words, the Degree. After humping it for 4 years he passed his final Exam and the Faculty decided that he was a Bachelor of Arts.

That was the Day when he had the Laugh on Brad.

In the meantime, Bradford had been choking various People and taking it away from them. He had four Salesmen under him and had butted into the Firm, but he was still shy on Botany.

Inasmuch as Otis had been one of the brightest Men in his Class he was offered a position as Instructor in the College at a Salary of $55 a Month with a promise of $5 raise at the end of five Years, if he lived. Otis accepted, because the Outside World did not seem to be clamoring for his Services, even though he was an Authority on the Mezozoic Period and knew all the Diatomes by their First Names.

{31}
M.A.M.A.
{32}
Often while he was burning the Midnight Oil and grinding out Jaw-Breakers, so as to qualify for the Master's Degree, he reflected as follows: "It is true that Brad is making it Hand over Fist and wears $6 Shirts and rides in a State-Room on the Pullman, but he is not a Bachelor of Arts. And some day when he is a Multi-Millionaire I can still look down on him, for then I shall be a Master of Arts. I have known since Childhood that Education is more desirable than Paltry Gold. Although the Newspapers and the General Public do not seem to be with me to any Extent, it is better to hob-nob with the Binomial Theorem than to dally with the Champagne Supper."

In due time the Faculty gave the Degree of M.A. to what was left of Otis and still his Ambition was not satisfied. He wanted to land a Doctor's Degree. He knew that any one who aspired to this Eminent Honor had {33}to be a Pippin. But he hoped that he could make some Contribution to the World of Thought that would jar the whole Educational System and help him to climb to the topmost Pinnacle of Human Greatness.

Professor Otis did the Dig Act year after year. At the age of 49 he was still M.A. and owned a House with a Mortgage on it. In the Meantime there had been revolutionary Changes in the World of Finance. Everything on Earth had been put into a Pool. Each Smooth Citizen who had something that was of no particular use to him went to work and Capitalized it. Brad closed out his Interests for so much Money that any one else would have been ashamed to take it. Then he and some other Buccaneers went down to Wall Street to have fun with several dignified Gentlemen whom Brad described as Them Fly Eastern Mugs. They succeeded in putting the Skids under a number of Persons who did not care to meet them Socially.

When Brad walked around in his Million Dollar Hut he had to step high to avoid {34}stumbling over Bundles of the Long Green; but he never had made any further headway with his Botany.

It happened one Day that Brad was out Moting and he dropped in at the College where his Boyhood Friend was now the Professor of Dipsicology and Plamazzus.

"This is a likely-looking Plant," said Brad, as he sized up the Campus. "I like to encourage these Joints because they help to keep a lot of Young Fellows away from Business Offices. I find that I have here in my Vest-Pocket a measly $50,000 that I have overlooked in changing my Clothes. Give it to the Main Cheese and tell him to have a Laboratory on me."

When the News got out all the sis-boom-ah Boys gave a Parade in their Nighties. The Faculty called a Special Meeting and made Brad a Doctor of Philosophy.

Next Year he put up for a Gym and they made him a Doctor of Divinity.

The Year Following he handed them a Telescope and became an LL.D.

{35}
D.D.—LL.D.—Ph.D. D.D.—LL.D.—Ph.D.
{36}
Every time he coughed he was made some new kind of Doctor.

In fact, for a Man with a 6¼ Hat who did not know the difference between the Pistil and the Stamen he was the most learned Thing in Seven States. Professor Otis was crowded into the Ditch. Sometimes he wonders which of the two has the nub end of the Argument that started in the Red School-House.

MORAL: The Longest Way Around is the Shortest Way to the University Degree.

{37}
The Night-Watch and the Would-Be Something Awful
Once there was a full-sized Girl named Florine whose Folks kept close Tab on her. Any night-blooming Harold who presumed to keep the Parlor open after Midnight heard low Voices in the Hallway and then a Rap on the Door. If Florine put on her Other Dress and went to a Hop then Mother would sit up and wait for her, and 1 o'clock was the Outside Limit. Consequently Florine would have to duck on the Festivities just when everything was getting Good. Furthermore she would have to warn Mr. Escort to behave himself when they drew near the House.

"Nothing doing at the Gate," she would say, warningly. "It's Dollars to Dumplings that the Girl Detective is peeking out to get a line on my Conduct. She has her Ear to the Ground about four-thirds of the Time and if any one makes a Move, then Mother is Next. If Father takes a Drink at the Club and then {38}starts Homeward on a fast Trolley, Mother knows all about it when he is still three Blocks from the House. What's more, she is a knowing Bird and can't be fooled by Cloves or these little Peppermint Choo-Choos. The only time when Mother kisses Father is when she wants to catch him with the Goods. Look Out! This is our Corner."

As soon as they had landed at the Gate, little Florine would say in loud, clear Tones that would carry as far as the Sitting-Room Window, "Oh, Mr. Gilblitz, I have had a most charming Evening, and I wish to thank you most heartily."

Whereupon the Escort, standing 8 Feet away, with his Concertina Hat in his Hand and the Face in the Moonlight beaming with child-like Innocence, would come back thusly: "It's awfully good of you to say that. Good Night."

{39}
Florine.Florine.
{40}
After which, Mother was supposed to believe that they had been 8 feet apart all Evening. But Mother was Canny and up to Snuff, with a Memory that reached back at least 25 Years. These little One-Act Plays under the Window did not throw her off for any part of a Minute. Before Florine turned in she was Cross-Examined and required to tell with whom she had danced, and why and how often and what he said. Occasionally the Daughter worked the Mental Reservation. In other Words, she held out on Mother. She said that she had sat out most of the Numbers, but she admitted going through a Square Dance with the Young Man who passed the Plate at the Episcopal Church.

At which Mother would wink the Off Eye and murmur, "Is that so?" with the Loud Pedal on the "That." Also something about being more than Seven.

One of Florine's Ancestors on Mother's Side happened to be on Earth at the time of the Revolution, and Father often spoke of a Second Cousin who had been in Congress until the District tumbled to him. Because of this Current of Blue Blood racing in her Veins, Florine was supposed to be a trifle Classy and Mother was always afraid that she might get {41}Thumb-Marks on the Family Escutcheon. Therefore Florine was forbidden to work up a Calling Acquaintance with any of the Hoi Polloi, which is Greek for Selling-Platers. According to Mother, there were only about 8 Families in Town that really belonged and some of them didn't Belong enough to hurt. Florine found herself cut out of many a Good Time because the Chaperon for the Occasion chanced to be related to some one who had been in the Liquor Business.

Florine was up against it ever so Hard. She had to go out in the Grape Arbor when she wanted to chew Gum, and she kept her Reading Matter under the Mattress. Nearly every high-speed Bachelor in Town had been forbidden the Premises because of the Stories that were going around. The kind that Mother approved were of the Lilac Division with White Puff Ties and their Hair glued down. They talked about Choir Practice and sometimes, when they were sufficiently wrought up, they played Charades.

The only Chance that Florine had to mingle {42}with the Popular Boys was to go down Town in the Afternoon and just happen to meet one of them at the Ice-Cream Parlor. Florine learned to be quite a Happener. But on the way home she would have to fix up a few Jules Vernes for the Old Lady in the Watch Tower. Mother knew that it didn't take 4 Hours to be measured for a Shirt Waist.

"Wait until I get Married," Florine would say. "I'll make that 20-hour Flyer look like a Steam-Roller. If Mother doesn't let up on me, I'll learn to smoke Cigarettes."

At times she was so Desperate that she was ready to join a Troupe or elope with a Drummer. She wanted to get out among the Bright Lights and hear the Band play. And she knew that she couldn't turn Flip-Flops and break Furniture and play Rag-Time along after Midnight until she had become a Respectable. Married Woman. So she had her Distress Signal out and used to drop very Broad Hints, when she was chatting with the Lads who happened to be in the Soda-Water Resort when she dropped in. They liked Florine for Keeps, but when one of them thought of clinching with old Eagle-Eye, the Family Sleuth, he weakened.

{43}
The Night-Watch.The Night-Watch.
{44}
Florine would have remained a Dead Card if she had not gone on a Visit to a neighboring City where she bumped into the Town Trifler. He had a Way of proposing to every Girl the first time he met her. It always seemed to him such a cordial Send-Off for a budding Friendship. Usually the Girl asked for Time and then the two of them would Fiddle around and Fuss and Make Up and finally send back all the Letters and that would be the Finish. Florine fooled the foxy Philander. The Moment he came at her with the Marriage Talk she took a firm Hold and said, "You're on! Get your License to-morrow morning. Then cut all the Telegraph Wires and burn the Railroad Bridges."

They were Married, and, strange as it may appear, Mother immediately resigned her Job as Policeman and said: "Thank goodness, I've got you Married Off! Now you can do as you please."

{45}
When Florine found that she could do as she pleased she discovered that there wasn't very much of anything to do except Settle Down. After about seven Chafing-Dish Parties she expended her whole Stock of pent-up Ginger and now she is just as Quiet as the rest of us.

MORAL: Any System is O.K. if it finally Works Out.

{46}
The Attenuated Attorney Who Rang In the Associate Counsel
Once there was a sawed-off Attorney who had studied until he was Bleary around the Eyes and as lean as a Razor-Back. He knew the Law from Soup to Nuts, but much learning had put him a little bit to the Willies. And his Size was against him. He lacked Bellows.

He was an inconspicuous little Runt. When he stood up to Plead, he came a trifle higher than the Chair. Of the 90 pounds he carried, about 45 were Gray Matter. He had Mental Merchandise to burn but no way of delivering it.

When there was a Rally or some other Gabfest on the Bills, the Committee never asked him to make an Address. The Committee wanted a Wind-Jammer who could move the Leaves on a Tree 200 feet distant. The dried-up Lawyer could write Great Stuff that would charm a Bird out of a Tree, but he did not have the Tubes to enable him to Spout. When {47}he got up to Talk, it was all he could do to hear himself. The Juries used to go to sleep on him. He needed a Megaphone. And he had about as much Personal Magnetism as an Undertaker's Assistant.

The Runt lost many a Case because he could not Bark at the Jury and pound Holes in a Table. His Briefs had been greatly admired by the Supreme Court. Also it was known that he could draw up a copper-riveted Contract that would hold Water, but as a Pleader he was a Pickerel.

At one time he had an Important Suit on hand, and he was Worried, for he was opposed by a couple of living Gas Engines who could rare up and down in front of a yap Jury for further Orders.

"I have the Law on my Side," said the Runt. "Now if I were only Six-Feet-Two with a sole-leather Thorax, I could swing the Verdict."

While he was repining, in came a Friend of his Youth, named Jim.

This Jim was a Book-Agent. He was as {48}big as the Side of a House. He had a Voice that sounded as if it came up an Elevator Shaft. When he folded his Arms and looked Solemn, he was a colossal Picture of Power in Repose. He wore a Plug Hat and a large Black Coat. Nature intended him for the U.S. Senate, but used up all the Material early in the Job and failed to stock the Brain Cavity.

Jim had always been at the Foot of the Class in School. At the age of 40 he spelled Sure with an Sh and sank in a Heap when he tried to add 8 and 7. But he was a tall Success as a Book Pedler, because he learned his Piece and the 218 pounds of Dignified Superiority did the Rest.

Wherever he went, he commanded Respect. He could go into a strange Hotel and sit down at the Breakfast Table and say: "Please pass the Syrup" in a Tone that had all the majestic Significance of an Official Utterance. He would sit there in silent Meditation. Those who sized up that elephantine Form and noted the Gravity of his Countenance and the fluted Wrinkles on his high Brow, imagined that he {49}was pondering on the Immortality of the Soul. As a matter of fact, Jim was wondering whether he would take Ham or Bacon with his Eggs.

Jim had the Bulk and the awe-inspiring Front. As long as he held to a Napoleonic Silence he could carry out the Bluff. Little Boys tip-toed when they came near him, and Maiden Ladies sighed for an introduction. Nothing but a Post-Mortem Examination would have shown Jim up in his True Light. The midget Lawyer looked up in Envy at his mastodonic Acquaintance and sighed.

"If I could combine my Intellect with your Horse-Power, I would be the largest Dandelion in the Legal Pasture," he said.

Then a Happy Idea struck him amidships.

"Jim, I want you to be my Associate Counsel," he said. "I understand, of course, that you do not know the difference between a Caveat and a Caviar Sandwich, but as long as you keep your Hair combed the way it is now and wear that Thoughtful Expression, you're just as good as the whole Choate Family. I will introduce you as an Eminent Attorney from {50}the East. I will guard the Law Points and you will sit there and Dismay the Opposition by looking Wise."

So when the Case came up for Trial, the Runt led the august Jim into the Court Room and introduced him as Associate Counsel. A Murmur of Admiration ran throughout the Assemblage when Jim showed his Commanding Figure, a Law Book under his Arm and a look of Heavy Responsibility on his Face. Old Atlas, who carries the Globe on his Shoulders, did not seem to be in it with this grand and gloomy Stranger.

For two hours Jim had been rehearsing his Speech. He arose.

"Your Honor," he began.






</p>
</body>
</html>


