<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
   Okonkwo was well known throughout the nine villages and even beyond. His
fame rested on solid personal achievements. As a young man of eighteen he
had brought honor to his village by throwing Amalinze the Cat. Amalinze was the great
wrestler who for seven years was unbeaten, from Umuoɹa to Mbaino. He was called the
Cat because his back would never touch the earth. It was this man that Okonkwo threw
in a ɹght which the old men agreed was one of the ɹercest since the founder of their
town engaged a spirit of the wild for seven days and seven nights.
The drums beat and the ɻutes sang and the spectators held their breath. Amalinze was
a wily craftsman, but Okonkwo was as slippery as a ɹsh in water. Every nerve and
every muscle stood out on their arms, on their backs and their thighs, and one almost
heard them stretching to breaking point. In the end Okonkwo threw the Cat.
That was many years ago, twenty years or more, and during this time Okonkwo’s
fame had grown like a bush-ɹre in the harmattan. He was tall and huge, and his bushy
eyebrows and wide nose gave him a very severe look. He breathed heavily, and it was
said that, when he slept, his wives and children in their houses could hear him breathe.
When he walked, his heels hardly touched the ground and he seemed to walk on springs,
as if he was going to pounce on somebody. And he did pounce on people quite often. He
had a slight stammer and whenever he was angry and could not get his words out
quickly enough, he would use his ɹsts. He had no patience with unsuccessful men. He
had had no patience with his father.
Unoka, for that was his father’s name, had died ten years ago. In his day he was lazy
and improvident and was quite incapable of thinking about tomorrow. If any money
came his way, and it seldom did, he immediately bought gourds of palm-wine, called
round his neighbors and made merry. He always said that whenever he saw a dead
man’s mouth he saw the folly of not eating what one had in one’s lifetime. Unoka was,
of course, a debtor, and he owed every neighbor some money, from a few cowries to
quite substantial amounts.
He was tall but very thin and had a slight stoop. He wore a haggard and mournful
look except when he was drinking or playing on his flute. He was very good on his flute,
and his happiest moments were the two or three moons after the harvest when the
village musicians brought down their instruments, hung above the ɹreplace. Unoka
would play with them, his face beaming with blessedness and peace. Sometimes another
village would ask Unoka’s band and their dancing egwugwu to come and stay with them
and teach them their tunes. They would go to such hosts for as long as three or four
markets, making music and feasting. Unoka loved the good fare and the good
fellowship, and he loved this season of the year, when the rains had stopped and the sun
rose every morning with dazzling beauty. And it was not too hot either, because the cold
and dry harmattan wind was blowing down from the north. Some years the harmattan
was very severe and a dense haze hung on the atmosphere. Old men and children would
then sit round log ɹres, warming their bodies. Unoka loved it all, and he loved the ɹrst
kites that returned with the dry season, and the children who sang songs of welcome to
them. He would remember his own childhood, how he had often wandered around
looking for a kite sailing leisurely against the blue sky. As soon as he found one he
would sing with his whole being, welcoming it back from its long, long journey, and
asking it if it had brought home any lengths of cloth.
That was years ago, when he was young. Unoka, the grown-up, was a failure. He was
poor and his wife and children had barely enough to eat. People laughed at him because
he was a loafer, and they swore never to lend him any more money because he never
paid back. But Unoka was such a man that he always succeeded in borrowing more, and
piling up his debts.
One day a neighbor called Okoye came in to see him. He was reclining on a mud bed
in his hut playing on the ɻute. He immediately rose and shook hands with Okoye, who
then unrolled the goatskin which he carried under his arm, and sat down. Unoka went
into an inner room and soon returned with a small wooden disc containing a kola nut,
some alligator pepper and a lump of white chalk.
“I have kola,” he announced when he sat down, and passed the disc over to his guest.
“Thank you. He who brings kola brings life. But I think you ought to break it,” replied
Okoye, passing back the disc.
“No, it is for you, I think,” and they argued like this for a few moments before Unoka
accepted the honor of breaking the kola. Okoye, meanwhile, took the lump of chalk,
drew some lines on the floor, and then painted his big toe.
As he broke the kola, Unoka prayed to their ancestors for life and health, and for
protection against their enemies. When they had eaten they talked about many things:
about the heavy rains which were drowning the yams, about the next ancestral feast
and about the impending war with the village of Mbaino. Unoka was never happy when
it came to wars. He was in fact a coward and could not bear the sight of blood. And so
he changed the subject and talked about music, and his face beamed. He could hear in
his mind’s ear the blood-stirring and intricate rhythms of the ekwe and the udu and the
ogene, and he could hear his own ɻute weaving in and out of them, decorating them
with a colorful and plaintive tune. The total eʃect was gay and brisk, but if one picked
out the ɻute as it went up and down and then broke up into short snatches, one saw
that there was sorrow and grief there.
Okoye was also a musician. He played on the ogene. But he was not a failure like
Unoka. He had a large barn full of yams and he had three wives. And now he was going
to take the Idemili title, the third highest in the land. It was a very expensive ceremony
and he was gathering all his resources together. That was in fact the reason why he had
come to see Unoka. He cleared his throat and began:
“Thank you for the kola. You may have heard of the title I intend to take shortly.”
Having spoken plainly so far, Okoye said the next half a dozen sentences in proverbs.
Among the Ibo the art of conversation is regarded very highly, and proverbs are the
palm-oil with which words are eaten. Okoye was a great talker and he spoke for a long
time, skirting round the subject and then hitting it ɹnally. In short, he was asking
Unoka to return the two hundred cowries he had borrowed from him more than two
years before. As soon as Unoka understood what his friend was driving at, he burst out
laughing. He laughed loud and long and his voice rang out clear as the ogene, and tears
stood in his eyes. His visitor was amazed, and sat speechless. At the end, Unoka was
able to give an answer between fresh outbursts of mirth.
“Look at that wall,” he said, pointing at the far wall of his hut, which was rubbed with
red earth so that it shone. “Look at those lines of chalk,” and Okoye saw groups of short
perpendicular lines drawn in chalk. There were ɹve groups, and the smallest group had
ten lines. Unoka had a sense of the dramatic and so he allowed a pause, in which he
took a pinch of snuʃ and sneezed noisily, and then he continued: “Each group there
represents a debt to someone, and each stroke is one hundred cowries. You see, I owe
that man a thousand cowries. But he has not come to wake me up in the morning for it.
I shall pay you, but not today. Our elders say that the sun will shine on those who stand
before it shines on those who kneel under them. I shall pay my big debts ɹrst.” And he
took another pinch of snuʃ, as if that was paying the big debts ɹrst. Okoye rolled his
goatskin and departed.
When Unoka died he had taken no title at all and he was heavily in debt. Any wonder
then that his son Okonkwo was ashamed of him? Fortunately, among these people a
man was judged according to his worth and not according to the worth of his father.
Okonkwo was clearly cut out for great things. He was still young but he had won fame
as the greatest wrestler in the nine villages. He was a wealthy farmer and had two
barns full of yams, and had just married his third wife. To crown it all he had taken two
titles and had shown incredible prowess in two inter-tribal wars. And so although
Okonkwo was still young, he was already one of the greatest men of his time. Age was
respected among his people, but achievement was revered. As the elders said, if a child
washed his hands he could eat with kings. Okonkwo had clearly washed his hands and
so he ate with kings and elders. And that was how he came to look after the doomed lad
who was sacriɹced to the village of Umuoɹa by their neighbors to avoid war and
bloodshed. The ill-fated lad was called Ikemefuna.
CHAPTER TWO
Okonkwo had just blown out the palm-oil lamp and stretched himself on his
bamboo bed when he heard the ogene of the town crier piercing the still night
a ir. Gome, gome, gome, gome, boomed the hollow metal. Then the crier gave his
message, and at the end of it beat his instrument again. And this was the message.
Every man of Umuoɹa was asked to gather at the market place tomorrow morning.
Okonkwo wondered what was amiss, for he knew certainly that something was amiss.
He had discerned a clear overtone of tragedy in the crier’s voice, and even now he could
still hear it as it grew dimmer and dimmer in the distance.
The night was very quiet. It was always quiet except on moonlight nights. Darkness
held a vague terror for these people, even the bravest among them. Children were
warned not to whistle at night for fear of evil spirits. Dangerous animals became even
more sinister and uncanny in the dark. A snake was never called by its name at night,
because it would hear. It was called a string. And so on this particular night as the
crier’s voice was gradually swallowed up in the distance, silence returned to the world, a
vibrant silence made more intense by the universal trill of a million million forest
insects.
On a moonlight night it would be diʃerent. The happy voices of children playing in
open ɹelds would then be heard. And perhaps those not so young would be playing in
pairs in less open places, and old men and women would remember their youth. As the
Ibo say: “When the moon is shining the cripple becomes hungry for a walk.”
But this particular night was dark and silent. And in all the nine villages of Umuoɹa a
town crier with his ogene asked every man to be present tomorrow morning. Okonkwo
on his bamboo bed tried to ɹgure out the nature of the emergency—war with a
neighboring clan? That seemed the most likely reason, and he was not afraid of war. He
was a man of action, a man of war. Unlike his father he could stand the look of blood.
In Umuoɹa’s latest war he was the ɹrst to bring home a human head. That was his ɹfth
head; and he was not an old man yet. On great occasions such as the funeral of a village
celebrity he drank his palm-wine from his first human head.
In the morning the market place was full. There must have been about ten thousand
men there, all talking in low voices. At last Ogbueɹ Ezeugo stood up in the midst of
them and bellowed four times, “Umuoɹa kwenu,” and on each occasion he faced a
diʃerent direction and seemed to push the air with a clenched ɹst. And ten thousand
men answered “Yaa!” each time. Then there was perfect silence. Ogbueɹ Ezeugo was a
powerful orator and was always chosen to speak on such occasions. He moved his hand
over his white head and stroked his white beard. He then adjusted his cloth, which was
passed under his right arm-pit and tied above his left shoulder.
“Umuofia kwenu,” he bellowed a ɹfth time, and the crowd yelled in answer. And then
suddenly like one possessed he shot out his left hand and pointed in the direction of
Mbaino, and said through gleaming white teeth ɹrmly clenched: “Those sons of wild
animals have dared to murder a daughter of Umuoɹa.” He threw his head down and
gnashed his teeth, and allowed a murmur of suppressed anger to sweep the crowd.
When he began again, the anger on his face was gone and in its place a sort of smile
hovered, more terrible and more sinister than the anger. And in a clear unemotional
voice he told Umuoɹa how their daughter had gone to market at Mbaino and had been
killed. That woman, said Ezeugo, was the wife of Ogbueɹ Udo, and he pointed to a man
who sat near him with a bowed head. The crowd then shouted with anger and thirst for
blood.
Many others spoke, and at the end it was decided to follow the normal course of
action. An ultimatum was immediately dispatched to Mbaino asking them to choose
between war on the one hand, and on the other the oʃer of a young man and a virgin
as compensation.
Umuoɹa was feared by all its neighbors. It was powerful in war and in magic, and its
priests and medicine men were feared in all the surrounding country. Its most potent
war-medicine was as old as the clan itself. Nobody knew how old. But on one point
there was general agreement—the active principle in that medicine had been an old
woman with one leg. In fact, the medicine itself was called agadi-nwayi, or old woman.
It had its shrine in the centre of Umuoɹa, in a cleared spot. And if anybody was so
foolhardy as to pass by the shrine after dusk he was sure to see the old woman hopping
about.
And so the neighboring clans who naturally knew of these things feared Umuoɹa, and
would not go to war against it without ɹrst trying a peaceful settlement. And in fairness
to Umuoɹa it should be recorded that it never went to war unless its case was clear and
just and was accepted as such by its Oracle—the Oracle of the Hills and the Caves. And
there were indeed occasions when the Oracle had forbidden Umuoɹa to wage a war. If
the clan had disobeyed the Oracle they would surely have been beaten, because their
dreaded agadi-nwayi would never fight what the Ibo call a fight of blame.
But the war that now threatened was a just war. Even the enemy clan knew that. And
so when Okonkwo of Umuoɹa arrived at Mbaino as the proud and imperious emissary
of war, he was treated with great honor and respect, and two days later he returned
home with a lad of ɹfteen and a young virgin. The lad’s name was Ikemefuna, whose
sad story is still told in Umuofia unto this day.
The elders, or ndichie, met to hear a report of Okonkwo’s mission. At the end they
decided, as everybody knew they would, that the girl should go to Ogbueɹ Udo to
replace his murdered wife. As for the boy, he belonged to the clan as a whole, and there
was no hurry to decide his fate. Okonkwo was, therefore, asked on behalf of the clan to
look after him in the interim. And so for three years Ikemefuna lived in Okonkwo’s
household.
Okonkwo ruled his household with a heavy hand. His wives, especially the youngest,
lived in perpetual fear of his fiery temper, and so did his little children. Perhaps down in
his heart Okonkwo was not a cruel man. But his whole life was dominated by fear, the
fear of failure and of weakness. It was deeper and more intimate than the fear of evil
and capricious gods and of magic, the fear of the forest, and of the forces of nature,
malevolent, red in tooth and claw. Okonkwo’s fear was greater than these. It was not
external but lay deep within himself. It was the fear of himself, lest he should be found
to resemble his father. Even as a little boy he had resented his father’s failure and
weakness, and even now he still remembered how he had suʃered when a playmate had
told him that his father was agbala. That was how Okonkwo ɹrst came to know that
agbala was not only another name for a woman, it could also mean a man who had
taken no title. And so Okonkwo was ruled by one passion—to hate everything that his
father Unoka had loved. One of those things was gentleness and another was idleness.
During the planting season Okonkwo worked daily on his farms from cock-crow until
the chickens went to roost. He was a very strong man and rarely felt fatigue. But his
wives and young children were not as strong, and so they suʃered. But they dared not
complain openly. Okonkwo’s ɹrst son, Nwoye, was then twelve years old but was
already causing his father great anxiety for his incipient laziness. At any rate, that was
how it looked to his father, and he sought to correct him by constant nagging and
beating. And so Nwoye was developing into a sad-faced youth.
Okonkwo’s prosperity was visible in his household. He had a large compound enclosed
by a thick wall of red earth. His own hut, or obi, stood immediately behind the only gate
in the red walls. Each of his three wives had her own hut, which together formed a half
moon behind the obi. The barn was built against one end of the red walls, and long
stacks of yam stood out prosperously in it. At the opposite end of the compound was a
shed for the goats, and each wife built a small attachment to her hut for the hens. Near
the barn was a small house, the “medicine house” or shrine where Okonkwo kept the
wooden symbols of his personal god and of his ancestral spirits. He worshipped them
with sacriɹces of kola nut, food and palm-wine, and oʃered prayers to them on behalf
of himself, his three wives and eight children.
So when the daughter of Umuoɹa was killed in Mbaino, Ikemefuna came into
Okonkwo’s household. When Okonkwo brought him home that day he called his most
senior wife and handed him over to her.
“He belongs to the clan,” he told her. “So look after him.”
“Is he staying long with us?” she asked.
“Do what you are told, woman,” Okonkwo thundered, and stammered. “When did you
become one of the ndichie of Umuofia?”
And so Nwoye’s mother took Ikemefuna to her hut and asked no more questions.
As for the boy himself, he was terribly afraid. He could not understand what was
happening to him or what he had done. How could he know that his father had taken a
hand in killing a daughter of Umuoɹa? All he knew was that a few men had arrived at
their house, conversing with his father in low tones, and at the end he had been taken
out and handed over to a stranger. His mother had wept bitterly, but he had been too
surprised to weep. And so the stranger had brought him, and a girl, a long, long way
from home, through lonely forest paths. He did not know who the girl was, and he never
saw her again. 
Okonkwo did not have the start in life which many young men usually had.
He did not inherit a barn from his father. There was no barn to inherit. The
story was told in Umuoɹa, of how his father, Unoka, had gone to consult the Oracle of
the Hills and the Caves to find out why he always had a miserable harvest.
The Oracle was called Agbala, and people came from far and near to consult it. They
came when misfortune dogged their steps or when they had a dispute with their
neighbors. They came to discover what the future held for them or to consult the spirits
of their departed fathers.
The way into the shrine was a round hole at the side of a hill, just a little bigger than
the round opening into a henhouse. Worshippers and those who came to seek
knowledge from the god crawled on their belly through the hole and found themselves
in a dark, endless space in the presence of Agbala. No one had ever beheld Agbala,
except his priestess. But no one who had ever crawled into his awful shrine had come
out without the fear of his power. His priestess stood by the sacred fire which she built in
the heart of the cave and proclaimed the will of the god. The ɹre did not burn with a
flame. The glowing logs only served to light up vaguely the dark figure of the priestess.
Sometimes a man came to consult the spirit of his dead father or relative. It was said
that when such a spirit appeared, the man saw it vaguely in the darkness, but never
heard its voice. Some people even said that they had heard the spirits ɻying and
flapping their wings against the roof of the cave.
Many years ago when Okonkwo was still a boy his father, Unoka, had gone to consult
Agbala. The priestess in those days was a woman called Chika. She was full of the
power of her god, and she was greatly feared. Unoka stood before her and began his
story.
“Every year,” he said sadly, “before I put any crop in the earth, I sacriɹce a cock to
Ani, the owner of all land. It is the law of our fathers. I also kill a cock at the shrine of
Ifejioku, the god of yams. I clear the bush and set fire to it when it is dry. I sow the yams
when the ɹrst rain has fallen, and stake them when the young tendrils appear. I weed
—”
“Hold your peace!” screamed the priestess, her voice terrible as it echoed through the
dark void. “You have oʃended neither the gods nor your fathers. And when a man is at
peace with his gods and his ancestors, his harvest will be good or bad according to the
strength of his arm. You, Unoka, are known in all the clan for the weakness of your
machete and your hoe. When your neighbors go out with their ax to cut down virgin
forests, you sow your yams on exhausted farms that take no labor to clear. They cross
seven rivers to make their farms; you stay at home and oʃer sacriɹces to a reluctant
soil. Go home and work like a man.”
Unoka was an ill-fated man. He had a bad chi or personal god, and evil fortune
followed him to the grave, or rather to his death, for he had no grave. He died of the
swelling which was an abomination to the earth goddess. When a man was aʀicted
with swelling in the stomach and the limbs he was not allowed to die in the house. He
was carried to the Evil Forest and left there to die. There was the story of a very
stubborn man who staggered back to his house and had to be carried again to the forest
and tied to a tree. The sickness was an abomination to the earth, and so the victim could
not be buried in her bowels. He died and rotted away above the earth, and was not
given the ɹrst or the second burial. Such was Unoka’s fate. When they carried him
away, he took with him his flute.
With a father like Unoka, Okonkwo did not have the start in life which many young
men had. He neither inherited a barn nor a title, nor even a young wife. But in spite of
these disadvantages, he had begun even in his father’s lifetime to lay the foundations of
a prosperous future. It was slow and painful. But he threw himself into it like one
possessed. And indeed he was possessed by the fear of his father’s contemptible life and
shameful death.
There was a wealthy man in Okonkwo’s village who had three huge barns, nine wives
and thirty children. His name was Nwakibie and he had taken the highest but one title
which a man could take in the clan. It was for this man that Okonkwo worked to earn
his first seed yams.
He took a pot of palm-wine and a cock to Nwakibie. Two elderly neighbors were sent
for, and Nwakibie’s two grown-up sons were also present in his obi. He presented a kola
nut and an alligator pepper, which were passed round for all to see and then returned
to him. He broke the nut saying: “We shall all live. We pray for life, children, a good
harvest and happiness. You will have what is good for you and I will have what is good
for me. Let the kite perch and let the eagle perch too. If one says no to the other, let his
wing break.”
After the kola nut had been eaten Okonkwo brought his palm-wine from the corner of
the hut where it had been placed and stood it in the center of the group. He addressed
Nwakibie, calling him “Our father.”
“Nna ayi,” he said. “I have brought you this little kola. As our people say, a man who
pays respect to the great paves the way for his own greatness. I have come to pay you
my respects and also to ask a favor. But let us drink the wine first.”
Everybody thanked Okonkwo and the neighbors brought out their drinking horns from
the goatskin bags they carried. Nwakibie brought down his own horn, which was
fastened to the rafters. The younger of his sons, who was also the youngest man in the
group, moved to the center, raised the pot on his left knee and began to pour out the
wine. The ɹrst cup went to Okonkwo, who must taste his wine before anyone else. Then
the group drank, beginning with the eldest man. When everyone had drunk two or three
horns, Nwakibie sent for his wives. Some of them were not at home and only four came
in.
“Is Anasi not in?” he asked them. They said she was coming. Anasi was the ɹrst wife
and the others could not drink before her, and so they stood waiting.
Anasi was a middle-aged woman, tall and strongly built. There was authority in her
bearing and she looked every inch the ruler of the womenfolk in a large and prosperous
family. She wore the anklet of her husband’s titles, which the ɹrst wife alone could
wear.
She walked up to her husband and accepted the horn from him. She then went down
on one knee, drank a little and handed back the horn. She rose, called him by his name
and went back to her hut. The other wives drank in the same way, in their proper order,
and went away.
The men then continued their drinking and talking. Ogbueɹ Idigo was talking about
the palm-wine tapper, Obiako, who suddenly gave up his trade.
“There must be something behind it,” he said, wiping the foam of wine from his
mustache with the back of his left hand. “There must be a reason for it. A toad does not
run in the daytime for nothing.”
“Some people say the Oracle warned him that he would fall oʃ a palm tree and kill
himself,” said Akukalia.
“Obiako has always been a strange one,” said Nwakibie. “I have heard that many
years ago, when his father had not been dead very long, he had gone to consult the
Oracle. The Oracle said to him, ‘Your dead father wants you to sacriɹce a goat to him.’
Do you know what he told the Oracle? He said, ‘Ask my dead father if he ever had a
fowl when he was alive.’” Everybody laughed heartily except Okonkwo, who laughed
uneasily because, as the saying goes, an old woman is always uneasy when dry bones
are mentioned in a proverb. Okonkwo remembered his own father.
At last the young man who was pouring out the wine held up half a horn of the thick,
white dregs and said, “What we are eating is ɹnished.” “We have seen it,” the others
replied. “Who will drink the dregs?” he asked. “Whoever has a job in hand,” said Idigo,
looking at Nwakibie’s elder son Igwelo with a malicious twinkle in his eye.
Everybody agreed that Igwelo should drink the dregs. He accepted the half-full horn
from his brother and drank it. As Idigo had said, Igwelo had a job in hand because he
had married his ɹrst wife a month or two before. The thick dregs of palm-wine were
supposed to be good for men who were going in to their wives.
After the wine had been drunk Okonkwo laid his difficulties before Nwakibie.
“I have come to you for help,” he said. “Perhaps you can already guess what it is. I
have cleared a farm but have no yams to sow. I know what it is to ask a man to trust
another with his yams, especially these days when young men are afraid of hard work. I
am not afraid of work. The lizard that jumped from the high iroko tree to the ground
said he would praise himself if no one else did. I began to fend for myself at an age
when most people still suck at their mothers’ breasts. If you give me some yam seeds I
shall not fail you.”

   </p>
</body>
</html>