<HTML>
   <HEAD>
      <TITLE>The Cold War and The Fifties</TITLE>
   </HEAD>
   <BODY>
      <P>History stipulates that for nearly forty years after the Second World War, there had been intense conflict among the leading economies of the world. This conflict was not manifested through physical war but via the development of nuclear weapons. Watson argues that both the West and Union of Soviet Socialist Republics (USSR) tried to destroy and undermine each other, but were careful not to let their conflict reach the level of actual fighting (59). This paper offers a detailed and chronological discussion of historical events that took place between the years 1945-1964 which shaped the history of the entire Cold War. It is also imperative to note that the events that took place prior and after the Cold War era were profoundly significant in shaping the world history.

Background of the Cold War
In his publication, Stokes points out that after the Second World War in 1945, sections of the Soviet Army remained in Poland, Czechoslovakia, Hungary, Romania, Bulgaria, and Austria as well as Germany (148). During the Yalta conference in 1945, Joseph Stalin, a representative of the Soviet Union made a promise that elections in Poland as well as in other nations in the East of Europe that the Soviet Union occupied would be carried out in a free and unfettered way.

However, analysts point out that Stalin knew that allowing free elections would result in election of leaders especially in Poland who would be critical of him as well as the Soviet Union. It is imperative to note that many deaths of citizens in Poland that occurred during the Katyn massacre were directed by Stalin (Stokes 148).

The Soviet Union and her close allies feared the rise of Poland into power having known its history of hostility to one of the prominent revolutions of the Bolshevik and its strength of invasion as was witnessed in the 1920’s when it invaded the soviet territory.

The USSR and her allies were aware that giving Poland an opportunity to conduct free elections was going to offer the latter immense power to rise against them. Rouland indicates that to Stalin, establishing a regime in Poland that would ensure security and spreading his policies, was a strategy that would not provide much needed positive results, because a liberated and democratic Poland would threaten the Soviet Union with an invasion or war (61).

It is against those reasons that Stalin went against his promise to allow nations under the occupation of the Soviet Union to have a free election. History stipulates that it is at this point that the friendship which existed between the USA and the Soviet Union was ruined. Angered and disappointed by the policies of Stalin and his colleagues in Poland and his inability to keep his promise, President Harry Truman declared hostility towards the Soviet Union (Rouland 61). This created what came to be known as the Cold War, and which was later enhanced by possibilities of war and insecurities.

Rivalry between the USA and USSR
Rigden points out that in his leadership during the Great wars and shortly before the Cold War period, Stalin had chosen to use dictatorship ideologies to reform the Soviet Union after the death of Lenin (47).

He posed as a great threat to the western powers through the use of excessive force in a bid to exert power and influence. In addition, Stalin used bureaucracy that ensured high production in the local industries and a stable industrial base. Studies indicate that these immensely changed the state of affairs and forced people to become prisoners of his dictatorship.

It is imperative to point out that Stalin took much of his time and resources to establish alliances with arch-rival states (Rigden 47). Having emerged as a super-power, the Soviet Union was perceived as a potential threat to world peace which triggered conflict.

In his reforms, Rigden further points out that Stalin employed a tactic which was meant to restructure and foster quality control and private ownership of land and other commodities (47). This tactic allowed multicandidate election and as well decentralization of power. This was done to counter the stagnation experience in economy and reduce military spending in Russia.

However, analysts point out that the policy empowered people to openly express their views, hence, criticize him. As such, he brought about radical changes that controlled freedom of speech and expression and which he used .to ensure that conservatives who opposed his reforms were pressured to support him through debates and participation in open forums (Rigden 47).

In his mission to establish close relations with other western countries Stalin resorted to improve trade activities in order to perk up the Soviet’s economy. This offered him chance to establish joint ventures with overseas companies. Needless to say, he aimed to integrate the Soviet nature by liberating it from political imprisonment. He saw the previous political government as an internal exile that discouraged open politics. This attributed to harmonized cultural diversity and religion. It is imperative to point out that by not honoring his promise, Stalin was not only interested in the security that Soviet Union might have lost with the independence of Poland, but also with his own selfish interest of protecting the Soviet Union that was the work of his creation. Parent and MacDonald point out that Stalin was interested in protecting Stalinism, which was of utmost importance and that overrode the need to maintain a good relationship with the west (35).

Indeed, Stalin still considered himself to be at war with capitalism, filled with the notion that the capitalist economies were top face the deadliest economic depression. Studies point out that in 1945, the west, under President Truman strongly reacted to the policies set by Stalin in Poland by stopping all its support to the Soviet Union and expressing massive misgivings about the rivalry between the nations of the world and the Soviet Union (Parent & MacDonald 35).

Matusow posits that the differences that existed between the US and the USSR were because of ideological differences (1036). Earlier on, they had worked together to destroy the Germans and the Hitler’s Nazi. However, their underlying differences are due to their various ideologies and policies made Cold War inevitable.

It is important to point out here that the USA was represented by the capitalist democracy while the USSR was characterized a communist dictatorship. In their separate ideologies, each side believed in its ability to dominate the world, and transform the human race. Besides, Stalin was not pleased with Britain and America’s intervention in the Bolsheviks civil wars of 1918-1921 and helping the whites.

In addition, Stalin hoped that the Germans would be ruined by reparations while he surrounded himself with nations that were friendly to Russia (Matusow 1038). On the other hand, America and Britain claimed the reason for the Second World War was the Nazi-Soviet Pact made in 1939. Besides, they wanted to form partnership with the capitalist Germany to prevent communistic ideas from spreading to the west. These reasons widened the gap between the West and Russia.

Potsdam and Yalta (1945)
During the Yalta conference in 1945, the Second World War was still on and tension was high. In his publication, Lears posits that even though it was clear that Hitler was going to be defeated, signs of conflict were still seen and as such, the allies felt the need for them to organize how they would want Europe to be after the second world was over (13). It is imperative to note that it was easy for the allies to bring to trial all Nazi war criminals and have Russia under the United Nations.

Besides, they also thought that after the war, Germany should be divided into four zones which will be occupied by USSR, USA, France and Britain. However, tensions surrounded their plans on the kind of governments to establish in those regions and in Eastern Europe with special emphasis in Poland.

In July 1945, the allies met in Potsdam after President Roosevelt had died and Hitler had been defeated. Truman was by this time the president of the USA and unlike Roosevelt who liked Stalin, Truman aggressively expressed hid dislike towards communism (Matusow 1036). Therefore, at Potsdam, the tensions that were felt at Yalta come into the open with disagreements about Eastern Europe and reparations. Fulton speech and Salami tactics (1946)
The Eastern Europe communists who were established in Russia had been trained by Stalin during the war played an important role after the Potsdam since they were sent back to their own countries to assume leadership roles (Parent & MacDonald 35). In their own nations, some of them became government ministers and participated in elections. However, during their leadership, they discredited non-communists alongside facilitating their arrests.

These actions made observers in the west to draw close attention to what was happening. It was against this background that in 1946 while in Fulton America, Winston Churchill, a former primer minister of Britain gave a speech where he declared that Eastern Europe was separated by an iron curtain from the free world and was thus subjected to the influence of the Soviet Union, police governments and totalitarian control (Parent & MacDonald 46).

Analysts point out that the speech made by Churchill was in favor of the United Nations and far from anti-communism and anti-internationalism of the fascists (Kovrig 437). This triggered an aggressive response from Stalin who stated that the speech by Churchill was similar to a declaration of war. Stalin indicated that the threat from the capitalist west made conflict inevitable, and were reasons to have the west follow his leadership and policies.

The Marshall plan and the Truman Doctrine (1947-48)
Historical records indicate that the nation of Greece ended up in a stiff civil war which was largely occasioned by British intervention and German occupation (Kovrig 437). The US and the British government offered their strong support to the Greece’s monarchial government. Even though Stalin had promised not to interfere with Greece, a group of Greek communists made forceful attempts to take over the government.

The British soldiers tried to stop them but that did not last as they pulled out forcing Truman to send American soldiers. In March 1947, Truman informed the congress that America had the duty of ensuring that democracy and freedom are preserved in Europe (Kovrig 437). He intended to contain communism and prevent it from spreading and expanding to other regions, a basis that later came to be referred to as the Truman Doctrine.

General George Marshall of America went to Europe in June 1947 with an intention of surveying the level of communist actions and offering assistance to curb their expansion. He claimed that poverty in Europe was a strong factor that was turning even the loyal individuals to communism.

As such, instead of war and military action to fight communism, Marshall recommended that an intervention was to be made in terms of cash for aid that would not only enhance and boost the economy of Europe, but would also ensure that individuals are prosperous. Hollander points out that Marshall argued that free and prosperous people had no reason to turn to the communists for help and support (73).

He, therefore, requested an injection into the European economy, a sum of approximately $17 billion (Hollander 73). This was not well received by the congress until February 1948 when the whole of Czechoslovakia embraced communism and its Prime Minister Masaryk died giving room for Stalinist hard liners to take over that the congress adopted the Marshall plan to assist Europe.

In 1948, the war ceased as the unity between Greece’s communists was affected by the split between Josip Tito of Yugoslavia and Stalin. The split rendered the once strong support to Greece’s resistance by Stalin practically absent. Studies indicate that Stalin ceased his support to keep his word on the agreement that he had made with Churchill (Hollander 73).

Edoho points out that the Cold War in the West is often attributed to the actions by American to fight aggressions by Stalin and defend the freedom of humanity (102). Analysts disagree with him stating that the argument is partly true as it fails to clearly reflect the feelings of Russians and the views of several historians (Lears 13). In fact, it was at Potsdam Truman declared that he was going to be aggressive at Stalin due to the disagreements.

Scholars like Parent and MacDonald argue that Russia did not actually send any of its forces to force eastern European nations to follow communist ideologies, instead, the nations turned to communism of their own accord (35). As already mentioned, Stalin kept his promise to stay away from Greece, but America thought it was wise to bring in military intervention.

The Berlin blockade
The period between the years 1945-48 was marked by efforts from USA and Britain who were trying to re-build Germany. The early conflicts of the Cold War characterized direct confrontations in Eastern Europe and several disagreements between allies over the treatment Germany deserved.

In the early 1947, two zones were created in Germany referred to as Bi-zonia and in 1948 a new currency was introduced (Kovrig 437). Contrary to the efforts by the USA and Britain, Russia was invading factories east of Germany and stripping them of machinery as reparations.

In addition, the Russians blocked access to Berlin by stopping all rail and road traffic into Berlin. Boix points out in his publication that this was an act that Stalin carried out with an aim of protecting the economy of East Germany from the new currency that had earlier been introduced (809). Analysts point out that this move was interpreted by the western powers as a move to starve West Berlin until it surrendered to him.

It is imperative that the move by Stalin to block Berlin provoked tensions and called for war by General Clay who felt that military intervention would lift the blockade. However, Truman was opposed to it, instead ordered that supplies be made by air into West Berlin. This continued until May 1949 when Stalin finally surrendered and reopened the borders (Boix 810).

Consequently, the western allies came in 1949 and set up the North Atlantic Treaty organization (NATO) which was to be a defensive alliance in opposition to Russia. In the same year, France, Britain and America joined their zones to form the West Germany or the Federal Republic of Germany. On the other hand, Stalin formed East Germany also called the German Democratic Republic (Boix 820).

Dwight Eisenhower and the Cold War
The election of Eisenhower as the president of the United States introduced a new and unprecedented era in the United States of real change in domestic and foreign affairs. Unlike his predecessors, Eisenhower was a war hero who was very popular with people due to his homely and natural manner.

In the years following the Second World War, he served as the head of NATO and the army chief of staff before seeking nominations as the republican president. In his publication, Watson posits that Eisenhower shared the same vies on foreign policies that Truman had (59). He regarded the struggles of the communist society as a monolithic force that targeted gaining world supremacy.

The basic commitments of Eisenhower were strong, and were witnessed by the manner in which he increased the reliance of America on shield. It is imperative to point out that the atomic bomb used in the Second World War was a Manhattan project.

Truman, fearing expansion of communists, authorized in 1950 the creation of new weapons and development of more powerful weaponry such as the hydrogen weapon. Eisenhower did it more differently. In an effort to control budget expenditures, he went for the policy of total retaliation. Under his doctrine, he declared that the United States would use atomic weapons should any nation threaten its vital interests.

In actual practice, Eisenhower was cautious when deploying military forces. He resisted calls for him to use nuclear weapons in Indochina during the war that saw Vietnamese communist forces oust the French in 1954 (Parent & MacDonald 40).

In addition, in Taiwan, he failed to fulfill the United States pledge to intervene in fighting the People’s Republic of China which was attacking the Nationalist Chinese Regime. His resistance to use force persisted even in the Middle East Suez Canal where the French and British forces occupied and were invaded by the Israeli in 1956.

Fight against segregation on African Americans and constitutional rule.
Miller points out in his publication that the Cold War period was also characterized by the above mentioned issues, and as such witnessed a serious struggle for equality and against segregation as applied to African Americans (20).

In agreement, studies point out that one such incidence occurred in 1954 by a serious case between Brown and the Board of Education. This was a legal suit against segregation of black student in public schools, and an important indication of the struggle against segregation. This case consolidated the other five similar cases which sought to find out whether the segregations were constitutional or not.

In almost all cases, a federal court denied the presented facts by citing a former case filed by Plessey against Ferguson. But according to a rule that was made later by Judge Warren, the court found and ruled that the segregation of such students was totally unconstitutional (Miller 20).

Miller continues to indicate that in the fall of 1955, the Montgomery bus boycott that led to the revolutionary change in racial segregation in America might have been organized by the soviets (24). After the arrest of Rosa Park, sermons were made to Martin Luther Jr., leaders of the NAACP and church reverends to carry out a protest against her trial and prosecution for failure to give up her sit for a white person on a bus.

The protest, which lasted for one year and approximately one week, was non-violent and totally peaceful. Top counter the protests, the Ku Klux Klan (KKK) movement started violence to intimidate blacks against the boycott but they resisted violence.

After that period, the Supreme Court found out that bus segregation systems were illegal. In 1957, Martin Luther King Junior in collaboration with his followers founded SCLC in Georgia formed an organization to counter segregations. This organization had the intent to coordinate, make assistive efforts to available organizations that were struggling for fairness of African Americans.

With its headquarters in the South, major activities happened in the south but with slight extensions. The organization was responsible for carrying out leadership preparation programs, offering citizen education prospects and sensitizing people on their rights to vote. This organization played a crucial role in the civil rights struggles (Miller 24).

During the same period, crises of segregation erupted in Little Rock School, Kansas that was attributed to the Cold War propaganda.

Hollander posits that the 1954 court ruling on segregation against African Americans triggered a strong resistance from the segregated group that vehemently contested the rulings and started violence campaigns. The President Dwight Eisenhower, the city authorities and the Supreme Court faced accusations linking the actions and Cold War.

It is imperative to note that the court ruling also triggered a mixed feeling that caused certain institutions to admit black student amidst rejections. This triggered violence actions from white students that included mob violence to resist their presence.

Studies indicate that many students of the African American origin were affected by the issues of segregation and propaganda that related them with the communists (Jacoway 45). After two and a half consecutive years of resistance from the white community through violence, the then US president, Eisenhower, gave direction in 1957 for using of troops in Little Rock High School to contain the situation.

The troops had stayed in the school for the whole year but were not effective enough to protect the lives of the endangered students. With continual mistreatments, an intervention by the Supreme Court with an immediate integration order forced the Little Rock High school to observe integration immediate as a requirement of the law, which led to the end of chaos at the school (Jacoway 45).

Race for space supremacy
Newman argues in his publication that in around 1957, many dominant nations competed over supremacy in domination of the space (150). Cold War tensions between the US and the USSR were triggered and enhanced by the great need to dominate the space (150). This was attributed to the USSR developed and launched its first orbital satellite on space which displayed unique abilities of orbiting the earth at a speed of approximately ninety eight minutes.

These steps made America seem to be scientifically, politically and economically inferior thus commencement of a space race between the two countries. After the first launch, the second Sputnik changed space perceptions. Following its show of superiority by launching an impressive sized rocket, the Americans feared the Russians of their capabilities to launch ballistic missiles.

Studies indicate that the years that followed saw the American government approve funding to also commence a space program. Newman posits that this led to the innovation of a space program and equipment known as NASA. Thus NASA was launched with a first launch of Explorer I in the early 1958, which led to a successful discovery of magnetic radiations in space and made America regain confidence in regards to space science and technology.

In 1959, the USSR again made another stunning effort by sending the first probe ever to the moon. This also created a lot of tension in America, questioning its supremacy on space science. The probe by the USSR was successful with documentation on the contents available on the moon (Newman 150).

Improvement of infrastructure and betterment
In 1956, a unanimous decision by Congress agreed to pass the Interstate Highway Act. This act was aimed at constructing a 40,000 mile highway that was to link all states in America to each other and safeguarded a budget worth $25billion and was expected to be completed in a decade’s time. Also at this critical period, the minimum wage per hour in America was raised from seventy five cents to reach the one Dollar par.

According to miller (62) millions of Americans worked in the casual labor industries and their living conditions were worsened by the fact that their wages were close to extreme poverty levels. Treatment on American labor employees was not in accordance with the wage they received. Thus by application from worker unions and presentations by opinion leaders, the Congress was thus forced to take into consideration the pleas of labor workers.

The television influence
In his publication, Hollander indicates that the media played an important role in spreading propaganda and ideologies during the period of the Cold War. In 1955, a great rock concert was held in American which featured a great star Elvis Presley, and who was a great anti-communist.

Having served in the US military in Germany and fought in the Vietnam War, he was well aware of the effects of communism which he countered in some of his songs such as the Suspicious Minds. The concert was televised live and was considered as one of the most memorable moments of American television industry. Television gained more fame and became a medium of judgment on content and personality.

In following year, Elvis Presley’s appearance on national television was highly influenced by political interests. Boix indicates that television greatly influenced political outcomes and ideologies related to capitalism. After an announcement of running for a second time, Eisenhower was shown on television with his competitor Nixon.

During the whole debate, television images depicted Nixon as incompetent, alien and not presidentially focused and favored Eisenhower. The latter was depicted as a character of strong ideologies, convincing, hopeful, focused, confident and highly competitive and was re-elected back to White House.

East-West diplomacy and the Struggle for power
In the mid fifties, exactly in 1955, attempts were made to reconcile national differences between the East and the West. With institutionalizing its East Europe alliances, the Soviet pioneered the signing of a treaty aimed at cooperation, friendship and mutual assistance.

This treaty was similar to previous ones and with inclusion of multilateral alliances gave the soviet more power. Prior to this period, the United States together with its friends came to an agreement on re-arming West Germany and encouraged its entrance into NATO.

The Soviet demanded that allowance be made for a formation of a single state German which would vote as a single block, indicating its immense interest in West Germany. With its power, it pushed to a signing of the Warsaw Pact in 1955. This later led to a formation of a single Germany state.

In the same year, Cold War continued with the Soviet showing proximity support for countries neighboring the USA. For instance, Cuban President Fidel Castro came to power under a sever Coup ’de tat. With immense support from the soviet, he managed to overthrow the then government and ascended to power. This East support was intended at showing the West how powerful and might the USSR can get by supporting immediate neighbor of the latter (smith 13).

Conclusion
To sum up, it is vital to reiterate that the discussion in this paper has largely supported the thesis statement that the period of Cold War between1945-1960 has been considered as one of the toughest times that witnessed increased rivalry and conflict between the USSR and the Western powers.

The discussion has clearly exemplified that different ideologies held by the capitalist west and the communist Soviet Union was one of the factors that precipitated the Cold War era. Moreover, while we may not conclusively argue out that the USSR and western conflicts were solely responsible for Cold War, it is worth to note that the two parties contributed heavily towards the devastating impacts of the war.

In addition, the analysis has strongly indicated that President Eisenhower era during the Cold War was unique bearing in mind that his domestic and foreign policies supported peace, even though he was firm in using atomic weapons if any nation interfered with the interests of the United States of America. In a concluding note though, the paper has summed up the discussion by recapping the events that took place prior and after the fifties that were influenced by the Cold War and its propaganda.

Works Cited
Boix, Carles. “Democracy, development, and the international system”. The American Political Science Review 105.4 (2011): 809-828. Print.

Edoho, Felix. “Globalization and marginalization of Africa: Contextualization of China- Africa Relations”. Africa Today 58.1 (2011): 102-125.Print.

Hollander, Paul. American travelers to the Soviet Union in the Cold War Era. Society 44.3 (2007): 73. Print.

Jacoway, Elizabeth. Turn away thy son: Little Rock, the crisis that shocked the nation. Boston: Wiley, 2007. Print.

Kovrig, Bennett. “Failed Illusions: Moscow, Washington, Budapest, and the 1956 Hungarian revolt”. The International History Review 29.2 (2007): 437. Print.

Lears, Jackson. “American oracle: The uses & abuses of Reinhold Niebuhr”. Commonweal 138.18 (2011): 12-14.Print.

Matusow, Allen. “The admirable radical: Staughton Lynd and Cold War Dissent, 1945- 1970”. The Journal of Southern History 77.4 (2011): 1036-1037.Print.

Miller, Jake. The Montgomery Bus Boycott: Integrating Public Buses. New York: McMillan, Jake Miller, 2004.Print.

Newman, Kitty. Macmillan, Khrushchev and the Berlin crisis 1958-1960. London: Taylor & Francis, 2006.Print.

Parent, Joseph & MacDonald, Paul. “The wisdom of retrenchment: America must cut back to move forward”. Foreign Affairs 90.6 (2011): 32-47.Print.

Rigden, John. “Eisenhower, Scientists, and Sputnik”. Physics Today 60.6 (2007): 47.Print.

Rouland, Michael. “Aircraft of World War I, 1914-1918/Aircraft of the Cold War, 1945- 1991”. Air Power History 58.3 (2011): 61.Print.

Smith, Wayne. The Russians aren’t coming: new Soviet policy in Latin America. New York: Springer, 1992.Print.

Stokes, Lawrence. “How the Cold War began: The Gouzenko affair and the hunt for Soviet spies”. Dalhousie Review 87.1 (2007): 148.Print.

Watson, Garrett. “Matterhorn: A Novel of the Vietnam War”. Air Power History 58.3 (2011): 59. Print.
   </BODY>
</HTML>