<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
There was a box, or chest, of a somewhat singular character, in the house where Lucy lived; it was called the marble box. It was not really made of marble; it was made of wood; but then it was painted marble color, and that was the reason why it was called the marble box.

The marble box had books and playthings in it. It was pretty large, and so it would hold a considerable number. There was a handle at each end, and when Lucy took hold of one handle, and Royal, her brother, of the other, the box was just about as much as they could conveniently carry. The place where the marble box was usually kept, was under a table in the back chamber entry, not far from the head of the stairs.

10There was a lock to the marble box, and Lucy’s mother kept the key. She tied a piece of blue ribbon to the key to mark it, and she kept it hung up under the mantel shelf in her room.

The rule of the marble box was this—that it never was to be opened except when the children were sick,—or, rather, when they were convalescent. When children are attacked with sickness, they do not generally, for a time, wish for any playthings. But, then, when the disease is once subdued, and the pain, or the unpleasant feelings, whatever they may be, have disappeared,—then there is a period, while the patient is recovering his health and strength, which is called the period of convalescence. Now, during convalescence, children are more in need of playthings to interest and occupy their minds than at any other time.

There are various reasons why this is so. In the first place, they cannot usually be allowed to go out of doors; for, after such an attack of sickness, it generally takes some time for the system to become restored to its usual state, so as to bear safely the ordinary exposures. Thus, by being confined to the house, the child is cut off from some of his sources of enjoyment, which makes it more necessary that he should have agreeable books and playthings.

11Then, besides, during convalescence, the mind is not generally in a proper state to engage in study, or in any of the usual duties of life. This is peculiarly the case if the sickness has been severe. We feel weak, and are easily fatigued, and exhausted with exertion, either of mind or body. Consequently the ordinary duties of life are usually suspended during convalescence, and this leaves a large portion of time unoccupied. It is always difficult for mothers to find the means to occupy this time pleasantly, in the case of the convalescence of their children.

There is one more reason why it is desirable to have interesting books and playthings for children, when they are in a state of convalescence; and that is, that the mind is in such a state that it is in some respects more difficult to be interested and amused then than at other times. When recovering from sickness, there is often a kind of lassitude and weariness, which makes the patient indisposed to be long occupied in any one way. Occupations and amusements, which would please him very much at some times, fail altogether now. The common books and playthings, which he is accustomed to use at other times, do not afford him much pleasure now. He very soon gets tired of them.

12For these reasons, Lucy’s mother had often found it very difficult to provide the means of amusing her, and occupying her mind, when she was sick; and still more difficult to do this in the case of Royal. So she told them, one day, that she meant to have a trunk to keep books and playthings in, expressly for this purpose. She looked about the house for a trunk, but she could not find any one, which was not in use. At last, however, she met with this wooden box or chest, which was about as large as a trunk; and she said that that would do very well indeed. Royal helped her to bring it down stairs.

It was one day when Royal had been sick with the croup, that his mother first formed the plan of such a box; and she wanted to amuse and occupy him then, as well as to prepare to do it at future times, when he should be sick. So she proposed to him to take the chest into the kitchen, and line the inside of it with blue paper, so as to make it look neat and pretty within. She brought him some blue paper in large sheets; Joanna made him some paste; and then he pasted the blue paper in.

It took all the afternoon to line the box; and in the evening, when Royal’s father came home, Lucy brought him out into the kitchen to see it.13 It was then almost dry, and was lying down upon its side, not a great way from the kitchen fire. Lucy wanted to place it nearer; but Royal said that there was danger, if it was placed too near, that the heat would warp the wood, and so spoil the box.

“What do you think of our plan, father?” said Royal.

“I think it is a very excellent plan, indeed,” said his father. “I should like to have had a share in the execution of such an excellent plan myself.”

“What do you mean by that, father?” asked Lucy.

“Why, that I should have liked to have done something myself about this box. Mother formed the plan and found the box, and Royal has lined it. Joanna made the paste, and you,—you have done something, I suppose.”

“Yes, father,” said Lucy, “I held down the corners of the great sheets, while Royal was pasting them.”

“Yes,” rejoined her father, “all have helped excepting me.”

“Well, father,” said Royal, “I wish you would make us a till.”

14“A till,” repeated his father; “what kind of a till?”

“Why, a till here in the side,” said Royal, “to keep the small things in.”

Royal explained more fully to his father what he meant by a till; and his father said that he would see if he could make one; and that he would go to work upon it that very evening, after tea.

Accordingly, about an hour after this conversation, they all came out into the kitchen to see the process of making the till. Royal and Lucy set out the table, and put the box upon the back side of it. Their mother brought her work, and took her seat upon the side opposite to the one where the children had placed a chair for their father.

“What do you suppose father is going to make the till of, Royal?” asked Lucy.

“Of boards,” said Royal.

“O Royal!” exclaimed Lucy; “boards are too heavy.”

“I mean very thin boards,” said Royal, “very thin indeed.”

But just at this time their father came into the room with a large, smooth board under his arm. The board was about as large as the top of the15 box; and it was pretty thick and heavy. He brought this board, and placed it down upon the table.

“O father,” said Royal, “are you going to make our till of such a great, heavy board as this?”

“Not of it, but on it,” replied his father.

“What do you mean by that, sir?” said Lucy.

“Why, I am going to make your till of pasteboard; and I am going to cut it out upon this smooth board.”

He then went out again, and presently returned bringing with him a large sheet of very thick pasteboard. He laid the pasteboard down upon the board, and then, after measuring upon the box, he marked out a square upon it, as long as the box was wide; and as it was a square which he marked out, it was, of course, as wide as it was long.

“What is that for, father?” said Lucy.

“That is for the bottom of your till,” replied her father.

He then took a large pair of dividers, which he had brought with him, and began to mark and measure in various ways, so that Lucy could not understand at all what he was doing.

Presently he said,—

16“Should you prefer to have a fixed, or a sliding till, children?”

“O, a sliding till,” said Royal; “let’s have a sliding till, Lucy. But, father,” he continued, after a moment’s pause, “what is a sliding till?”

“How do you know that you should like a sliding till, if you do not know what it is?” asked his father.

“Why, I am pretty sure,” said Royal, “that I should like a till that would slide. But I never saw one that would slide. They are almost always fastened in at the end.”

Royal was correct in this statement. The till of a chest is commonly a shallow box passing across the end of it, near the top, and is usually fastened to its place. But there is an inconvenience in having it fastened, unless it is made quite small; for, if it is large, it covers and conceals the things which are below it, in the bottom of the chest.

Now, Lucy’s father wanted to make his till pretty large. He cut it out square, as long, each way, as the width of the marble box. Now, as the marble box was about twice as long as it was wide, it follows that the till was large enough to cover one half of the upper part of the box. If, therefore, it had been fixed into its place, it would17 have been inconvenient on account of its covering and concealing the things beneath it, and making it difficult to get them out. So Royal’s father concluded to make it movable.

The arrangement which he adopted to secure this object was this: He brought in two strips of wood, which he cut off so as to make them just as long as the box itself, inside. He then bored two holes in each of these strips, and, by means of some little screws, he screwed them to the sides of the box, within, about three inches from the top. Royal and Lucy watched their father very intently while he was doing this; but they did not ask any questions. They thought that it might interrupt him, and disturb his calculations, if they were to ask him questions; so they preferred to look on and observe for themselves.

“Now I understand,” said Royal, when his father was screwing on the second strip.

“What?” said Lucy. “What is it? Tell me.”

“Why, these strips are for the till to slide on. Father is going to make a till, and put it in there, and let it rest upon those strips. Those must be the sliders for the till to slide upon. Isn’t it so, father?”

His father did not answer, but went on with his work.

18“It must be so, I know,” said Royal; “and it is an excellent plan. I like a sliding till a great deal better than one that’s nailed in, so that you can’t move it.”

When Royal’s father had got the sliders secured in their proper places, he began to work again upon the till itself.

“Father,” said Lucy, “why did not you finish the till before you made the sliders? You very often tell us that we must always finish one thing before we begin another.”

“Did I say always?” asked her father, “or generally?”

“Always, I believe, father,” said Lucy, pausing a moment, as if trying to think. “Yes, I believe you said always.”

“Then I made a mistake,” said her father; “I ought to have said generally: it is a good general rule, but there are some exceptions. There are very few rules which have not some exceptions.”

While this and similar conversation was going forward, Lucy’s father continued industriously at work upon the till. He cut out a piece of pasteboard of such a shape that there was a large, square piece for a bottom in the middle, and side pieces all around. He then carefully folded up19 the sides, and the pasteboard thus assumed the form of a box.

“Now,” said Royal, “how are you going to fasten the sides up in their places?”

“Why, mother can sew them,” said Lucy.

“No,” replied her father, “that will not do very well; for the stitches would show through the paper that I am going to cover the till with. Besides, it would be very hard indeed to sew such stiff, thick pasteboard as this is.”

“The paper will hold it,” said Royal. “When it is all covered over with blue paper, pasted down strong, that will hold the sides together in their places.”

“No,” said his father, “not strong enough. The paste would hold; but then the paper itself would break away at the corners, after a time, and so the till would be spoiled.”

“How shall you do it, then?” asked Lucy.

“You’ll see,” replied her father.

By observing him continually, the children did see. Their father took some strips of cotton cloth, and pasted them over the corners, turning the edges over inside of the box, and pasting them down smooth. Then he covered the whole with blue paper, just as Royal had lined the inside of20 the box; and when this work was completed, the till was done.

He then put the till carefully into the box, and let it rest upon the sliders. He showed the children, too, how it would slide along from one end to the other.

“Let me slide it,” said Lucy.

“Very carefully,” said her father, “for it is not dry yet.”

“And will it tear, now that it is not dry?” said Lucy.

“Perhaps it may not tear, but it will easily get bent out of shape. To-morrow you can slide it as much as you please.”

The top of the till was just level with the top of the chest, so that the lid would shut down tight, just as if there was no till in it. So Lucy’s father shut the lid down when it was all ready, and told the children that they might put the box away.

“We call it the marble box,” said Lucy.

“I should think you had better call it the convalescent box,” said her father, “since it is to be kept exclusively for cases of convalescence.”

“What does that mean, sir?” said Lucy.

“Convalescence means getting well,” replied her father, “after you have been sick. So I21 should think that that would be the most appropriate name. It is not really a marble box.”

“No, sir,” said Lucy; “only it looks like marble, and so we call it the marble box.”

“Yes, sir,” said Royal; “and, besides, I don’t think that convalescent box would be a very good name, for that would mean that the box itself was getting well,—whereas, in fact, it is only the children.”

“True,” replied his father; “that is an objection. But let me see; I believe we do use descriptive epithets in that way.”

“Descriptive epithets,” repeated Royal; “what are descriptive epithets?”

“Why, the word convalescent,” replied his father, “is an epithet. It is applied to box, in order to describe it; and so it is called a descriptive epithet.”

“Then I think,” said Royal, “that it ought to describe the box, and not the persons that are to use it; or else it is not a good descriptive epithet.”

“So should I,” added Royal’s mother.

“But I believe we do use epithets in that way. For example, we say a sick room; but we don’t mean that the room is sick, but only the persons that are in it. And so we say a long and weary22 road; but it is not the road that is weary but only the people that travel it.”

“It is the road that is long,” said Royal.

“Yes,” replied his father, “but not weary.”

“But perhaps,” said Lucy’s mother, “all such expressions are incorrect.”

“No,” said her father; “usage makes them correct. There is no other rule for good English than good usage.”

“Very well, then,” said Lucy’s mother; “I’ll call it the convalescent box; and I think it will be a very convenient box indeed.”

They did no more about the box that evening; for it was now time for the children to go to bed. The next day, however, they made some rules for the box, which Royal wrote out in a very plain hand, and pasted upon the under side of the lid. They were as follows:—

“Rules.

“1. This box must not be opened for Royal or Lucy, unless they have been sick enough to have to take medicine.

“2. It must be shut and locked again, the first time they are well enough to go out of doors.

“3. The playthings and books must always be23 put back in good order, and the key given to mother.”

When Royal had pasted the paper containing a copy of the rules into its place, he and Lucy began to look around the house to find books and playthings to put into it. Lucy said that she meant to go and ask her mother what she had better put in.

“What do you think, mother,” said she, “that we had better put into the marble box?”

“That is rather a hard question to settle,” her mother replied. “You want very interesting books and playthings when you are sick; but then all that you put in will be entirely lost to you while you continue well; for you know the box is never to be opened when you are well.”

“Would you put in my little paint-box, mother?” asked Lucy.

“Why, no,” answered her mother, “I think I should not; for you often want to use your paint-box when Marielle comes to see you.”

“Well, at any rate,” said Royal, “we will put in all our little pictures; for we don’t care much about pasting pictures, except when we can’t go out of doors.”

They accordingly collected all their loose pictures,24 and old, worn-out picture-books, such as they were accustomed to cut the pictures out of, to make new picture-books with of their own. They also had a number of pieces of marble paper, and gilt paper, and other kinds of paper, of various colors, which they were accustomed to use for making little pocket-books, and wallets, and portfolios. These they tied up neatly together, and laid in the bottom of the box.

Then they selected a number of books, such as they thought they could best spare, and placed them in two rows in the bottom of the box, across the end. They also put in a number of playthings, the large ones below, and the smaller ones in the till. When all was ready, they locked it up, and gave their mother the key.

That night, however, when their father came home, the marble box had to be opened again a moment, to put in two parcels which he brought. One looked as if it had books in it, and the other something of an irregular shape. Their father would not tell them what was in the parcels. He only said it was something to amuse convalescents, whenever there should be any. He then locked up the box again immediately, and gave the key to the children, to be carried to their mother.

That evening Lucy said to Royal,—“Royal, how long do you think it will be before you or I shall be sick?”

“I don’t know,” said Royal. “Why?”

“Because,” said Lucy, “only I should like to open our marble box.”

26
CHAPTER II.
METAPHYSICS.
Notwithstanding their father’s recommendation of the name convalescent box, the children continued to call it the marble box. Lucy said that that name was a great deal easier, and she thought it was prettier, besides. For some time after this, therefore, the children were accustomed to call it by one name, and the parents by the other. Whatever might be its name, however, it was found to answer a very excellent purpose. It continued to be used, according to the rules pasted upon its lid; and as, in consequence, it was not opened very often, and as new books and playthings were frequently put into it, it came to be a very valuable resource when the children were confined to the house by indisposition; so much so that Lucy’s mother said that she thought it would be an excellent plan for every family to have a convalescent box.

One time, when Lucy had been sick,—long after the convalescent box was made, and in fact,27 after it had been used a great many times,—she carried a little cricket up to it, in the back entry, and sat down before it, and began to read. Royal had helped her first to move it out near a window. It was placed with one end towards the window, and the lid was turned back against a chair which she had placed behind it. She had also placed another chair before it, in such a way that, when she was sitting upon her cricket, she could lay her book in this chair, using it as a sort of table. When Royal had helped her move out the great box, he had gone down into the yard to play, leaving her to arrange the other things herself.

Accordingly, when they were all arranged, Lucy asked Royal if he would not come up and see her study.

“Yes,” said Royal, “I will come.”

So Royal went up stairs again, to see Lucy’s study, as she called it. He found her seated upon the cricket, with a picture-book open before her upon the chair.

“Well, Lucy,” said Royal, “I think you have got a very good study. What are you reading?”

“I am reading stories,” answered Lucy.

“What stories?” said Royal.

“One is about a parrot,” replied Lucy; “and28 there are some others which I am going to read after I have finished this.”

“But I think,” said Royal, “that you had better come down and play with me, behind the garden.”

The fact was, that Royal was going to make a little ship. He was going to work upon it at a seat in a shady place beyond the garden, and he wanted some company.

“Come, Lucy,” said he, “do go.”

“But I don’t think that mother will let me go out yet,” replied Lucy. “I have not got well enough to go out.”

“I’ll run and ask her,” said Royal.

Lucy called to him to stop, but he paid no attention to her call. She did not want to have him go and ask her mother; for, even if her mother would consent, she did not wish to go out. She did not assign the true reason. The true reason was, that she was interested in the story about a parrot, that could say, “Breakfast is ready; all come to breakfast,”—and she did not wish to leave it. Her fear that her mother would not allow her to go out was, therefore, not the true reason. It was a false reason.

People very often assign false reasons, instead29 of true ones, for what they do, or are going to do. But it is very unwise to do this. They very often get into difficulty by it. Lucy got into difficulty in this case; for, in a few minutes, Royal came back, and said that his mother sent her word that she might go out, if she chose, and stay one hour.

Thus the false reason which Lucy gave for not going with Royal, was taken away, and yet she did not want to go; but then she was embarrassed to know what to say next. That is the way that persons often get into difficulty by assigning reasons which are not the honest and true reasons; for the false reasons are sometimes unexpectedly removed out of the way, and then they are placed in a situation of embarrassment, not knowing what to say next. It is a great deal better not to give any reasons at all, than to give those which are not the ones which really influence us, but which we only invent to satisfy other persons.

When Royal told Lucy that her mother was willing to have her go out, she hesitated a moment, and then she said,—

“Well, Royal, if I go out now, I must shut and lock the marble box; and then we cannot open it again till the next time we are sick; and that may be a great while.”

30“Well,” said Royal, “and suppose it is.”

“Why, then I shall have to wait a great while before I can hear the rest about the parrot.”

“O, never mind the parrot,” said Royal; “I will tell you some stories that will be prettier than that is, a great deal, I dare say.”

“What kind of a story will it be?” said Lucy.

“O, I don’t know,” answered Royal. “What sort of a story should you like?”

“I don’t know much about the different kinds,” said Lucy. “How many different kinds of stories are there?”

“Come with me,” replied Royal, “and I will tell you. I can tell you all about it, while I am making my ship.”

“But I wish you would tell me a little about it now,” said Lucy, “and then I can decide better whether to come or not.”

“Well,” said Royal, “there are three kinds of stories—true stories, probable stories, and extravagant stories.”

“Which is the best kind?” said Lucy. “I expect true stories.”

“Why, I don’t know,” said Royal. “If you will come with me, I will tell you one of each kind, and then you can judge for yourself.”31

32
“She looked out at the window, and saw Royal walking along through the garden.”—Page 33
33“Well, Royal,” said Lucy, as she saw that he was going away, “just tell me what sort of stories extravagant stories are.”

“Why, they are a very queer sort of stories indeed; you’ll know when you come to hear one.”

So saying, Royal went away, leaving Lucy in much perplexity of mind. She thought that she would just finish the story of the parrot, and that she would then go and hear Royal’s stories. But she could not read very fast, and her mind was distracted with wondering what sort of a story an extravagant story could be.

She looked out at the window, and saw Royal walking along through the garden. She wished very much that it was consistent with the rules of the marble box for her to go out and play with Royal an hour, and then come back and finish her story; but she knew that it was not.

Finally, her curiosity to hear the extravagant story triumphed, and she accordingly put the books away into the box, returned the till into its place, which she had taken out in order to gain more easy access to the books below, and then shut the lid and locked it. She was not strong enough to put the box back, where it belonged, without Royal; but she put away all the other furniture very carefully, and then went down stairs.

34She carried the key to her mother, and said, “Here, mother, here is the key. I am going out to play with Royal. He is going to tell me an extravagant story.”

“An extravagant story!” repeated her mother, with some surprise; “what sort of a story is that?”

“I don’t know,” replied Lucy; “only Royal is going to tell me one.”

Her mother laughed, saying that she should like to hear one of Royal’s extravagant stories; and then Lucy walked away.

Lucy walked through the garden, and then climbed over the stile at the foot of it; and when at the top of the stile, she saw Royal sitting at a little distance in a shady place near some rocks.

“Ah, Lucy,” said he, when he saw her, “I am very glad that you have come; I want you very much. Come, run.”

Lucy descended from the stile, and walked along towards Royal pretty fast, but she did not run.

Royal was tying a knot, about his rigging; and he wanted Lucy to put her finger on to hold the first tie, until he secured it by a second. So he sat still, holding the ends of the thread, and waiting for Lucy to come.

“Why don’t you run, Lucy? Here I am waiting35 all this time,—while you are coming along so slow.”

“No,” rejoined Lucy, “I am not coming along slow. I am walking as fast as I can.”

“Walking!” repeated Royal; “well, that is coming slow. There, put your finger on there while I tie again.”

Lucy put her finger upon the place, saying, at the same time, that she did not think that all walking was slow. “I can walk very fast indeed,” she added.

“But I don’t see why you could not have run a little,” said Royal.

“Because,” said Lucy, “it is not proper for sick persons to run. I have not got well enough yet to run.”

Royal laughed aloud and heartily at this,—while Lucy looked disturbed and troubled. They came very near getting into a serious disagreement on this subject. They were both partly in the wrong. Royal ought not to have required Lucy to run to him, in that absolute manner, as if he had any right to claim that she should do it. But, then, on the other hand, when Lucy saw that Royal was in haste to have her come quick, and do something for him, she ought to have had the kindness to have run. She was mistaken in36 supposing that her being sick was the reason; for, in about half an hour after this, when Royal went away to sail his vessel, she ran after a black butterfly, with yellow spots, for a considerable distance.











</p>
</body>
</html>


