<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
MORNING

Early one winter morning, while Jonas was living upon the farm, in the employment of Oliver's father, he came groping down, just before daylight, into the great room.

The great room was, as its name indicated, quite large, occupying a considerable portion of the lower floor of the farmer's house. There was a very spacious fireplace in one side, with a settle, which was a long seat, with a very high back, near it. The room was used both for kitchen and parlor, and there was a great variety of furniture in different parts of it. There were chairs and tables, a bookcase with a desk below, a loom in one corner by a window, and a spinning-wheel near it. Then, there were a great many doors. One led out into the back yard, one up stairs, one into a back room,—which was used for coarse work, and which was generally called the kitchen,—and one into a large store closet adjoining the great room.

Jonas groped his way down stairs; but as soon as he opened the great room door, he found the room filled with a flickering light, which came from the fireplace. There was a log there, which had been buried in the ashes the night before. It had burned slowly, through the night, and the fire had broken out at one end, which now glowed like a furnace, and illuminated the whole room with a faint red light.

Jonas went up towards the fire. The hearth was very large, and formed of great, flat stones. On one side of it was a large heap of wood, which Jonas had prepared the night before, to be ready for his fire. On the other side was a black cat asleep, with her chin upon her paws. When the cat heard Jonas coming, she rose up, stretched out her fore paws, and then began to purr, rubbing her cheeks against the bottom of the settle.

"Good morning, Darco," said Jonas. "It is time to get up."

The cat's name was Darco.

Jonas took a pair of heavy iron tongs, which stood by the side of the fire, and pulled forward the log. He found that it had burned through, and by three or four strokes with the tongs, he broke it up into large fragments of coal, of a dark-reddish color. The air being thus admitted, they soon began to brighten and crackle, until, in a few minutes, there was before him a large heap of glowing and burning coals. He put a log on behind, then placed the andirons up to the log, and a great forestick upon the andirons. He placed the forestick so far out as to leave a considerable space between it and the backlog, and then he put the coals up into this space,—having first put in a slender stick, resting upon the andirons, to keep the coals from falling through. He then placed on a great deal more wood, and he soon had a roaring fire, which crackled loud, and blazed up into the chimney.

"Now for my lantern," said Jonas.

So saying, he took down a lantern, which hung by the side of the fire. The lantern was made of tin, with holes punched through it on all sides, so as to allow the light to shine through; and yet the holes were not large enough to admit the wind, to blow out the light.

Jonas opened the lantern, and took out a short candle from the socket within. Just as he was lighting it, the door opened, and Amos came in.

"Ah, Jonas," said he, "you are before me, as usual."

"Why, the youngest hand makes the fire, of course," said Jonas.

"Then it ought to be Oliver," said Amos,—"or else Josey."

"There! I promised to wake Oliver up," said Jonas.

"O, he's awake; and he and Josey are coming down. They have found out that there is snow on the ground."

"Is there much snow?" asked Jonas.

"I don't know," said Amos; "the ground seems pretty well covered. If there is enough to make sledding, you are going after wood to-day."

"And what are you going to do?" said Jonas.

"I am going up among the pines to get out the barn frame, I believe."

Here a door opened, and Oliver came in, followed by Josey shivering with the cold, and in great haste to get to the fire.

"Didn't your father say," said Amos to Oliver, "that he was going with me to-day, to get out the timber for the barn frame?"

"Yes," said Oliver, "he is going to build a great barn next summer. But I'm going up into the woods with Jonas, to haul wood. There's plenty of snow."

"I'd go too," said Josey, "if it wasn't so cold."

"It won't be cold in the woods," said Jonas. "There's no wind in the woods."

While they had been talking thus, Jonas had got his lantern ready, and had gone to the door, and stood there a minute, ready to go out.

"Jonas," said Josey, "are you going out into the barn?"

"Yes," said Jonas.

"Wait a minute, then, for me, just till I put on my other boot."

Jonas waited a minute, according to Josey's request, and then they all went out together.

They found the snow pretty deep, all over the yard, but they waded through it to the barn. They had to go through a gate, which led them into the barn-yard. From the barn-yard they entered the barn itself, by a small door near one corner.

There were two great doors in the middle of the barn, made so large that, when they were opened, there was space enough for a large load of hay to go in. Opposite these doors there was a space floored over with plank, pretty wide, and extending through the barn to the back side. This was called the barn floor. On one side was a place divided off for stables for the horses, and on the other side was the tie-up, a place for the oxen and cows. There was also the bay, and the lofts for hay and grain; and at the end of the tie-up there was a door leading into a calf-pen, and thence, by a passage behind the calf-pen, to a work-shop and shed. The small door where the boys came in, led to a long and narrow passage, between the tie-up and the bay.

They walked along, Jonas going before with his lantern in his hand. The cattle which had lain down, began to get up, and the horses neighed in their stalls; for the shining of the lantern in the barn was the well-known signal which called them to breakfast.

Jonas clambered up by a long ladder to the hay-loft, to pitch down some hay, and Josey and Oliver followed him; while Amos remained below to "feed out" the hay, as he called it, as fast as they pitched it down. It was pretty dark upon the loft, although the lantern shed a feeble light upon the rafters above.

"Boys," said Jonas, "it is dangerous for you to be up here; I'd rather you'd go down."

"Well," said Oliver, and he began to descend.

"Why?" said Josey; "I don't think there's any danger."

"Yes," said Jonas, "a pitchfork wound is worse than almost any other. It is what they call a punctured wound."

"What kind of a wound is that?" said Josey.

"I'll tell you some other time," said Jonas. "But don't stay up here. You don't obey so well as Oliver. Go down and give the old General some hay."

The old General was the name of a large white horse, quite old and steady, but of great strength. When he was younger, he belonged to a general, who used to ride him upon the parade, and this was the origin of his name.

Josey, at this proposal, made haste down the ladder, and began to put some hay over into the old General's crib. He then went round into the General's stall, and, patting him upon the neck, he asked him if his breakfast was good.

In the mean time, Oliver opened the great barn doors, and, taking a shovel, he began to clear away the snow from before them. The sky in the east was by this time beginning to be quite bright; and a considerable degree of light from the sky, and from the new-fallen snow, came into the barn. Josey got a shovel, and went out to help Oliver. After they had shoveled away the snow from the great barn doors, they went to the house, and began to clear the steps before the doors, and to make paths in the yards. They worked in this way for half an hour, and then, just as the sun began first to show its bright, glittering rays above the horizon, they went into the house. They found that the great fire which Jonas had built, was burnt half down; the breakfast-table was set, and the breakfast itself was nearly ready.

The boys came to the fireplace, to see what they were going to have for breakfast.

"Boys," said the farmer's wife, while she was turning her cakes, "go and call Amos in to family prayers,—and Jonas."

"You go, Oliver," said Josey.

Oliver said nothing, but obeyed his mother's direction. He went into the barn-yard, and he found Amos and Jonas at work in a shed beyond, getting down a sled which had been stowed away there during the summer. It was a large and heavy sled, and had a tongue extending forward to draw it by.

"What are you getting out that sled for?" said Oliver.

"To haul wood on," said Jonas. "We're going to haul wood after breakfast, and I want to get all ready."

There was another smaller and lighter sled, which had been upon the top of the heavy one, before Amos and Jonas had taken it off. This smaller sled had two shafts to draw it by, instead of a tongue. Jonas knew by this, that it was intended to be drawn by a horse, while the one with a tongue was meant for oxen.

"Oliver," said Jonas, "I think it would be a good plan for you and Josey to take this sled and the old General, and go with me to haul wood."

"Well," said Oliver, "I should like it very much."

"We can all go up together. You and Josey can be loading the horse-sled, while I load the ox-sled, and then we can drive them down, and so get two loads down, instead of one."

"Well," said Oliver, "I mean to ask my father."

"Or perhaps," continued Jonas, "you can be teamster for the oxen, and Josey can drive the horse, and so I remain up in the woods, cutting and splitting."

"No," said Oliver, "because we can't unload alone."

"No," said Jonas; "I had forgotten that."

"But I mean to ask my father," said Oliver, "to let me have the old General, and haul a load down when you come."

So saying, the boys walked along towards the house. The sun was now shining beautifully upon the fresh snow, making it sparkle in every direction, all around. They walked in by the path which Oliver and Josey had shoveled.

"Why didn't you make your path wider?" said Amos. "This isn't wide enough for a cow-path."

"O, yes, Amos," said Jonas, "it will do very well. I can widen it a little when I come out after breakfast."

When they got to the door, Jonas stopped a moment to look around. The fields were white in every direction, and the branches of the trees near the house were loaded with the snow. The air was keen and frosty, and the breaths of the boys were visible by the vapor which was condensed by the cold. The pond was one great level field of dazzling white. All was silent—nothing was seen of life or motion, except that Darco, who came out when the door was opened, looked around astonished, took a few cautious steps along the path, and then, finding the snow too deep and cold, went back again to take her place once more by the fire.





CHAPTER II.

COMMANDING AND OBEYING

About an hour after breakfast, Jonas with the oxen, and Oliver and Josey with the horse, were slowly moving along up the road which led back from the pond towards the wood lot. The wood lot was a portion of the forest, which had been reserved, to furnish a supply of wood for the winter fires. The road followed for some distance the bank of the brook, which emptied into the pond at the place where Jonas and Oliver had cleared land, when Jonas first came to live on this farm.

It was a very pleasant road. The brook was visible here and there through the bushes and trees on one side of it. These bushes and trees were of course bare of leaves, excepting the evergreens, and they were loaded down with the snow. Some were bent over so that the tops nearly touched the ground.

The brook itself, too, was almost buried and concealed in the snow. In the still places, it had frozen over; and so the snow had been supported by the ice, and thus it concealed both ice and water. At the little cascades and waterfalls, however, which occurred here and there, the water had not frozen. Water does not freeze easily where it runs with great velocity. At these places, therefore, the boys could see the water, and hear it bubbling and gurgling as it fell, and disappeared under the ice which had formed below.

At last, they came to the wood lot. The wood which they were going to haul had been cut before, and it had been piled up in long piles, extending here and there under the trees which had been left. These piles were now, however, partly covered with the snow, which lay light and unsullied all over the surface of the ground.

The sticks of wood in these piles were of different sizes, though they were all of the same length. Some had been cut from the tops of the trees, or from the branches, and were, consequently, small in diameter; others were from the trunks, which would, of course, make large logs. These logs had, however, been split into quarters by a beetle and wedges, when the wood had been prepared, so that there were very few sticks or logs so large, but that Jonas could pretty easily get them on to the sled.

Jonas drove his team up near to one end of the pile, while Josey and Oliver went to the other, where the wood was generally small. While Jonas was loading, he heard a conversation something like this between the other boys:—

"Let's put some good large logs on our sled," said Josey.

"Well," said Oliver, "as large as we can; only we'd better put this small wood on first."

"I wish you'd go around to the other side, Oliver," said Josey again; "you're in my way."

"No," said Oliver, "I can't work on that side very well."

"Then I mean to move the old General round a little."

"No," said Oliver, "the sled stands just right now; only you get up on the top of the pile, and I'll stay here." "No," said Josey, "I'd rather stand here myself."So the boys continued at work a few minutes longer, each being in the other's way.

At length, Josey said again,—

"O, here is a large log, and I mean to get it out, and put it upon our sled."

The log was covered with smaller wood, so that Josey could only get hold of the end of it. He clasped his hands together under this end, and began to lift it up, endeavoring to get it free from the other wood. He succeeded in raising it a little, but it soon got wedged in again, worse than before.

"Come, Oliver," said Josey, "help me get out this log. It is rock maple."

"No," said Oliver, "I'm busy."

"Jonas," said Josey, calling out aloud, "Jonas, here's a stick of wood, which I can't get out. I wish you'd come and help me."

In answer to this request, Jonas only called both the boys to come to him.

They accordingly left the old General standing in the snow, with his sled partly loaded, and came to the end of the pile, where Jonas was at work.

"I see you don't get along very well," said Jonas.

"Why, you see," said Josey, "that Oliver wouldn't help me put on a great log."

"The difficulty is," said Jonas, "that you both want to be master. Whereas, when two people are working together, one must be master, and the other servant."

"I don't want to be servant," said Josey.

"It's better to be servant on some accounts," said Jonas; "then you have no responsibility."

"Responsibility?" repeated Josey.

"Yes," said Jonas. "Power and responsibility always go together;—or at least they ought to. But come, boys, be helping me load, while we are settling this difficulty, so as not to lose our time."

So the boys began to put wood upon Jonas's sled, while the conversation continued as follows:—

"Can't two persons work together, unless one is master, and the other servant?" asked Josey.

"At least," replied Jonas, "one must take the lead, and the other follow, in order to work to advantage. There must be subordination. For you see that, in all sorts of work, there are a great many little questions coming up, which are of no great consequence, only they ought to be decided, one way or the other, quick, or else the work won't go on. You act, in your work, like Jack and Jerry, when they ran against the horse-block."

"Why, how was that?" said Josey.

"They were drawing the wagon along to harness the horse in, and the horse-block was in the way; so they both got hold of the shafts, and Jack wanted to pull it around towards the right, while Jerry said it would be better to have it go to the left. So they pulled, one one way, and the other the other, and thus they got it up chock against the horse-block, one shaft on each side. Here they stood pulling in opposition for some time, and all the while their father was waiting for them to turn the wagon, and harness the horse."

"What did he say to them," said Oliver, "when he found it out?"

"He made Jack bring it round Jerry's way, and then made Jerry draw it back again, and bring it along Jack's way.

"When men are at work," continued Jonas, "one acts as director, and the rest follows on, as he guides. Then all the unimportant questions are decided promptly."

"Well," said Josey, "let us do so, Oliver. I'll be director."

"How do they decide who shall be director?" said Oliver.

"The oldest and most experienced directs, generally; or, if one is the employer, and the others are employed by him, then the employer directs the others. If a man wants a stone bridge built, and hires three men to do it, there is always an understanding, at the beginning, who shall have the direction of the work, and all the others obey.

"So," continued Jonas, "if a carpenter were to send two of his men into the woods to cut down a tree for timber, without saying which of them should have the direction,—then the oldest or most experienced, or the one who had been the longest in the carpenter's employ, would take the direction. He would say, 'Let us go out this way,' and the other would assent; or, 'I think we had better take this tree,' and the other would say, perhaps, 'Here's one over here which looks rather straighter; won't you come and look at this?' But they would not dispute about it. One would leave it to the other to decide."

"Suppose," said Josey, "one was just as old and experienced as the other."

"Why, if there was no reason, whatever, why one should take the lead, rather than the other, then they would not either of them be tenacious of their opinion. If one proposed to do a thing, the other would comply without making any objection, unless he had a very decided objection indeed. So they would get along peaceably.

"Now," continued Jonas, "boys are very apt to have different opinions, and to be very tenacious of them, and so get into disputes and difficulties when they are working together. Therefore, when boys are set to work, it is generally best to appoint one to take charge; for they haven't, generally, good sense enough to find out, themselves, which it is most proper should be in charge.

"For instance, now," continued Jonas, "which of you, do you think, on the whole, is the proper one to take the direction of the work, when you are set to work together?"

"I," said Josey, with great promptness.

Oliver did not answer a tall.

"There's one reason why you ought not to be the one," said Jonas.

"What is it?" said Josey.

"Why, you don't obey very well. No person is well qualified to command, until he has learned to obey."

"I obey," said Josey, "I'm sure."

"Not always," said Jonas. "This morning, when you were upon the haymow, and I told you both to go down, Oliver went down immediately; but you remained up, and made excuses instead of obeying."

Josey was silent. He perceived that Jonas's charge against him was just.

"Besides," continued Jonas, "there are some other reasons why Oliver should command, rather than you. First he understands more of farmer's work, being more accustomed to it; secondly, he is older."

"No," interrupted Josey, "he isn't older. I'm the oldest."

"Are you?" said Jonas.

"Yes," replied Josey. "I'm two months older than he is."

Oliver had so much more prudence and discretion, and being, besides, a little larger than Josey, made Jonas think that he was older.

"Well," said Jonas, "at any rate, he has more judgement and experience, and he certainly obeys better. So you may go back to your work, and let Oliver take the command, and then, after a little while, if Oliver says that you have obeyed him well, I'll try the experiment of letting you, Josey, command."

The boys accordingly went back, and finished loading up the old General. Oliver took the direction, and Josey obeyed very well. Now and then he would forget for a moment, and begin to argue; but Josey would submit pretty readily, for he was very desirous that Jonas would let him command next time; and he thought that he would not allow him to command until he had learned to obey.

They had the two sleds loaded nearly at the same time, and then went down. When they were going back after the second load, they all got on to Jonas's sled, which was forward, to ride, leaving the old General to follow with his sled. He was so well trained that he walked along very steadily. Oliver fastened the reins to one of the stakes, so that they should not get down under the horse's feet. The boys all got together upon the forward sled, in order that they might talk with one another as they were going back to the woods.

"Now, Josey," said Jonas, "we will let you have the command for the next trip, and, while we are going back, I will give you both some instructions."

"About obeying?" said Josey.

"Yes, and about commanding too," said Jonas. "It requires rather more skill to know how to command, than how to obey; to know how to direct work, than to know how to execute it. A good director, in the first place, takes care to plan wisely, and he feels a responsibility about the work, and a desire to have it go on to good advantage. If some men build a way, and, after it is finished, it tumbles down, the man who had charge of the work would feel more concerned about it than any of the others, because the chief responsibility comes upon him. So with your work,—if you have the command, and you and Oliver idle away the time, and when my sled is loaded, yours has but little wood in it, you would be more to blame than Oliver."

"What, if I didn't play any more than Oliver?"

"Yes," said Jonas, "because you are responsible. It is your duty to be industrious, and it is also your duty to see that Oliver is industrious, if you are the director,—so that you neglect two duties.

"It is a good plan, too," said Jonas, "for a director to give his directions in a mild and gentle tone. Some boys are very domineering and authoritative in their manner."

"How do you mean?" said Josey.

"Why, they would say, for example, 'Get out of the way, John, quick.' Whereas, it would be better to say, 'John, you are in the way, where we want to come along.' Some men give their directions with great noise and vociferation, and others give them quietly and gently."

"I shouldn't think they'd mind 'em," said Josey.

"Yes," said Jonas. "Directions ought to be given very distinctly, so as to be plainly understood; but they are not obeyed any better for violence and noise in giving them. "

A commander ought to have a regard for those under him," continued Jonas, "and deal justly by them. If a number of boys were going to ride a wagon, and their father put one of them in charge, he ought not to keep the best seat in the wagon for himself."

While talking thus, the oxen continued slowly advancing along the road. Their previous trip had broken out the road, but the pathway was filled with loose snow of a pure and spotless white, through which the great sled runners, following the oxen, ploughed their way. On each side of the track which they had made, the surface was smooth and unbroken, excepting under some of the trees, where masses of snow had fallen down from above. They saw, at length, as they were passing along by the brook, a little track, like a double dotting, running along, in a winding way, under the trees,—then crossing the road, and disappearing under the trees upon the other side.

"What's that?" asked Josey.

"That's a rabbit track," replied Oliver.


 











</p>
</body>
</html>


