<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
Section 4. Information about Donations to the Project Gutenberg Literary Archive Foundation
Project Gutenberg-tm depends upon and cannot survive without wide spread public support and donations to carry out its mission of increasing the number of public domain and licensed works that can be freely distributed in machine readable form accessible by the widest array of equipment including outdated equipment. Many small donations ($1 to $5,000) are particularly important to maintaining tax exempt status with the IRS.

The Foundation is committed to complying with the laws regulating charities and charitable donations in all 50 states of the United States. Compliance requirements are not uniform and it takes a considerable effort, much paperwork and many fees to meet and keep up with these requirements. We do not solicit donations in locations where we have not received written confirmation of compliance. To SEND DONATIONS or determine the status of compliance for any particular state visit https://pglaf.org

While we cannot and do not solicit contributions from states where we have not met the solicitation requirements, we know of no prohibition against accepting unsolicited donations from donors in such states who approach us with offers to donate.

International donations are gratefully accepted, but we cannot make any statements concerning tax treatment of donations received from outside the United States. U.S. laws alone swamp our small staff.

Please check the Project Gutenberg Web pages for current donation methods and addresses. Donations are accepted in a number of other ways including including checks, online payments and credit card donations. To donate, please visit: https://pglaf.org/donate

Section 5. General Information About Project Gutenberg-tm electronic works.
Professor Michael S. Hart was the originator of the Project Gutenberg-tm concept of a library of electronic works that could be freely shared with anyone. For thirty years, he produced and distributed Project Gutenberg-tm eBooks with only a loose network of volunteer support.

Project Gutenberg-tm eBooks are often created from several printed editions, all of which are confirmed as Public Domain in the U.S. unless a copyright notice is included. Thus, we do not necessarily keep eBooks in compliance with any particular paper edition.

Each eBook is in a subdirectory of the same number as the eBook's eBook number, often in several formats including plain vanilla ASCII, compressed (zipped), HTML and others.

Corrected EDITIONS of our eBooks replace the old file and take over the old filename and etext number. The replaced older file is renamed. VERSIONS based on separate sources are treated as new eBooks receiving new filenames and etext numbers.

Most people start at our Web site which has the main PG search facility:

https://www.gutenberg.org

This Web site includes information about Project Gutenberg-tm, including how to make donations to the Project Gutenberg Literary Archive Foundation, how to help produce our new eBooks, and how to subscribe to our email newsletter to hear about new eBooks.

EBooks posted prior to November 2003, with eBook numbers BELOW #10000, are filed in directories based on their release date. If you want to download any of these eBooks directly, rather than using the regular search system you may utilize the following addresses and just download by the etext year.

http://www.ibiblio.org/gutenberg/etext06
    (Or /etext 05, 04, 03, 02, 01, 00, 99,
     98, 97, 96, 95, 94, 93, 92, 92, 91 or 90)
EBooks posted since November 2003, with etext numbers OVER #10000, are filed in a different way. The year of a release date is no longer part of the directory path. The path is based on the etext number (which is identical to the filename). The path to the file is made up of single digits corresponding to all but the last digit in the filename. For example an eBook of filename 10234 would be found at:

https://www.gutenberg.org/1/0/2/3/10234

or filename 24689 would be found at: https://www.gutenberg.org/2/4/6/8/24689

An alternative method of locating eBooks: https://www.gutenberg.org/GUTINDEX.ALL

*** END: FULL LICENSE ***STUDENTS
“They’ve got a splendid broadcasting station at the Tech, Bill.”

“I know it; hence my general exuberance. And if we don’t get at it once in a while, it’ll be because we can’t break in.”

“What do you want to shout into it first off?”

“Why, I thought you knew, Gus. I’ve got it all fixed, date and time, for Professor Gray and Mr. Hooper to listen in. They’re the chaps that are responsible for our getting into the Tech and they deserve our first message. I’ll explain to President Field and I know he won’t object.”

“What’s this you were telling me about 8hazing?” asked Gus, but as though really little interested.

“Terry Watkins was telling me; his cousin went there. Lost a new hat the third day, a pair of glasses the fourth and most of his clothes the fifth. His dad has a lot of dough, so he needn’t have minded, but that won’t be the case with us. I guess it’s me for carrying a gun.”

“If they’re mean enough to pick on you, old scout, I’ll carry one, too, but I think you’ll be exempt. If I’m to be a victim, I reckon I’ll have to grin and take——”

“No; you won’t, either. We’ve come here to study—not to fool—and we haven’t got money to spend on ruined duds just to gratify a lot of chumps. There are better things, too, than a gun; not so crude and not illegal.”

“I can imagine,” laughed Gus, and turned again to watch the fleeting landscape.

The chums journeyed in silence then, their minds busy conjecturing what their experiences 9and adventures were to be, after they became students of the Marshallton Technical School, which they were rapidly approaching and from which they held high hopes of gaining much knowledge. The institution, despite its modest name, was nothing less than a university of broad constructive teaching, with departments of engineering, electricity, chemistry, manual training and biology.

It was within the first two of these departments that William Brown and Augustus Grier were to concentrate their mental efforts. They had, as already related, earned this long-hoped-for opportunity to gain technical knowledge and training by showing what they could do along these lines. They had installed a small water-power plant and an electric lighting system for the Hooper estate, and had also won greater credit for constructing high-class radio receivers through which they had heard a no less personage than Thomas A. Edison speak. The boys had been saving their earnings 10to meet tech school expenses for at least a year. Their high school records, good common sense and scientific inclinations had been such as to receive the plaudits of their teacher, Professor Gray, and the members of their class.

Intense application and mental force characterized William Brown, who was called “Billy” by the high school girls—fine, bright-minded young women—and “Bill” by the boys. He was just Bill to nearly everyone. His friends referred to him as the school genius; and such he had proved to be on more than one occasion. Though compelled by a twisted leg to use a crutch and to abstain from strenuous physical participation in sports, he was a favorite. All saw his worth, and Professor Gray said of him that he possessed the mind of a philosopher and the expressiveness of a poet.

Cheerful, delighting in the strength of others, Bill’s natural love of friendly contests and admiration for physical prowess impelled him to 11adopt as his best chum Gus Grier, who had much in common with him concerning mechanical matters. Gus was in many things almost the exact counterpart of the lame boy.

Gus was bright, shrewd, practical, reticent. He had the sort of mentality that made him a good follower, with enough native wit to discover his own limitations and to acknowledge Bill’s superior characteristics. Both displayed that loyalty of friendship whose rare quality has made notable history. Sometimes their classmates called the boys David and Jonathan, or Damon and Pythias; sometimes, the head and body, the former referring to Bill and the latter, with no less admiration, to Gus because of his splendid athletic ability. The muscles of Gus were quite as remarkable in their way as Bill’s brains; and both boys were modest, aiding one another in every time of need, doubling all their efforts with the term “we,” which Bill used oftenest.

If Bill mastered a mental problem it was: “We 12did it by this method.” If Gus entered upon a trial of strength or physical skill it was: “We’ll do our best,” and then: “Well, we won, but it was no cinch”—in deference to the efforts of a beaten opponent. All this was a matter of course. And now, regarding the present, either friend might have said, “We’ve passed our exams and we’re going to Tech.”

“Guilford! Guilford! All out for Marshallton!” shouted the brakeman, and in half a minute the boys were climbing into a taxi bound for the school; in half an hour they were facing the great buildings which stood for so much learning, and in half a day they had matriculated and were of the student body.

13
CHAPTER II
FOOLED
“Come here quick and watch this!”

“What’s going on? I’ve got this letter——”

“This is some livelier than letter writing, Bill,” Gus declared, and a moment later Bill was of the same mind.

The boys gazed out of the window of their room in the school dormitory to witness an upper-class reception of one of the freshmen, a lad of almost tender years, yet husky and of undoubted good nature. He was expensively dressed to begin with, a little foppish in appearance even, and it was known that his people were very wealthy. Such as he, then, could well afford the sacrifice demanded of him to become a member in high standing of the Marshallton student body. Whatever was done, short of actual physical injury, 14must contribute to the violently initiated youth’s general glorification, at least this was the popular impression. It occurred to but few to make serious objections to that which was customary in the school.

Hazing, long since taboo or forbidden in many educational institutions, was still a part of Marshallton Tech, by reason of the belief that a high mentality and virile spirit demanded the extreme mental and physical show-down which hazing is wrongly supposed to bring out. Though severe enough, perhaps the initiations were not so terrible as to call for much complaint.

“By cracky, that’s rotten!” exclaimed Gus, as he watched the progress of the affair.

“Worse than mean!” agreed Bill.

This comment was called forth as the victim, in his efforts to escape from his tormentors, had his coat and vest torn from him. In a little time his shirt was reduced to ribbons. A fine gold watch and its broken chain lay on the ground among the 15feet of the struggling boys, and an unsuspecting heel soon reduced the time-piece to little more value than the metal in the case. A wallet slid out of a pocket and disgorged from its folds considerable cash and paper, some of which the bystanders gathered up with much difficulty. The freshman’s panama, kicked about in the dust, was not rescued until it resembled an uprooted weed.

“We wouldn’t enjoy being treated that way,” commented Gus, the sentimental.

“We couldn’t afford it,” amended Bill, the practical. “That sort of thing may be well enough for rich fellows, though I think it’s rank foolishness at any time. But, Gus, we’ve got to dodge it in some way.”

Gus made no reply. He was thinking that his chum was right, but, still interested in the excitement without, he left the usual whatever-it-must-be with Bill. When Bill spoke again, some few minutes after the well-hazed youth had made a get-away, Gus listened with interest.16

“We can get the materials,” Bill finished, “and it won’t take long to do the work.”

And it did not. Having procured a permit from the professor of physics—and no one could have refused Bill with his convincing tongue—the boys returned well loaded to their room. They took from a paper packing box, whose contents had been hidden from the curious, a lot of wire, some switches, some acid and a number of storage battery cells.

On their way from the central building the chums had been stopped by a number of upper classmen. It was mid-afternoon, an optional study or playtime, and just the hour for brewing mischief. This is what happened.

“Come on there, Freeporters! Put down those boxes; we have a little business to transact with you,” the spokesman called.

Gus gazed calmly at the five militant youths in front of him. Without undue egotism, he possessed an easy confidence, and he knew that, barring 17some bumps and scratches, that bunch would need assistance in hazing him. He would have complied forthwith, had not Bill given an ultimatum. With a small box under his left arm, he shifted his crutch to his left fingers and slipped the free hand into his pocket, drawing forth about the wickedest-looking pistol that any thug would use. The five began backing away, the spokesman turning quite pale and the others, no doubt, feeling much as he looked.

“Would you Indians want to haze me?” Bill asked.

“Aw, no. You’re exempt, of course. We don’t bother with cripples, kids, old ladies nor natural criminals.” This attempt to be witty trailed off weakly.

“Well, my friend here is carrying glass and we can’t tarry now. Any interference with him will result in my turning criminal instanter, and I’m keen to do so. Go on, Gus.”

Gus went on, and Bill, with weapon still in hand, 18followed after. He turned to call back to the flabbergasted five:

“You can find us in our room any time after to-day. Getting hazed is really great sport, and we won’t pull any guns on you then!”

Hardly half an hour elapsed before there came a knock at the door of the room occupied by Bill and Gus. A moment before, Gus had been down to get a pair of pliers that had dropped out of the window and two wide-eyed lads in the hallway had hailed him:

“That crutch-thumper that rooms with you is in for the G. B.,” one had said and the other had added:

“Say, he must be a blamed fool to carry a gun and pull it here. ‘Prex’ won’t stand for that.”

Bill called a “Come in” in answer to the knock, and no less than President Field and Professor Whitcomb, both looking very stern, entered.

“Brown and Grier, I have heard with real pain and very great surprise, after the letter from 19Professor Gray highly recommending you two lads, that you have so soon shown utter disregard for the rules, the standing, the decency of our institution by carrying and drawing a deadly weapon, a pistol, and on slight provocation. This is deserving of instant expul——”

“Sure is, Doctor Field, if it were so. But it isn’t. And please, also, do not hold the idea that it was on slight provocation. They were going to haze us, or rather Gus here, Doctor. We had just seen something of this sort, with the result that Fleming, of Chicago, had a ruined suit and panama, a fine watch destroyed, and a lot of money and papers probably lost. We came here to study; our means are limited; if we met with such a disaster our finances wouldn’t stand it and we’d have to go home; that’s all there is to it. Now, I can’t offer you a cigar, Doctor, because you don’t and I don’t smoke, but if I did I’d probably carry them in this case.”

With that Bill drew forth the nickeled pistol 20again, snapped it open and disclosed a rather unique cigar case which he extended toward the men.

“Oh, you mean that this thing was——”

“Just that, Doctor. I hope we have respect for the institution to which we have come for a much needed and wanted education. But I saw no harm in fooling those chaps who think they have the right to compel us to lose a lot of time and money. Am I right?”

President Field was human; he tilted back his head and laughed most heartily, nudging the professor also, in quite a boyish way.

“We are greatly relieved, and I wish you had scared those young rascals more than you did. Professor, we shall simply have to put a stop to this hazing—stop it under pain of dismissal. And this joke, now—it should be mentioned at chapel, eh? I really want to thank you, young gentlemen, for doing the school a distinct favor.”

“We hope to add to the joke somewhat by to-morrow, 21if you will kindly hold up that hazing ban for one day.”

“And how is that, may I ask?”

“Would you mind if we keep it a small secret until then? We can promise to refrain from anything dreadful.”

“But then we——”

“Please, Doctor. This, if you will trust us, will do more real good than anything the faculty can do in the way of verboten. Just twenty-four hours, Doctor.”

“Well, well, we shall see. From what Gray wrote, I think we may trust you. Good evening, boys.”

22
CHAPTER III
HAZED?At the long supper table in the spacious basement of the dormitory, many curious glances were aimed at Bill and Gus, and many a terse remark was shot at them respecting their departure from the honorable ways and the rules of the school. Most pronounced were the expressions of wonder over the fact that the carrier of concealed weapons had not been expelled, or suspended at once. Finally a sophomore whose influence seemed to count most gave voice to the prevailing sentiment:

“Well, I must say if that gun had been pulled on me, I’d have made the cad use it.”

“I’ll bet you would, too, Siebold!” declared an admirer.

Bill got on his feet and there was an instant 23hush. There was something to expect from the daring and apparently successful gunman. He laughed, and that also charged the atmosphere. When he spoke he had undivided attention:

“You would have run like any other scared puppy,” Bill said to Siebold. “We would have listened to you ki-yi-ing for about a mile. Say, look here, you hazers: You’re a bunch of muts! Hear me? The whole lot of you couldn’t haze anybody that puts up a fight, if you played anyway fair and gave a little notice. We’ll give you a dare, Siebold, you and all your deputies, though I suppose you’ll send them and hang back yourself. We’ll be ready to take all the hazing you fellows can give to-morrow afternoon at about three o’clock; only there isn’t one of you who will have the nerve to show up. Oh, ‘no weapons?’ That was only a cigar case I pulled on you to-day. It wouldn’t shoot, but, by cracky, it worked!” And Bill laughed, with Gus and a few others who admired the boy’s nerve.24

There was a sensation at once. Never before in the history of the school had a freshman dared the upper classmen to haze him, or had named the time and place. Would such a plan hold out?

It would, and it did. The very novelty of the thing had assured it, as Bill expected. Some little time before the hour given, a number of would-be spectators began to gather in the hallway, as Bill and Gus, studying in their room, could tell from the tramping of feet outside their door. Then there was the louder tramp of feet coming nearer and without a preliminary call or knock the door flew open. The chums looked up from their books with well simulated surprise. In the doorway and crowding behind stood several upper classmen and easy confidence was written all over their eager faces.

“Come right in, gentlemen; we are at your service,” said Bill.

“Ho, men! What’s this? Wire entanglements?”25

The question was opportune; flimsily stretched across in front of the attacking party and about shoulder high were some copper wires, and about equally spaced below were others. It could be seen that these offered no serious check, as anyone could spread them apart and push through. It was evidently with this intention that the hazers fairly struggled through the door in the effort of each to be first—at least half a dozen youths had their hands on the wires. Then Bill leaned back against the wall and his hand came in contact with a button.

Pandemonium! Cries of distress, yells of something more than discomfort, howls of dismay, calls for succor—the S O S in other than code signals. This was a very pretty chorus increased by some others who, hastily coming to the rescue, also became entangled. The rest, chiefly onlookers, refrained from too close acquaintance with the very apparent cause of all the trouble. But the 26truly crucial part of the crisis was due to the fact that those who suffered by contact with the wires found it impossible to get away from the source of distress.

27
CHAPTER IV
GOOD WILL AND FIXTURES
Bill made another motion touching the wall button, and instantly, with a combined and very audible gasp, the seven youths relaxed, got away from the wires and stood up. There would probably have been a general retreat mixed with a volley of expletives hurled at Bill and Gus, had not Gus taken a hand in the prevention of this, as planned. A stream of water from a long syringe, aimed over the heads of the sufferers, had cleared the doorway of spectators. The jerk of a ceiling cord slammed the door shut and it was deadlatched, requiring a key to open it. The would-be hazers, thus trapped and fearful of attempting a further attack, turned, perforce, to face their captors.

But there was one fellow, Albert Shurtlief, who 28so deeply resented the electric shocking that his desire for instant retaliation robbed him of caution. He was coming right over the wires again and did get partly through before another touch of the wall button gave him a second siege of writhing. The others looked on in wonder, convinced that the best thing they could do was to remain quiescent. Gus said:

“Let up on him, Bill, and if he wants to come through——”

Again the button. The still furious sophomore did get past the wires and was going to make a rush at Bill when Gus stood in his way.

“Now, please. You ought to go a little slow.” That was a way Gus had in making a protest against what might end in a scrap. But without further ado, Shurtlief, who was commonly known as “Scrapper Bert,” let fly an angry fist right at Gus’ exposed jaw.

If the electrically charged wires had surprised the mischief-making upper classmen, the sudden 29collapsing of their fistic champion shocked them even more. Scrapper Bert was rather noted for his prowess. No one cared to put on the gloves with him, nor to gain his displeasure. To see the new boy, a “measly freshman,” not as tall, as heavy nor as old as Bert, catch the assailant’s hard-driven fist in the palm of an instantly extended hand and then let drive with his own right a neat, short-arm uppercut that got Bert just where he had meant to get Gus, was a needed lesson to the smug conceit that too often goes with added school years. Bert, from a seat on the floor, which he had taken without choice of the spot, regarded his opponent through half-closed eyes with a certain nonchalance, his anger fled. He slowly got to his feet, climbed back through the wires without further thought as to their being charged, and stood with his companions, quite submissive and mute.

As usual on all occasions demanding words, Bill’s tongue was loosened:30

“Look here, fellows, we want to give you the right dope on this thing: You see we are here to study—to try and go through if our money holds out. Our people are not rich and, like Tom Edison when he was a boy, we’ve got to hustle on short allowance. And we really can’t afford to be hazed, as you did that new chap yesterday. If we had to buy new clothes and watches and caps, we’d have to quit school—see? And we knew you never missed anybody much, so we naturally, asking your pardon, got up this nice little reception for you. Now to get right down to brass tacks, you see our position and respect it—everyone of you—and, putting yourselves in our position, you don’t blame us, nor hold any grudges; isn’t that so?”

Siebold, spokesman, made reply, after thinking a little.

“Oh, well, I suppose all is fair in war. You’ve had your innings now, of course, but we’ll have 31ours later.” And then he added: “We’ll get you.”

From what Doctor Field said, Bill and Gus knew better. Hazing would be broken up on pain of expulsion, as it should be in all schools where the attendance is for business purposes, the getting of a technical education as a means of livelihood. The boys felt that perhaps in a college art course, where education becomes much play on the part of well-to-do lads, class fracases, bowl fights, initiations and the like may not be amiss, but they did not intend to let open brutality rob them of their chance to study. And, however sure they felt that Siebold’s threat was idle, there would be a satisfaction in winning their own fight.

“Now, that’s just what we want to talk to you fellows about,” Bill declared. “You don’t want to think about ‘getting’ us. We want you to call this all off and for good; we want you to give your word on it; see?”

“No; we can’t—” began Siebold.32

“Won’t, eh?” Bill’s words came sharp and clear. “Well, then, take a little more treatment for your blamed foolishness.” And Bill touched another button.

The contortions, the writhings, the shrieks and cries that followed quite surpassed the former exhibitions. The well-worn woolen rug that fitted from wall to wall across the end of the room where stood the seven seemed to be charged with red hot needles. Suddenly these ceased to leap and jump and burn; the old rug and the hidden wires under it were again quiescent. But the strident voices of the afflicted prisoners were not silenced, though the late lamentings were given over to a medley of condemnations, appeals and pleadings.

“Say, go a little slow on this!”

“Call it off, confound you!”

“Are you trying to electrocute us?”

“Say, Brown, please——”

“Let’s call it quits, fellows!”



</p>
</body>
</html>


