<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
Labor Lost.
[pg 7]
Elky.
When he was between five and six years old, he was one day at work in his little garden, planting some beans. His father had given him a little square bed in a corner of the garden, which he had planted with corn two days before. He watched his corn impatiently for two days, and, as it did not come up, he thought he would plant it again with beans. He ought to have waited longer.

He was sitting on a little cricket, digging holes in the ground, when he heard a sudden noise. He started up, and saw a strange, monstrous head looking at him over the garden wall. He jumped up, [pg 8]and ran as fast as he could towards the house.

It happened that Jonas, the boy, was at that time at work in the yard, cutting wood, and he called out, “What is the matter, he?”

he had just looked round, and seeing that the head remained still where it was, he was a little ashamed of his fears; so at first he did not answer, but walked along towards Jonas.

“That's the colt,” said Jonas; “should not you like to go and see him?”

he looked round again, and true enough, it was a small horse's head that was over the wall. It looked smaller now than it did when he first saw it.

Now there was behind the garden a green field, with scattered trees upon it, and a thick wood at the farther side. Jonas took he by the hand, and led him back into the garden, towards the colt. The colt took his head back over the fence as they approached, and walked away. He was now afraid of he. Jonas and he climbed up upon a stile which was built there against the fence, and saw the colt trotting away slowly [pg 9]down towards the wood, looking back at he and Jonas, by bending his head every minute, first on one side, and then on the other.

“There comes father,” said he.

Jonas looked and saw he's father coming out of the wood, leading a horse. The colt and the horse had been feeding together in the field, and he's father had caught the horse, for he wanted to take a ride. he's father had a little basket in his hand, and when he saw the colt coming towards him, he held it up and called him, “Elky, Elky, Elky, Elky,” for the colt's name was Elkin, though they often called him Elky. Elkin walked slowly up to the basket, and put his nose in it. He found that there were some oats in it; and he's father poured them out on the grass, and then stood by, patting Elky's head and neck while he ate them. he thought his head looked beautifully; he wondered how he could have been afraid of it.

he's father led the horse across the field, through a gate, into a green lane [pg 10]which led along the side of the garden towards the house; and he said he would run round into the lane and meet him. So he jumped off of the stile, and ran up the garden, and Jonas followed him, and went back to his work.

he ran round to meet his father, who was coming up the green lane, leading the horse with a rope round his neck.

“Father,” said he, “could you put me on?”

His father smiled, and lifted he up carefully, and placed him on the horse's back. Then he walked slowly along.

“Father,” said he, “are you going away?”

“Yes,” said he, “I am going to ride away in the wagon.”

“Why did not you catch Elky, and let him draw you?”

“Elky? O, Elky is not old enough to work.”

“Not old enough to work!” said he, “Why, he is pretty big. He is almost as big as the horse. I should think he could draw you alone in the wagon.”

“Perhaps he is strong enough for that; but Elky has never learned to work yet.”

[pg 11]“Never learned!” said he, in great surprise. “Do horses have to learn to work? Why, they have nothing to do but to pull.”

“Why, suppose,” said his father, “that he should dart off at once as soon as he is harnessed, and pull with all his strength, and furiously.”

“O, he must not do so: he must pull gently and slowly.”

“Well, suppose he pulls gently a minute, and then stops and looks round, and then I tell him to go on, and he pulls a minute again, and then stops and looks round.”

“O no,” said he, laughing, “he must not do so; he must keep pulling steadily all the time.”

“Yes, so you see he has something more to do than merely to pull; he must pull right, and he must be taught to do this. Besides, he must learn to obey all my various commands. Why, a horse needs to be taught to work as much as a boy.”

“Why, father, I can work; and I have never been taught.”

“O no,” said his father, smiling, “you cannot work.”

[pg 12]“I can plant beans,” said he.

Just then, he, who was all this time riding on the horse, looked down from his high seat into a little bush by the side of the road, and saw there a little bunch that looked like a birdsnest; and he said, “O, father, please to take me down; I want to look at that birdsnest.”

His father knew that he would not hurt the birdsnest; so he took him off of the horse, and put him on the ground. Then he walked on with the horse, and he turned back to see the nest. He climbed up upon a log that lay by the side of the bush, and then gently opened the branches and looked in. Four little, unfledged birds lifted up their heads, and opened their mouths wide. They heard the noise which he made, and thought it was their mother come to feed them.

“Ah, you little dickeys,” said he; “hungry, are you? I have not got any thing for you to eat.”

he looked at them a little while, and then slowly got down and walked along up the lane, saying to himself, “They are not big enough to work, at any rate, but I am, I know, and I do not believe but that Elky is.”

[pg 13]
Preparations.
When he got back into the yard, he found his father just getting into the wagon to go away. Jonas stood by the horse, having just finished harnessing him.

“Father,” said he, “I can work. You thought I could not work, but I can. I am going to work to-day while you are gone.”

“Are you?” said his father. “Very well; I should be glad to have you.”

“What should you like to have me do?” asked he.

“O, you may pick up chips, or pile that short wood in the shed. But stand back from the wheel, for I am going to start now.”

So he stood back, and his father drew up the reins which Jonas had just put into his hands, and guided the horse slowly and carefully out of the yard. he ran along behind the wagon as far as the gate, to see his father go off, and stood there a few minutes, watching him as he rode along, until he disappeared at [pg 14]a turn in the road. He then came back to the yard, and sat down on a log by the side of Jonas, who was busily at work mending the wheelbarrow.

he sat singing to himself for some time, and then he said,

“Jonas, father thinks I am not big enough to work; don't you think I am?”

“I don't know,” said Jonas, hesitating. “You do not seem to be very industrious just now.”

“O, I am resting now,” said he; “I am going to work pretty soon.”

“What are you resting from?” said Jonas.

“O, I am resting because I am tired.”

“What are you tired of?” said Jonas. “What have you been doing?”

he had no answer at hand, for he had not been doing any thing at all. The truth was, it was pleasanter for him to sit on the log and sing, and see Jonas mend the wheelbarrow, than to go to work himself; and he mistook that feeling for being tired. Boys often do so when they are set to work.

he, finding that he had no excuse for sitting there any longer, presently got up, [pg 15]and sauntered along towards the house, saying that he was going to work, picking up chips.

Now there was, in a certain corner of the yard, a considerable space covered with chips, which were the ones that he had to pick up. He knew that his father wished to have them put into a kind of a bin in the shed, called the chip-bin. So he went into the house for a basket.

He found his mother busy; and she said she could not go and get a basket for him; but she told him the chip-basket was probably in its place in the shed, and he might go and get that.

“But,” said he, “that is too large. I cannot lift that great basket full of chips.”

“You need not fill it full then,” said his mother. “Put in just as many as you can easily carry.”

he still objected, saying that he wanted her very much to go and get a smaller one. He could not work without a smaller one.

“Very well,” said she, “I would rather that you should not work then. The in[pg 16]terruption to me to get up now, and go to look for a smaller basket, will be greater than all the good you will do in picking up chips.”

he then told her that his father wanted him to work, and he related to her all the conversation they had had. She then thought that she had better do all in her power to give he a fair experiment; so she left her work, went down, got him a basket which he said was just big enough, and left him at the door, going out to his work in the yard.

A Bad Beginning.
he sat down on the chips, and began picking them up, all around him, and throwing them into his basket. He soon filled it up, and then lugged it in, emptied it into the chip-bin, and then returned, and began to fill it again.

He had not got his basket more than half full the second time, before he came upon some very large chips, which were so square and flat, that he thought they would be good to build houses with. He [pg 17]thought he would just try them a little, and began to stand them up in such a manner as to make the four walls of a house. He found, however, an unexpected difficulty; for although the chips were large and square, yet the edges were so sharp that they would not stand up very well.

Some time was spent in trying experiments with them in various ways; but he could not succeed very well; so he began again industriously to put them into his basket.

When he got the basket nearly full, the second time, he thought he was tired, and that it would be a good plan to take a little time for rest; and he would go and see Jonas a little while.

Now his various interruptions and delays, his conversation with his mother, the delay in getting the basket, and his house-building, had occupied considerable time; so that, when he went back to Jonas, it was full half an hour from the time when he left him; and he found that Jonas had finished mending the wheelbarrow, and had put it in its place, and was just going away himself into the field.

[pg 18]“Well, he,” said he, “how do you get along with your work?”

“O, very well,” said he; “I have been picking up chips all the time since I went away from you.”

he did not mean to tell a falsehood. But he was not aware how much of his time he had idled away.

“And how many have you got in?” said Jonas.

“Guess,” said he.

“Six baskets full,” said Jonas.

“No,” said he.

“Eight.”

“No; not so many.”

“How many, then?” said Jonas, who began to be tired of guessing.

“Two; that is, I have got one in, and the other is almost full.”

“Only two?” said Jonas. “Then you cannot have worked very steadily. Come here and I will show you how to work.”

What he Might Do.
So Jonas walked along to the chips, and asked he to fill up that basket, and [pg 19]carry it, and then come back, and he would tell him.

So he filled up the basket, carried it to the bin, and came back very soon. Jonas told him then to fill it up again as full as it was before.

“There,” said Jonas, when it was done, “now it is as full as the other was, and I should think you have been less than two minutes in doing it. We will call it two minutes. Two minutes for each basket full would make thirty baskets full in an hour. Now, I don't think there are more than thirty baskets full in all; so that, if you work steadily, but without hurrying any, you would get them all in in an hour.”

“In an hour?” said he. “Could I get them all in in an hour?”

“Yes,” said Jonas, “I have no doubt you can. But you must not hurry and get tired out. Work moderately, but steadily;—that is the way.”

So Jonas went to the field, leaving he to go on with his thirty baskets. he thought it would be a fine thing to get the chips all in before his father should come home, and he went to work very busily filling his basket the third time.

[pg 20]“I can do it quicker,” said he to himself. “I can fill the basket a great deal faster than that. I will get it all done in half an hour.”

So he began to throw in the chips as fast as possible, taking up very large ones too, and tossing them in in any way. Now it happened that he did fill it this time very quick; for the basket being small, and the chips that he now selected very large, they did not pack well, but lay up in every direction, so as apparently to fill up the basket quite full, when, in fact, there were great empty spaces in it; and when he took it up to carry it, it felt very light, because it was in great part empty.

He ran along with it, forgetting Jonas's advice not to hurry, and thinking that the reason why it seemed so light was because he was so strong. When he got to the coal-bin, the chips would not come out easily. They were so large that they had got wedged between the sides of the basket, and he had hard work to get them out.

This fretted him, and cooled his ardor somewhat; he walked back rather slowly, and began again to fill his basket.

[pg 21]
A New Plan.
Before he had got many chips in it, however, he happened to think that the wheelbarrow would be a better thing to get them in with. They would not stick in that as they did in the basket. “Men always use a wheelbarrow,” he said to himself, “and why should not I?”

So he turned the chips out of his basket, thus losing so much labor, and went after the wheelbarrow. He spent some time in looking to see how Jonas had mended it, and then he attempted to wheel it along to the chips. He found it quite heavy; but he contrived to get it along, and after losing considerable time in various delays, he at last had it fairly on the ground, and began to fill it.

He found that the chips would go into the wheelbarrow beautifully, and he was quite pleased with his own ingenuity in thinking of it. He thought he would take a noble load, and so he filled it almost full, but it took a long time to do it, for the wheelbarrow was so large that he got tired, and stopped several times to rest.

[pg 22]When, at length, it was full, he took hold of the handles, and lifted away upon it. He found it very heavy. He made another desperate effort, and succeeded in raising it from the ground a little; but unluckily, as wheelbarrows are very apt to do when the load is too heavy for the workman, it tipped down to one side, and, though he exerted all his strength to save it, it was in vain.


Too Heavy.
Too Heavy.
[pg 23]Over went the wheelbarrow, and about half of the chips were poured out upon the ground again.

“O dear me!” said he; “I wish this wheelbarrow was not so heavy.”

He sat down on the side of the wheelbarrow for a time in despair. He had a great mind to give up work for that day. He thought he had done enough; he was tired. But, then, when he reflected that he had only got in three small baskets of chips, and that his father would see that it was really true, as he had supposed, that he could not work, he felt a little ashamed to stop.

So he tipped the wheelbarrow back, which he could easily do now that the load was half out, and thought he would wheel those along, and take the rest next time.

By great exertions he contrived to stagger along a little way with this load, until presently the wheel settled into a little low place in the path, and he could not move it any farther. This worried and troubled him again. He tried to draw the wheelbarrow back, as he had often seen Jonas do in similar cases, but in vain. It would not move back or forwards. [pg 24]Then he went round to the wheel, and pulled upon that; but it would not do. The wheel held its place immovably.

he sat down on the grass a minute or two, wishing that he had not touched the wheelbarrow. It was unwise for him to have left his basket, his regular and proper mode of carrying the chips, to try experiments with the wheelbarrow, which he was not at all accustomed to. And now the proper course for him to have taken, would have been to leave the wheelbarrow where it was, go and get the basket, take out the chips from the wheelbarrow, and carry them, a basket full at a time, to the bin, then take the wheelbarrow to its place, and go on with his work in the way he began.

But he, like all other boys who have not learned to work, was more inclined to get somebody to help him do what was beyond his own strength, than to go quietly on alone in doing what he himself was able to do. So he left the wheelbarrow, and went into the house to try to find somebody to help him.

He came first into the kitchen, where Mary was at work getting dinner, and he [pg 25]asked her to come out and help him get his wheelbarrow out of a hole. Mary said she could not come then, but, if he would wait a few minutes, she would. he could not wait, but went off in pursuit of his mother.

“Mother,” said he, as he opened the door into her chamber, “could not you come out and help me get my wheelbarrow along?”

“What wheelbarrow?” said his mother.

“Why, the great wheelbarrow. I am wheeling chips in it, and I cannot get it along.”

“I thought you were picking up chips in the basket I got for you.”

“Yes, mother, I did a little while; but I thought I could get them along faster with the wheelbarrow.”

“And, instead of that, it seems you cannot get them along at all.”“Why, mother, it is only one little place. It is in a little hole. If I could only get it out of that little hole, it would go very well.”

“But it seems to me you are not a very profitable workman, he, after all. You wanted me very much to go and get you [pg 26]a small basket, because the common basket was too large and heavy; so I left my work, and went and got it for you. But you soon lay it aside, and go, of your own accord, and get something heavier than the common chip-basket, a great deal. And now I must leave my work and go down and wheel it along for you.”

“Only this once, mother. If you can get it out of this hole for me, I will be careful not to let it get in again.”

“Well,” said his mother at length, “I will go. Though the common way with wagoners, when they get their loads into difficulty, is to throw a part off until they lighten it sufficiently, and then go on. I will go this time; but if you get into difficulty again, you must get out yourself.”

So he and his mother went down together, and she took hold of the wheelbarrow, and soon got it out. She advised he not to use the wheelbarrow, but to return to his basket, but yet wished him to do just as he thought best himself.

When she had returned to the house, he went on with his load, slowly and with great difficulty. He succeeded, however, in working it along until he came to [pg 27]the edge of the platform which was before the shed door, where he was to carry in his chips. Here, of course, he was at a complete stand, as he could not get the wheel up such a high step; so he sat down on the edge of the platform, not knowing what to do next.

He could not go to his mother, for she had told him that she could not help him again; so, on the whole, he concluded that he would not pick up chips any more; he would pile the wood. He recollected that his father had told him that he might either pick up chips or pile wood; and the last, he thought, would be much easier.

“I shall not have any thing to carry or to wheel at all,” said he to himself, “and so I shall not have any of these difficulties.”

So he left his wheelbarrow where it was, at the edge of the platform, intending to ask Jonas to get it up for him when he should come home. He went into the shed, and began to pile up the wood.

It was some very short, small wood, prepared for a stove in his mother's chamber, and he knew where his father wanted to have it piled—back against the side of [pg 28]the shed, near where the wood was lying Jonas had thrown it down there in a heap as he had sawed and split it.

Hirrup! Hirrup!
He began to lay the wood regularly upon the ground where his pile was to be, and for a few minutes went on very prosperously. But presently he heard a great trampling in the street, and ran out to see what it was, and found that it was a large herd of cattle driving by—oxen and cows, and large and small calves. They filled the whole road as they walked slowly along, and he climbed up upon the fence, by the side of the gate, to look at them. He was much amused to see so large a herd, and he watched all their motions. Some stopped to eat by the road side; some tried to run off down the lane, but were driven back by boys with long whips, who ran after them. Others would stand still in the middle of the road and bellow, and here and there two or three would be seen pushing one another with their horns, or running up upon a bank by the road side.

[pg 29]Presently he heard a commotion among the cattle at a little distance, and, looking that way, saw that Jonas was in among them, with a stick, driving the about, and calling out, Hirrup! Hirrup! At first he could not think what he was doing; but presently he saw that their own cow had got in among the others, and Jonas was trying to get her out.

Some of the men who were driving the herd helped him, and they succeeded, at length, in getting her away by herself, by the side of the road. The rest of the cattle moved slowly on, and when they were fairly by, Jonas called out to he to open the gate and then run away.

he did, accordingly, open the gate and run up the yard, and presently he saw the cow coming in, with Jonas after her.

“Jonas,” said he, “how came our cow in among all those?”

“She got out of the pasture somehow,” said Jonas, in reply, “and I must go and drive her back. How do you get along with your chips?”

“O, not very well. I want you to help me get the wheelbarrow up on the platform.”

[pg 30]“The wheelbarrow!” said Jonas. “Are you doing it with the wheelbarrow?”

“No. I am not picking up chips now at all. I am piling wood. I did have the wheelbarrow.”

In the mean time, the cow walked along through the yard and out of the gate into the field, and Jonas said he must go on immediately after her, to drive her back into the pasture, and put up the fence, and so he could not stop to help he about the chips; but he would just look in and see if he was piling the wood right.

He accordingly just stepped a moment to the shed door, and looked at he's work. “That will do very well,” said he; “only you must put the biggest ends of the sticks outwards, or it will all tumble down.”

So saying, he turned away, and walked off fast after the cow.

An Overturn.
he stood looking at him for some time, wishing that he was going too. But [pg 31]he knew that he must not go without his mother's leave, and that, if he should go in to ask her, Jonas would have gone so far that he should not be able to overtake him. So he went back to his wood-pile.

He piled a little more, and as he piled he wondered what Jonas meant by telling him to put the largest ends outwards. He took up a stick which had a knot on one end, which made that end much the largest, and laid it on both ways, first with the knot back against the side of the shed, and then with the knot in front, towards himself. He did not see but that the stick lay as steadily in one position as in the other.

“Jonas was mistaken,” said he. “It is a great deal better to put the big ends back. Then they are out of sight; all the old knots are hid, and the pile looks handsomer in front.”

So he went on, putting the sticks upon the pile with the biggest ends back against the shed. By this means the back side of the pile began soon to be the highest, and the wood slanted forward, so that, when it was up nearly as high as his head, it leaned forward so as to be quite[pg 32] unsteady. he could not imagine what made his pile act so. He thought he would put on one stick more, and then leave it. But, as he was putting on this stick, he found that the whole pile was very unsteady. He put his hand upon it, and shook it a little, to see if it was going to fall, when he found it was coming down right upon him, and had just time to spring back before it fell.

He did not get clear, however; for, as he stepped suddenly back, he tumbled over the wood which was lying on the ground, and fell over backwards; and a large part of the pile came down upon him.

He screamed out with fright and pain, for he bruised himself a little in falling; though the wood which fell upon him was so small and light that it did not do much serious injury.

he stopped crying pretty soon, and went into the house; and that evening, when his father came home, he went to him, and said,

“Father, you were right, after all; I don't know how to work any better than Elky.”

[pg 35]
The Two Little Wheelbarrows.
Rides.
he often used to ride out with his father and mother. When he was quite a small boy, he did not know how to manage so as to get frequent rides. He used to keep talking, himself, a great deal, and interrupting his father and mother, when they wanted to talk; and if he was tired, he would complain, and ask them, again and again, when they should get home. Then he was often thirsty, and would tease his father and mother for water, in places where there was no water to be got, and then fret because he was obliged to wait a little while. In consequence of this, his father and mother did not take him very often. When they wanted a quiet, still, pleasant ride, they had to leave he behind. A great many [pg 36]children act just as he did, and thus deprive themselves of a great many very pleasant rides.

he observed, however, that his uncle almost always took Lucy with him when he went to ride. And one day, when he was playing in the yard where Jonas was at work setting out trees, he saw his uncle riding by, with another person in the chaise, and Lucy sitting between them on a little low seat. Lucy smiled and nodded as she went by; and when she had gone, he said,

“There goes Lucy, taking a ride. Uncle almost always takes her, when he goes any where. I wonder why father does not take me as often.”

“I know why,” said Jonas.

“What is the reason?” said he.

“Because you are troublesome, and Lucy is not. If I was a boy like you, I should manage so as almost always to ride with my father.”

“Why, what should you do?” said he.




 











</p>
</body>
</html>


